{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    <div class="front-block-ally">
        {% if app.user.getAlly() %}
            <h1 class="text-center text-orange mb-4">{{ app.user.getAlly().getName() }}<small> - [{{ app.user.getAlly().getSigle() }}]</small></h1>
            <div class="text-center modify-allyImage">
                {% if app.user.getAlly().getImageName() %}
                    <img height="300" width="450" src="{{ vich_uploader_asset(app.user.getAlly(), 'imageFile') }}">
                {% else %}
                    <img height="300" width="450" src="{{ asset('img/ally.jpg') }}">
                {% endif %}
            </div>
            {{ form_start(form_allyImage,{attr: { hidden: 'hidden'}}) }}
            {{ form_widget(form_allyImage.imageFile) }}
            {{ form_widget(form_allyImage.sendForm) }}
            {{ form_end(form_allyImage) }}
            <div class="text-center my-2">"{{ app.user.getAlly().getSlogan() }}"</div>
            <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true">{{ app.user.getAlly().getUsers()|length }} {{ 'ally.members'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pre_ally_page_bank') }}" >{{ 'ally.found'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pre_ally_page_pacts') }}" >{{ app.user.getAlly().getPacts() }}  {{ 'ally.pacts'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('pre_ally_page_add') }}" >{{ 'ally.add'|trans }}</a>
                </li>
                {% if app.user.getGrade().getPlacement() == 1 %}
                    <li class="nav-item">
                        <a href="{{ path('pre_ally_page_admin') }}" >{{ 'ally.admin'|trans }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('pre_ally_page_exit') }}" >{{ 'ally.leave'|trans }}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab">
                    <table class="table table-striped table-bordered table-dark text-center mt-5">
                        <tbody>
                        <tr>
                            <th class="tab-cells-name">{{ 'ally.memberGrade'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberName'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberDateJoin'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberConnected'|trans }}</th>
                            {% if app.user.getGrade().getCanKick() == 1 %}
                                <th class="tab-cells-name">{{ 'ally.memberKick'|trans }}</th>
                            {% endif %}
                        </tr>
                        {% for user in app.user.getAlly().getUsers() %}
                            <tr>
                                <td class="center-cells">
                                    {% if app.user.getGrade().getPlacement() == 1 %}
                                        <a class="btn-top" href="{{ path('pre_ally_addUser_grade', {'id': user.getId() }) }}" data-toggle="modal" data-target="#openModal">{{ user.getGrade().getName() }}</a> <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.changeGrade'|trans }}"></span>
                                    {% else %}
                                        {{ user.getGrade().getName() }}
                                    {% endif %}
                                </td>
                                <td class="center-cells">
                                    <span><a data-toggle="modal" data-target="#userModal" href="{{ path('pre_user_profil_modal', {'id': user.getId()}) }}">{{ user.getUsername() }}</a></span>
                                </td>
                                <td class="center-cells">
                                    {{ user.getJoinAllyAt()|date('H:i d/m/Y') }}
                                </td>
                                <td class="center-cells">
                                    {% if user.getLastActivity() %}{{ user.getLastActivity()|date('H:i d/m/Y') }}{% else %}{{ 'ally.notConnected'|trans }}{% endif %}
                                </td>
                                {% if app.user.getGrade().getCanKick() == 1 %}
                                    <td class="center-cells">
                                        <a class="text-rouge" href="{{ path('pre_ally_kick',{'id': user.getId()}) }}"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'ally.kick'|trans }}</span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
        {% endif %}
        <div class="pre-rank">
            <hr>
            <h3 class="text-center text-orange mb-3">{{ 'ally.ranked'|trans }}</h3>
            <table class="table table-striped table-bordered table-dark text-center">
                <tbody>
                <tr>
                    <th class="tab-cells-name p-2">
                        {{ 'rank.ally'|trans }}
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ 'rank.members'|trans }}
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ 'rank.createdAt'|trans }}
                    </th>
                </tr>
                {% set x = 1 %}
                {% for ally in allAllys %}
                    <tr>
                        <th class="tab-cells-name p-2">
                            <span><a data-toggle="modal" data-target="#userModal" href="{{ path('pre_ally_profil_modal', {'id': ally.getId()}) }}">[{{ ally.getSigle() }}] {{ ally.getName() }}</a></span>
                        </th>
                        <th class="tab-cells-name p-2">
                            {{ ally.getUsers()|length }} / 6
                        </th>
                        <th class="tab-cells-name p-2">
                            {{ ally.getcreatedAt()|date('H:i:s d/m/Y') }}
                        </th>
                    </tr>
                    {% set x = x + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
