{% trans_default_domain 'front_menu' %}

<div class="navbar navbar-dark bg-top">
    <a class="btn-top" href="/">{{ 'home'|trans }}</a>
    <a class="btn-top" href="{{ path('overview') }}">{{ 'overview'|trans }}</a>
    <a class="btn-top" href="{{ path('media') }}">{{ 'media'|trans }}</a>
    <a class="btn-top" href="{{ path('rules') }}">{{ 'rules'|trans }}</a>
    <a class="btn-top" href="{{ path('faq') }}">{{ 'faq'|trans }}</a>
    <a class="btn-top" href="{{ path('contact') }}">{{ 'contact'|trans }}</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn-top" href="{{ path('easyadmin') }}">{{ 'easyadmin'|trans }}</a>
    {% endif %}
    {% if app.user %}
        <a class="btn-top" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
    {% endif %}
    {% if app.user is null %}
        <div class="text-right">
            <form action="{{ path('login') }}" method="post">
                <input type="text" id="username" placeholder="{{ 'username'|trans }}" name="_username"/>
                <input type="password" placeholder="{{ 'password'|trans }}" id="password" name="_password"/>
                <button class="btn btn-secondary" type="submit">{{ 'login'|trans }}</button>
            </form>
        </div>
    {% endif %}
    <div class="footer">
        <a href="http://www.facebook.com/" target="_blank">{{ 'footer'|trans }}</a>
    </div>
</div>