{% trans_default_domain 'front_menu' %}

<div class="card">
    <div class="card-body">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <div class="row">
                    <div class="col-8">
                        <a class="btn btn-lg btn-primary mx-4" href="/">{{ 'home'|trans }}</a>
                        <a class="btn btn-lg btn-primary mr-4" href="{{ path('media') }}">{{ 'media'|trans }}</a>
                        <a class="btn btn-lg btn-primary mr-4" href="{{ path('rules') }}">{{ 'rules'|trans }}</a>
                        <a class="btn btn-lg btn-primary mr-4" href="{{ path('faq') }}">{{ 'faq'|trans }}</a>
                        <a class="btn btn-lg btn-primary mr-4" href="{{ path('contact') }}">{{ 'contact'|trans }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-lg btn-primary mr-4" href="{{ path('easyadmin') }}">{{ 'easyadmin'|trans }}</a>
                        {% endif %}
                        {% if app.user %}
                            <a class="btn btn-lg btn-primary mr-4" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
                        {% endif %}
                    </div>
                    {% if app.user is null %}
                        <div class="col-4 text-right">
                            <form action="{{ path('login') }}" method="post">
                                <input type="text" id="username" placeholder="{{ 'username'|trans }}" name="_username"/>
                                <input type="password" placeholder="{{ 'password'|trans }}" id="password" name="_password"/>
                                <button class="btn btn-secondary" type="submit">{{ 'login'|trans }}</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>