{% extends 'base.html.twig' %}

{% trans_default_domain 'front_contact' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_menu -%}
        {% include 'top_menu/_top_menu.html.twig' %}
    {%- endblock -%}
    <div class="row my-5">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body text-center">
                    {{ form_start(form_contact) }}
                    {{ form_widget(form_contact.text) }}
                    {{ form_widget(form_contact.email) }}
                    {{ form_widget(form_contact.sendForm,{attr: { class: 'btn btn-secondary'}}) }}
                    {{ form_end(form_contact) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
