{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        <div class="front-block-game">
            {% if app.user.getAlly() %}
                <h1 class="text-center p-4">{{ 'ally.gradeTitle'|trans }}</h1>
                <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a href="{{ path('ally', {'usePlanet': usePlanet.getId()}) }}" >{{ app.user.getAlly().getUsers()|length }} {{ 'ally.members'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_bank', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.found'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_pacts', {'usePlanet': usePlanet.getId()}) }}" >{{ app.user.getAlly().getPacts() }}  {{ 'ally.pacts'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_add', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.add'|trans }}</a>
                    </li>
                    {% if app.user.getGrade().getPlacement() == 1 %}
                        <li class="nav-item">
                            <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">{{ 'ally.admin'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if app.user.getAlly().getPolitic() == 'democrate' %}
                        <li class="nav-item">
                            <a href="{{ path('ally_page_exit', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.leave'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="mt-5 text-center">
                    {{ form_start(form_allyDefcon) }}
                    {{ form_label(form_allyDefcon.defcon) }} {{ form_widget(form_allyDefcon.defcon) }} {{ form_widget(form_allyDefcon.sendForm) }}
                    {{ form_end(form_allyDefcon) }}
                </div>
                {% if app.user.getAlly().getPolitic() != 'fascism' %}
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                            {{ form_start(form_allyGrade) }}
                            <table class="table table-striped table-bordered table-dark text-center mt-5">
                                <tbody>
                                <tr>
                                    <th class="tab-cells-name">{{ 'ally.gradeName'|trans }}</th>
                                    <th class="tab-cells-name">{{ 'ally.canRecruit'|trans }}</th>
                                    <th class="tab-cells-name">{{ 'ally.canPeace'|trans }}</th>
                                    <th class="tab-cells-name">{{ 'ally.canKick'|trans }}</th>
                                    <th class="tab-cells-name">{{ 'ally.canWar'|trans }}</th>
                                    <th class="tab-cells-name">{{ 'ally.priority'|trans }}</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="center-cells pt-3">{{ form_widget(form_allyGrade.name) }}</td>
                                    <td class="center-cells cell-middle">{{ form_widget(form_allyGrade.canRecruit) }}</td>
                                    <td class="center-cells cell-middle">{{ form_widget(form_allyGrade.canPeace) }}</td>
                                    <td class="center-cells cell-middle">{{ form_widget(form_allyGrade.canKick) }}</td>
                                    <td class="center-cells cell-middle">{{ form_widget(form_allyGrade.canWar) }}</td>
                                    <td class="center-cells pt-3">{{ form_widget(form_allyGrade.placement) }}</td>
                                    <td class="center-cells">{{ form_widget(form_allyGrade.sendForm) }}</td>
                                </tr>
                                </tbody>
                            </table>
                            {{ form_end(form_allyGrade) }}
                            <div class="pull-right mt-3">
                                <span class="mr-3">{{ 'ally.deleteText'|trans }}</span>
                                <a data-toggle="confirmation" data-placement="right" data-title="{{ 'ally.delete.question'|trans }}" href="{{ path('remove_ally', {'usePlanet': usePlanet.getId()}) }}" class="btn btn-lg btn-danger">{{ 'delete'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}
