{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        <div class="front-block-second">
            {% if ally %}
                <h1 class="text-center text-orange mb-4">{{ ally.getName() }}<small> - [{{ ally.getTag() }}]</small></h1>
                <div class="text-center modify-allyImage">
                    {% if ally.getImageName() %}
                        <img alt="{{ 'image'|trans({},'front_global') }}" height="300" width="450" src="{{ vich_uploader_asset(ally, 'imageFile') }}">
                    {% else %}
                        <img alt="{{ 'image'|trans({},'front_global') }}" height="300" width="450" src="{{ asset('img/ally.webp') }}">
                    {% endif %}
                </div>
                {{ form_start(form_allyImage,{attr: { hidden: 'hidden'}}) }}
                {{ form_widget(form_allyImage.imageFile) }}
                {{ form_widget(form_allyImage.sendForm) }}
                {{ form_end(form_allyImage) }}
                <div class="text-center my-2">"{{ ally.getSlogan() }}"</div>
                <ul class="nav nav-tabs mt-4" id="myTab">
                    <li class="nav-item">
                        <a href="{{ path('ally', {'usePlanet': usePlanet.getId()}) }}" >{{ ally.getCommanders()|length }} {{ 'ally.members'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_bank', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.found'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_pacts', {'usePlanet': usePlanet.getId()}) }}" >{{ ally.getPacts() }}  {{ 'ally.pacts'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_add', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.add'|trans }}</a>
                    </li>
                    {% if commander.getGrade().getPlacement() == 1 %}
                        <li class="nav-item">
                            <a href="{{ path('ally_page_admin', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.admin'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if ally.getPolitic() == 'democrate' %}
                    <li class="nav-item">
                        <a class="nav-link active" id="leave-tab" data-toggle="tab" href="#leave" role="tab" aria-controls="leave" aria-selected="false">{{ 'ally.leave'|trans }}</a>
                    </li>
                    {% endif %}
                </ul>
                {% if ally.getPolitic() == 'democrate' %}
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="leave" role="tabpanel" aria-labelledby="leave-tab">
                            <div class="pull-right mt-5">
                                <span class="mr-3">{{ 'ally.leaveText'|trans }}</span>
                                <a data-toggle="confirmation" data-placement="right" data-title="{{ 'ally.leave.question'|trans }}" href="{{ path('leave_ally', {'usePlanet': usePlanet.getId()}) }}" class="btn btn-lg btn-danger">{{ 'leave'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}
