{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally_rank' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        <table class="table table-striped borderOverview table-dark text-center">
            <tbody>
            <tr>
                <th width="15px" class="tab-cells-name p-2">
                    {{ 'rank.position'|trans }}
                </th>
                <th class="tab-cells-name p-2 text-left">
                    {{ 'rank.ally'|trans }}
                </th>
                <th class="tab-cells-name p-2">
                    {{ 'rank.members'|trans }}
                </th>
                <th class="tab-cells-name p-2">
                    {{ 'rank.planets'|trans }}
                </th>
                <th class="tab-cells-name p-2">
                    {{ 'rank.createdAt'|trans }}
                </th>
                <th class="tab-cells-name p-2">
                    {{ 'rank.embassy'|trans }}
                </th>
            </tr>
            {% set x = 1 %}
            {% for ally in allAllys %}
                <tr>
                    <th width="15px" class="tab-cells-name p-2">
                        {% if x == 1 %}<div class="text-or glyphicon glyphicon-star"></div> {{ x }}.{% elseif x == 2 %}<div class="text-argent glyphicon glyphicon-star"></div> {{ x }}.{% elseif x == 3 %}<div class="text-bronze glyphicon glyphicon-star"></div> {{ x }}.{% else %}<div class="glyphicon glyphicon-star" hidden></div> {{ x }}.{% endif %}
                    </th>
                    <th class="tab-cells-name p-2 text-left">
                        <span><a data-toggle="modal" data-target="#userModal" href="{{ path('ally_profil_modal', {'idp': usePlanet.getId(), 'id': ally.getId()}) }}">[{{ ally.getSigle() }}] {{ ally.getName() }}</a></span>
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ ally.getUsers()|length }} / 6
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ ally.getPlanets()|number_format }}
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ ally.getcreatedAt()|date('H:i:s d/m/Y') }}
                    </th>
                    <th class="tab-cells-name p-2">
                        <span><a href="{{ path('ally_join_salon', {'idp': usePlanet.getId(), 'sigle': ally.getSigle()}) }}">{{ 'ally.ambassy'|trans|raw }}</a></span>
                    </th>
                </tr>
                {% set x = x + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
