{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_contact' %}

{% block body %}
    {%- block top_menu -%}
    {%- endblock -%}
    <div class="row p-5">
        <div class="offset-1 col-10">
            <div class="wrapper-page">
                <div class="text-center">
                    {{ form_start(form_contact,{attr: { action: path('contact') }}) }}
                    <div class="form-group">
                        {{ form_widget(form_contact.text) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form_contact.email) }}
                    </div>
                    <div class="form-group text-center mt-5">
                        {{ form_widget(form_contact.sendForm,{attr: { class: 'btn btn-lg btn-info'}}) }}
                    </div>
                    {{ form_end(form_contact) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
