{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_crypto' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="{{ path('whitepaper') }}">
                <div class="crypto-block catch-border text-more">
                    <div class="my-3">
                        <h1 class="text-or text-center pb-4">{{ 'whitepaper.title'|trans }}</h1>
                        <img alt="{{ 'image'|trans({},'front_global') }}" class="crypto-logo center pb-4" src="{{ asset('img/whitepaper_crypto.webp') }}">
                        {{ 'whitepaper.desc'|trans }}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="{{ path('buy') }}">
                <div class="crypto-block catch-border text-more">
                    <div class="my-3">
                        <h1 class="text-or pb-4">{{ 'buy.title'|trans }}</h1>
                        <img alt="{{ 'image'|trans({},'front_global') }}" class="crypto-logo center pb-4" src="{{ asset('img/buy_crypto.webp') }}">
                        {{ 'buy.desc'|trans }}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="{{ path('pools') }}">
                <div class="crypto-block catch-border text-more">
                    <div class="my-3">
                        <h1 class="text-or text-center pb-4">{{ 'pools.title'|trans }}</h1>
                        <img alt="{{ 'image'|trans({},'front_global') }}" class="crypto-logo center pb-4" src="{{ asset('img/pools_crypto.webp') }}">
                        {{ 'pools.desc'|trans }}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="{{ path('sell') }}">
                <div class="crypto-block catch-border text-more">
                    <div class="my-3">
                        <h1 class="text-or text-center pb-4">{{ 'sell.title'|trans }}</h1>
                        <img alt="{{ 'image'|trans({},'front_global') }}" class="crypto-logo center pb-4" src="{{ asset('img/sell_crypto.webp') }}">
                        {{ 'sell.desc'|trans }}
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
