{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_rules' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="unlogin-block">
                <div class="row">
                    <div class="col-6">
                        <nav id="navbar-rules" class="navbar navbar-dark bg-dark">
                            <a class="navbar-brand" href="#">{{ 'menu'|trans }}</a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link" href="#item-1">{{ 'rules.one'|trans }}</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ml-3 my-1" href="#item-1-1">{{ 'rules.oneSub1'|trans }}</a>
                                    <a class="nav-link ml-3 my-1" href="#item-1-2">{{ 'rules.oneSub2'|trans }}</a>
                                </nav>
                                <a class="nav-link" href="#item-2">{{ 'rules.two'|trans }}</a>
                                <a class="nav-link" href="#item-3">{{ 'rules.three'|trans }}</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ml-3 my-1" href="#item-3-1">{{ 'rules.threeSub1'|trans }}</a>
                                    <a class="nav-link ml-3 my-1" href="#item-3-2">{{ 'rules.threeSub2'|trans }}</a>
                                </nav>
                            </nav>
                        </nav>
                    </div>
                    <div class="col-6">
                        <body data-spy="scroll" data-target="#navbar-rules" data-offset="0">
                            <h4 id="item-1">{{ 'rules.one'|trans }}</h4>
                            <p>{{ 'rules.one.text'|trans }}</p>
                            <h5 id="item-1-1">{{ 'rules.oneSub1'|trans }}</h5>
                            <p>{{ 'rules.oneSub1.text'|trans }}</p>
                            <h5 id="item-1-2">{{ 'rules.oneSub2'|trans }}</h5>
                            <p>{{ 'rules.oneSub2.text'|trans }}</p>
                            <h4 id="item-2">{{ 'rules.two'|trans }}</h4>
                            <p>{{ 'rules.two.text'|trans }}</p>
                            <h4 id="item-3">{{ 'rules.three'|trans }}</h4>
                            <p>{{ 'rules.three.text'|trans }}</p>
                            <h5 id="item-3-1">{{ 'rules.threeSub1'|trans }}</h5>
                            <p>{{ 'rules.threeSub1.text'|trans }}</p>
                            <h5 id="item-3-2">{{ 'rules.threeSub2'|trans }}</h5>
                            <p>{{ 'rules.threeSub2.text'|trans }}</p>
                        </body>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
