{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_rules' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="unlogin-block">
                <div class="row">
                    <div class="col-6">
                        <nav id="navbar-rules" class="navbar sticky-top navbar-rules">
                            <a class="navbar-brand" href="#"><h1>{{ 'menu'|trans }}</h1></a>
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link" href="#item-1"><h2>{{ 'rules.one'|trans }}</h2></a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ml-3 my-1" href="#item-1-1"><h3>{{ 'rules.oneSub1'|trans }}</h3></a>
                                    <a class="nav-link ml-3 my-1" href="#item-1-2"><h3>{{ 'rules.oneSub2'|trans }}</h3></a>
                                </nav>
                                <a class="nav-link" href="#item-2"><h2>{{ 'rules.two'|trans }}</h2></a>
                                <a class="nav-link" href="#item-3"><h2>{{ 'rules.three'|trans }}</h2></a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ml-3 my-1" href="#item-3-1"><h3>{{ 'rules.threeSub1'|trans }}</h3></a>
                                    <a class="nav-link ml-3 my-1" href="#item-3-2"><h3>{{ 'rules.threeSub2'|trans }}</h3></a>
                                </nav>
                                <a class="nav-link" href="#item-4"><h2>{{ 'rules.four'|trans }}</h2></a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ml-3 my-1" href="#item-4-1"><h3>{{ 'rules.fourSub1'|trans }}</h3></a>
                                    <a class="nav-link ml-3 my-1" href="#item-4-2"><h3>{{ 'rules.fourSub2'|trans }}</h3></a>
                                </nav>
                                <a class="nav-link" href="#item-5"><h2>{{ 'rules.five'|trans }}</h2></a>
                            </nav>
                        </nav>
                    </div>
                    <div class="col-6 text-more">
                        <body data-spy="scroll" data-target="#navbar-rules" data-offset="0">
                            <h3 id="item-1" class="my-5">{{ 'rules.one'|trans }}</h3>
                            <p>{{ 'rules.one.text'|trans }}</p>
                            <h4 id="item-1-1" class="my-5 ml-4">{{ 'rules.oneSub1'|trans }}</h4>
                            <p>{{ 'rules.oneSub1.text'|trans }}</p>
                            <h4 id="item-1-2" class="my-5 ml-4">{{ 'rules.oneSub2'|trans }}</h4>
                            <p>{{ 'rules.oneSub2.text'|trans }}</p>
                            <h3 id="item-2" class="my-5">{{ 'rules.two'|trans }}</h3>
                            <p>{{ 'rules.two.text'|trans }}</p>
                            <h3 id="item-3" class="my-5">{{ 'rules.three'|trans }}</h3>
                            <p>{{ 'rules.three.text'|trans }}</p>
                            <h4 id="item-3-1" class="my-5 ml-4">{{ 'rules.threeSub1'|trans }}</h4>
                            <p>{{ 'rules.threeSub1.text'|trans }}</p>
                            <h4 id="item-3-2" class="my-5 ml-4">{{ 'rules.threeSub2'|trans }}</h4>
                            <p>{{ 'rules.threeSub2.text'|trans }}</p>
                            <p>{{ 'rules.four.text'|trans }}</p>
                            <h4 id="item-4-1" class="my-5 ml-4">{{ 'rules.fourSub1'|trans }}</h4>
                            <p>{{ 'rules.fourSub1.text'|trans }}</p>
                            <h4 id="item-4-2" class="my-5 ml-4">{{ 'rules.fourSub2'|trans }}</h4>
                            <p>{{ 'rules.fourSub2.text'|trans }}</p>
                            <h3 id="item-5" class="my-5">{{ 'rules.five'|trans }}</h3>
                            <p>{{ 'rules.five.text'|trans }}</p>
                        </body>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
