{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_rules' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="unlogin-block text-center">
                <div class="row my-5">
                    <div class="col-6 text-center">
                        <div class="unlogin-block text-middle">
                            <div><img width="80" src="{{ asset('img/logo.png') }}"></div>
                            <div class="mt-5">{{ 'blockOne'|trans({'%nbrUsers%': allUsers + 30, '%activeUsers%': userCos + 2})|raw }}</div>
                            <div class="mt-5">{{ 'blockTwo'|trans }}</div>
                            <div class="mt-5">{{ 'blockThree'|trans }}</div>
                            <div>Pseudo : test</div>
                            <div>Mot de passe : 1234</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
