{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_statistics' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="unlogin-block text-center">
                <div class="row my-5">
                    <div class="offset-1 col-10">
                        <div>
                            Area Universe c'est <span class='nbr-stats'>{{ allUsers }}</span> joueurs uniques dont <span class='nbr-stats'>{{ userCos }}</span> actuellement connecté et en train de jouer dans <span class='nbr-stats'>{{ nbrAlly }}</span> alliances.
                        </div>
                        <hr>
                        <div>
                            Un total de <span class='nbr-stats'>{{ server.nbrMessage }}</span> messages privés ont été envoyés entre les joueurs sur le serveur ainsi que <span class='nbr-stats'>{{ server.nbrSalonMessage }}</span> messages sur les différents salons.
                        </div>
                        <hr>
                        <div>
                            <span class='nbr-stats'>{{ server.nbrSell }}</span> échanges commerciaux ont permit de financer les <span class='nbr-stats'>{{ server.nbrColonize }}</span> colonisations pacifiques ainsi que <span class='nbr-stats'>{{ server.nbrBattle }}</span> combats spatiaux qui ont menés a <span class='nbr-stats'>{{ server.nbrInvasion }}</span> invasions de planètes adverses.
                        </div>
                        <hr>
                        <div>
                            Le nombre total de bâtiments construit par les joueurs est de <span class='nbr-stats'>{{ server.nbrBuilding }}</span>, et le nombre de recherches effectuées est de <span class='nbr-stats'>{{ server.nbrResearch }}</span>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
