{% extends 'base.html.twig' %}

{% trans_default_domain 'front_page_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    <div class="front-block allyPage text-center">
        <div class="my-4 ml-5">[{{ ally.getSigle() }}] - {{ ally.getName() }}</div>
        {% if ally.imageName %}
            <div class="text-center"><img height="300" width="450" src="{{ vich_uploader_asset(ally, 'imageFile') }}"></div>
        {% else %}
            <div class="text-center"><img height="300" width="450" src="{{ asset('img/ally.jpg') }}"></div>
        {% endif %}
        <div class="my-5 ml-5">{{ ally.getSlogan() }}</div>
        <div class="my-4 ml-5">{{ 'ally.leader'|trans }} {% for user in ally.getUsers() %}{% if user.getGrade().getPlacement() == 1 %}[<span class="text-vert">{{ user.getGrade().getName() }}</span><span><a href="{{ path('user_profil', {'idp': usePlanet.getId(), 'id': user.getId()}) }}"> {{ user.getUsername() }}</a></span>] - {% endif %}{% endfor %}</div>
        <div class="my-4 ml-5">{{ 'ally.nbr'|trans }} {{ ally.getUsers()|length }}</div>
        <div class="my-4 ml-5">{{ 'ally.galaxy'|trans }} 1</div>
        <div class="my-4 ml-5">{{ 'ally.planet'|trans }} {{ ally.getPlanets() }}</div>
        <div class="my-4 ml-5">{{ 'ally.fleet'|trans }} {{ ally.getFleets() }}</div>
    </div>
{% endblock %}
