{% extends 'base.html.twig' %}

{% trans_default_domain 'front_sector' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    {%- block footer -%}
    {%- endblock -%}
    <div class="pb-3 createFleet">
        {% for fleet in fleets %}
            <div class="my-3"><span><a href="{{ path('user_profil', {'characterProfil': fleet.getCharacter().getId(), 'usePlanet': usePlanet.getId()}) }}">{{ fleet.getCharacter().getUsername() }}</a></span> - <span class="{% if fleet.getCharacter() == character %}text-bleu{% elseif fleet.getCharacter().getAlly() == ally %}text-vert{% else %}text-rouge{% endif %}">{{ fleet.name }} : {{ fleet.getNbrSignatures()|number_format }} {% if fleet.getCharacter() == character and fleet.getFightAt() == null %}<span><a class="ml-3" href="{{ path('manage_fleet', {'usePlanet': usePlanet.getId(), 'fleetGive': fleet.getId()}) }}" data-toggle="modal" data-target="#editModal"><span>{{ 'sector.manageFleet'|trans }}</span></a></span></span>{% elseif fleet.getFightAt() %}<span class="ml-3 text-rouge">{{ 'fleet.combat'|trans }}</span>{% endif %}</div>
        {% endfor %}
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
