{% extends 'base.html.twig' %}

{% trans_default_domain 'front_sector' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    <div class="p-5 createFleet">
        {% for fleet in fleets %}
        <div class="my-3{% if fleet.getUser() == app.user %} text-bleu{% elseif fleet.getUser().getAlly() == app.user.getAlly() %} text-vert{% else %} text-rouge{% endif %}"><span><a href="{{ path('user_profil', {'idp': usePlanet.getId(), 'id': fleet.getUser().getId()}) }}">{{ fleet.getUser().getUserName() }} - {{ fleet.name }}</a></span> : {{ fleet.getNbrSignatures()|number_format }} {% if fleet.getUser() == app.user %}<span><a class="ml-3" href="{{ path('manage_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}" data-toggle="modal" data-target="#editModal"><span>{{ 'sector.manageFleet'|trans }}</span></a></span></div>{% endif %}
        {% endfor %}
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special-opaque">
            </div>
        </div>
    </div>
{% endblock %}
