{% extends 'base.html.twig' %}

{% trans_default_domain 'front_galaxy' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        <div class="map-block">
            {{ form_start(form_navigate) }}
            <div class="row mb-2 navigate">
                <div class="col-2 pt-1 text-more text-right">{{ form_label(form_navigate.galaxy) }}</div>
                <div class="col-1">
                    {{ form_widget(form_navigate.galaxy) }}
                </div>
                <div class="col-2 pt-1 text-more text-right">{{ form_label(form_navigate.sector) }}</div>
                <div class="col-1">
                    {{ form_widget(form_navigate.sector) }}
                </div>
                <div class="col-1">
                    {{ form_widget(form_navigate.sendForm) }}
                </div>
            </div>
            {{ form_end(form_navigate) }}
            <table class="table table-bordered galaxy-table text-center">
                <tbody>
                {% set x = 0 %}
                {% set y = 0 %}
                {% for planet in planets %}
                    {% if x == 0 %}
                        <tr>
                        {% set x = 0 %}
                    {% endif %}
                    {% if y % 25 == 0 %}
                    <td class="center-cells{% if planet.destroy == true %} red-border{% endif %}"><a
                            data-toggle="tooltip" data-placement="top"
                            title="{{ 'tooltip.sector'|trans({'%position%': planet.sector}) }}"
                            href="{{ path('map', {'sector':planet.sectorId, 'galaxy': planet.galaxy, 'usePlanet': usePlanet.getId()}) }}">
                    {% endif %}
                    <span class="{% if planet.empty == true %}pp-no2{% elseif planet.username == commander.getUsername() %}pp-mine2{% elseif ally and planet.alliance == ally.getTag() and planet.alliance != null or commander.getOurAlliancePact(planet.alliance) %}pp-ally2{% elseif planet.username and planet.zombie == false %}pp-enemy2{% elseif planet.cdr == true %}pp-cdr2{% elseif planet.trader == true %}pp-ia2{% elseif planet.zombie %}pp-bot{% endif %}">&#x25A0</span>
                    {% set y = y + 1 %}
                    {% if y % 25 == 0 %}</a></td>{% endif %}
                    {% set x = x + 1 %}
                    {% if x == 250 %}
                        </tr>
                        {% set x = 0 %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="mt-3 galaxy-info text-center">
                <span class="pp-mine text-more">&#x25A0</span> {{ 'galaxy.mine'|trans }} <span
                        class="pp-ally ml-4 text-more">&#x25A0</span> {{ 'galaxy.ally'|trans }} <span
                        class="pp-enemy ml-4 text-more">&#x25A0</span> {{ 'galaxy.enemy'|trans }} <span
                        class="pp-ia ml-4 text-more">&#x25A0</span> {{ 'galaxy.ia'|trans }} <span class="pp-bot ml-4">&#x25A0</span> {{ 'galaxy.iaBot'|trans }}
                <span class="pp-cdr ml-4 text-more">&#x25A0</span> {{ 'galaxy.cdr'|trans }} <span
                        class="ml-4">&#x25A0</span> {{ 'galaxy.empty'|trans }}
            </div>
            <div class="mt-3 galaxy-info text-center">
                {{ 'galaxy.domination'|trans }}{% for dom in doms %}<span class="ml-1">(<a
                            href="{{ path('ally_profil', {'allyCommander': dom.id, 'usePlanet': usePlanet.getId()}) }}">[{{ dom.alliance }}]</a>
                    </span> {{ (dom.number * 100 / totalPlanet)|number_format(2) }}%){% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
