{% extends 'base.html.twig' %}

{% trans_default_domain 'front_interact' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    {%- block footer -%}
    {%- endblock -%}
    <div class="p-4 text-center">
        {{ form_start(form_fleetMove,{attr: { action: path('planet_interact', {'planet': planet.getId(), 'usePlanet': usePlanet.getId()}) }}) }}
        <table class="table table-striped table-bordered table-dark">
            <tbody>
            <tr {% if character.getFleets()|length == 0 %}hidden{% endif %}>
                <td class="center-cells">
                    {{ form_widget(form_fleetMove.list) }}
                </td>
                <td class="center-cells">
                    {{ form_widget(form_fleetMove.flightType) }}
                </td>
                <td class="center-cells">
                    {{ form_widget(form_fleetMove.sendForm) }}
                </td>
            </tr>
            {#{% if planet.getCharacter() == null and planet.getCdr() == false and planet.getMerchant() == false %}
                <tr>
                    <td colspan="3" class="center-cells">
                        <span><a href="{{ path('send_sonde', {'usePlanet': usePlanet.getId(), 'id': planet.getId()}) }}">{{ 'interact.colonize'|trans }}</a></span>
                    </td>
                </tr>
            {% endif %}
            {% if planet.getCharacter() and fleet.getAllianceUser() %}
                <tr>
                    <td colspan="3" class="center-cells">
                        <span><a href="{{ path('send_sonde', {'usePlanet': usePlanet.getId(), 'id': planet.getId()}) }}">{{ 'interact.invader'|trans }}</a></span>
                    </td>
                </tr>
            {% endif %}
            {% if planet.getCdr() == true %}
                <tr>
                    <td colspan="3" class="center-cells">
                        <span><a href="{{ path('send_sonde', {'usePlanet': usePlanet.getId(), 'id': planet.getId()}) }}">{{ 'interact.recycle'|trans }}</a></span>
                    </td>
                </tr>
            {% endif %}
            {% if planet.getMerchant() == true %}
                <tr>
                    <td colspan="3" class="center-cells">
                        <span><a href="{{ path('send_sonde', {'usePlanet': usePlanet.getId(), 'id': planet.getId()}) }}">{{ 'interact.sell'|trans }}</a></span>
                    </td>
                </tr>
            {% endif %}#}
            {% if planet.getCharacter() and (render(controller('App\\Service\\PlanetService::userRadarAction', {'sector': planet.getSector().getPosition(), 'galaxy': planet.getSector().getGalaxy().getPosition()})) > planet.getSkyBrouilleur() or planet.getOurFleet(character)) %}
                <tr>
                    <td colspan="3" class="center-cells">
                        <span><a href="{{ path('user_profil', {'characterProfil': planet.getCharacter().getId(), 'usePlanet': usePlanet.getId()}) }}">{{ 'interact.seeProfil'|trans }} {{ planet.getCharacter().getUserName() }}</a></span>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="3" class="center-cells">
                    <span><a href="{{ path('send_sonde', {'planet': planet.getId(), 'usePlanet': usePlanet.getId()}) }}">{{ 'interact.sendSonde'|trans }}</a></span>
                </td>
            </tr>
            {% if planet.getCharacter() and planet.getCharacter().getZombie() == 0 %}
                <tr>
                    <td colspan="3" class="center-cells">
                        <span><a href="{{ path('send_nuclear', {'planet': planet.getId(), 'usePlanet': usePlanet.getId()}) }}">{{ 'interact.sendNuclear'|trans }}</a></span>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {{ form_end(form_fleetMove) }}
    </div>
{% endblock %}
