{% extends 'base.html.twig' %}

{% trans_default_domain 'front_map' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% set topSector = id - 10 %}
    {% if topSector < 0 %}
        {% set topSector = id + 90 %}
    {% endif %}
    {% set rightSector = id + 1 %}
    {% if rightSector == 101 %}
        {% set rightSector = 1 %}
    {% endif %}
    {% set bottomSector = id + 10 %}
    {% if bottomSector > 100 %}
        {% set bottomSector = id - 90 %}
    {% endif %}
    {% set leftSector = id - 1 %}
    {% if leftSector == 0 %}
        {% set leftSector = 100 %}
    {% endif %}
    <div class="map-block">
        <div class="block-title ml-4"><h2>{{ 'sector.number'|trans }} {{ id }}</h2></div>
        <table class="table sector-table text-center sector">
            <tbody>
            <tr>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell">
                    <span><a href="{{ path('map', {'id':topSector, 'idp': usePlanet.getId()}) }}"><span class="glyphicon glyphicon-chevron-up"></span></a></span>
                </td>
            </tr>
                {% set x = 1 %}
                {% for planet in planets %}
                    {% if x == 1 %}
                        <tr>
                            {% if planet.getPosition() != 11 %}
                                <td class="special-cell"></td>
                            {% endif %}
                    {% endif %}
                    {% if planet.getPosition() == 11 %}
                        <td class="special-cell">
                            <span><a href="{{ path('map', {'id':leftSector, 'idp': usePlanet.getId()}) }}"><span class="glyphicon glyphicon-chevron-left"></span></a></span>
                        </td>
                    {% endif %}
                    {% if planet.getEmpty == false %}
                        {% if app.user.getWhereRadar(id) > planet.getSkyBrouilleur() or planet.getUser() == app.user or planet.getOurFleet(app.user) or (planet.getPlanetAlliance() == app.user.getAlly() and app.user.getAlly()) %}
                            <td class="center-cells pt-4">
                                <div class="planet-position text-center">{{ planet.getPosition() }}</div>
                                {% if planet.getNbrFleets() %}
                                    {#<a class="glyphicon glyphicon-plane planet {{ planet.getFleetsColor(app.user) }}" href="{{ path('fleet_sector', {'id':planet.getId(), 'idp': usePlanet.getId()}) }}" data-toggle="modal" data-target="#fleetModal"></a>#}
                                    <a class="glyphicon glyphicon-plane planet {{ planet.getFleetsColor(app.user) }} tipFleet" data-placement="right" data-trigger="" title="
                                        {% for fleet in planet.getFleets() %}
                                        {% if fleet.getFlightTime() is null %}
                                            <div class='my-3 text-left'><span><a class='ally' data-toggle='modal' data-target='#userModal' href='{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': fleet.getUser().getId()}) }}'>{{ fleet.getUser().getUserName() }}</a></span> - {% if fleet.getUser() == app.user and fleet.getFightAt() == null %}<span><a class='manage' href='{{ path('manage_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}' data-toggle='modal' data-target='#editModal'><span>{{ fleet.name }} : {{ fleet.getNbrSignatures()|number_format }}</span></a></span>{% else %}<span class='{% if fleet.getUser().getAlly() == app.user.getAlly() %}text-vert{% else %}text-rouge{% endif %}'>{{ fleet.name }} : {{ fleet.getNbrSignatures()|number_format }}<span>{% endif %}{% if fleet.getFightAt() %}<span class='ml-3 text-rouge'>{{ 'fleet.combat'|trans }}</span>{% endif %}</div>
                                        {% endif %}{% endfor %}"data-html="true"></a>
                                {% endif %}
                                {% if planet.getNbCdr() or planet.getWtCdr() %}
                                    <span class="glyphicon glyphicon-oil planet" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.cdr'|trans({'%niobium%': planet.getNbCdr()|number_format, '%water%': planet.getWtCdr()|number_format}) }}"></span>
                                {% endif %}
                                {% if planet.getCdr() == false %}
                                    <span class="glyphicon glyphicon-info-sign" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.planetInfos'|trans({'%land%': planet.getGround(), '%radar%': planet.getRadar() + planet.getSkyRadar(), '%brouilleur%': planet.getSkyBrouilleur(), '%sky%': planet.getSky(), '%ground%': planet.getNbrSignatures()|number_format}) }}"></span>
                                {% endif %}
                                <a {% if planet.getUser() == app.user %}href="{{ path('building', {'idp': planet.getId()}) }}"{% elseif planet.getUser() %}href="{{ path('user_profil', {'idp': usePlanet.getId(), 'id': planet.getUser().getId()}) }}"{% endif %}><img class="mr-4 mb-4" {% if planet.getUser() %}data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.planet'|trans({'%name%': planet.getUser().getUserName() }) }}"{% endif %} height="64" width="64" src="{{ vich_uploader_asset(planet, 'imageFile') }}"></a>
                                <div class="text-center{% if planet.getUser() == app.user %} pp-mine{% elseif planet.getPlanetAlliance() == app.user.getAlly() and planet.getPlanetAlliance() != null %} pp-ally{% elseif planet.getUser() %} pp-enemy{% elseif planet.getCdr() %} pp-cdr{% elseif planet.getMerchant() %} pp-ia{% endif %}">{{ planet.getName() }}</div>
                            </td>
                        {% else %}
                            <td class="center-cells pt-4">
                            <div class="planet-position text-center">{{ planet.getPosition() }}</div>
                                {% if planet.getSkyBrouilleur() and app.user.getWhereRadar(id) > 0 %}
                                    <span class="glyphicon glyphicon-cd" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.brouillage'|trans() }}"></span>
                                {% endif %}
                                <img class="mr-4 mb-4" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.planet'|trans({'%name%': planet.getName() }) }}" height="64" width="64" src="{{ vich_uploader_asset(planet, 'imageFile') }}">
                                <div class="text-center{% if planet.getCdr() %} pp-cdr{% elseif planet.getMerchant() %} pp-ia{% endif %}{% if planet.getUser() %} pp-enemy">{{ 'map.planetHostile'|trans }}</div>{% else %}">{{ planet.getName() }}</div>{% endif %}
                            </td>
                        {% endif %}
                    {% else %}
                        {% if app.user.getWhereRadar(id) or planet.getOurFleet(app.user) %}
                            <td class="center-cells">
                                <div class="planet-position-empty text-center">{{ planet.getPosition() }}</div>
                                {% if planet.getNbCdr() or planet.getWtCdr() %}
                                    <span class="glyphicon glyphicon-oil empty" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.cdr'|trans({'%niobium%': planet.getNbCdr()|number_format, '%water%': planet.getWtCdr()|number_format}) }}"></span>
                                {% endif %}
                                {% if planet.getNbrFleets() %}
                                    <a class="glyphicon glyphicon-plane empty {{ planet.getFleetsColor(app.user) }} tipFleet" data-placement="right" data-trigger="" title="
                                        {% for fleet in planet.getFleets() %}
                                        {% if fleet.getFlightTime() is null %}
                                            <div class='my-3 text-left'><span><a class='ally' data-toggle='modal' data-target='#userModal' href='{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': fleet.getUser().getId()}) }}'>{{ fleet.getUser().getUserName() }}</a></span> - {% if fleet.getUser() == app.user and fleet.getFightAt() == null %}<span><a class='manage' href='{{ path('manage_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}' data-toggle='modal' data-target='#editModal'><span>{{ fleet.name }} : {{ fleet.getNbrSignatures()|number_format }}</span></a></span>{% else %}<span class='{% if fleet.getUser().getAlly() == app.user.getAlly() %}text-vert{% else %}text-rouge{% endif %}'>{{ fleet.name }} : {{ fleet.getNbrSignatures()|number_format }}<span>{% endif %}{% if fleet.getFightAt() %}<span class='ml-3 text-rouge'>{{ 'fleet.combat'|trans }}</span>{% endif %}</div>
                                        {% endif %}{% endfor %}"data-html="true"></a>                                {% endif %}
                            </td>
                        {% else %}
                            <td class="center-cells">
                                <div class="planet-position-empty text-center">{{ planet.getPosition() }}</div>
                            </td>
                        {% endif %}
                    {% endif %}
                    {% if planet.getPosition() == 15 %}
                        <td class="special-cell">
                            <span><a href="{{ path('map', {'id':rightSector, 'idp': usePlanet.getId()}) }}"><span class="glyphicon glyphicon-chevron-right"></span></a></span>
                        </td>
                    {% else %}
                        <td class="special-cell"></td>
                    {% endif %}
                    {% set x = x + 1 %}
                    {% if x == 6 %}
                        {% set x = 1 %}
                        </tr>
                    {% endif %}
                {% endfor %}
            <tr>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell"></td>
                <td class="special-cell">
                    <span><a href="{{ path('map', {'id':bottomSector, 'idp': usePlanet.getId()}) }}"><span class="glyphicon glyphicon-chevron-down"></span></a></span>
                </td>
            </tr>
            </tbody>
        </table>
    {% if app.user.getWhereRadar(id) %}
        <div class="mt-5 sector-info">
            <div class="block-title"><h2>{{ 'map.current'|trans }} <span class="glyphicon glyphicon-question-sign text-orange text-middle" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.fleetHere'|trans }}"></span></h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th class="tab-cells-name text-center">
                        {{ 'map.fleetName'|trans }}
                    </th>
                    <th class="tab-cells-name text-center">
                        {{ 'map.from'|trans }}
                    </th>
                    <th class="tab-cells-name text-center">
                        {{ 'map.goTo'|trans }}
                    </th>
                    <th class="tab-cells-name text-center">
                        {{ 'map.fleetSignature'|trans }} <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.signature'|trans }}"></span>
                    </th>
                    <th class="tab-cells-name text-center">
                        {{ 'map.time'|trans }}
                    </th>
                </tr>
                {% for fleet in fleetCurrent %}
                    <tr class="{% if fleet.getUser() == app.user %}text-bleu{% elseif fleet.getUser().getAlly() == app.user.getAlly() and app.user.getAlly() %}text-vert{% else %}text-rouge{% endif %}">
                        <th class="tab-cells-name">
                            "{{  fleet.getName() }}" <span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': fleet.getUser().getId()}) }}">{{ fleet.getUser().getUserName() }}</a></span>
                        </th>
                        <td class="center-cells text-center">
                            {{ fleet.getPlanet().getName() }} - {{ fleet.getPlanet().getSector().getGalaxy.getPosition() }}:{{ fleet.getPlanet().getSector.getPosition() }}:{{ fleet.getPlanet().getPosition() }}
                        </td>
                        <td class="center-cells text-center">
                            {{ fleet.getSector().getGalaxy.getPosition() }}:{{ fleet.getSector.getPosition() }}:{{ fleet.getPlanete() }}
                        </td>
                        <td class="center-cells text-center">
                            {{ fleet.getNbrSignatures()|number_format }}
                        </td>
                        <td class="center-cells text-center">
                            <span class="timerArea">{{ fleet.getFlightTime()|date('Y/m/d H:i:s') }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            <div class="mt-5 sector-info">
                <div class="block-title"><h2>{{ 'map.coming'|trans }} <span class="glyphicon glyphicon-question-sign text-orange text-middle" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.fleetEntrance'|trans }}"></span></h2></div>
                <table class="table table-striped table-bordered table-dark">
                    <tbody>
                    <tr>
                        <th class="tab-cells-name text-center">
                            {{ 'map.fleetName'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.from'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.goTo'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.fleetSignature'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.time'|trans }}
                        </th>
                    </tr>
                    {% for fleet in fleetIn %}
                        <tr class="{% if fleet.getUser() == app.user %}text-bleu{% elseif fleet.getUser().getAlly() == app.user.getAlly() and app.user.getAlly() %}text-vert{% else %}text-rouge{% endif %}">
                            <th class="tab-cells-name">
                                "{{  fleet.getName() }}" <span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': fleet.getUser().getId()}) }}">{{ fleet.getUser().getUserName() }}</a></span>
                            </th>
                            <td class="center-cells text-center">
                                {% if app.user.getWhereRadar(fleet.getPlanet().getSector.getPosition()) or fleet.getUser() == app.user %}<span><a href="{{ path('map', {id: fleet.getPlanet().getSector.getPosition(), 'idp': usePlanet.getId()}) }}">{{ fleet.getPlanet().getName() }} - {{ fleet.getPlanet().getSector().getGalaxy.getPosition() }}:{{ fleet.getPlanet().getSector.getPosition() }}:{{ fleet.getPlanet().getPosition() }}</a></span>{% else %}???{% endif %}
                            </td>
                            <td class="tab-cells-name text-center">
                                {{ fleet.getSector().getGalaxy.getPosition() }}:{{ fleet.getSector.getPosition() }}:{{ fleet.getPlanete() }}
                            </td>
                            <td class="center-cells text-center">
                                {{ fleet.getNbrSignatures()|number_format }}
                            </td>
                            <td class="center-cells text-center">
                                <span class="timerArea">{{ fleet.getFlightTime()|date('Y/m/d H:i:s') }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-5 sector-info">
                <div class="block-title"><h2>{{ 'map.out'|trans }} <span class="glyphicon glyphicon-question-sign text-orange text-middle" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.fleetQuit'|trans }}"></span></h2></div>
                <table class="table table-striped table-bordered table-dark">
                    <tbody>
                    <tr>
                        <th class="tab-cells-name text-center">
                            {{ 'map.fleetName'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.from'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.goTo'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.fleetSignature'|trans }}
                        </th>
                        <th class="tab-cells-name text-center">
                            {{ 'map.time'|trans }}
                        </th>
                    </tr>
                    {% for fleet in fleetOut %}
                        <tr class="{% if fleet.getUser() == app.user %}text-bleu{% elseif fleet.getUser().getAlly() == app.user.getAlly() and app.user.getAlly() %}text-vert{% else %}text-rouge{% endif %}">
                            <th class="tab-cells-name">
                                "{{  fleet.getName() }}" <span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': fleet.getUser().getId()}) }}">{{ fleet.getUser().getUserName() }}</a></span>
                            </th>
                            <td class="center-cells text-center">
                                {{ fleet.getPlanet().getName() }} - {{ fleet.getPlanet().getSector().getGalaxy.getPosition() }}:{{ fleet.getPlanet().getSector.getPosition() }}:{{ fleet.getPlanet().getPosition() }}
                            </td>
                            <td class="tab-cells-name text-center">
                                {% if app.user.getWhereRadar(fleet.getSector.getPosition()) or fleet.getUser() == app.user %}<span><a href="{{ path('map', {id: fleet.getSector().getPosition(), 'idp': usePlanet.getId()}) }}">{{ fleet.getSector().getGalaxy.getPosition() }}:{{ fleet.getSector.getPosition() }}:{{ fleet.getPlanete() }}</a></span>{% else %}???{% endif %}
                            </td>
                            <td class="center-cells text-center">
                                {{ fleet.getNbrSignatures()|number_format }}
                            </td>
                            <td class="center-cells text-center">
                                <span class="timerArea">{{ fleet.getFlightTime()|date('Y/m/d H:i:s') }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}
    </div>
    <div class="modal fade" id="fleetModal" tabindex="-1" role="dialog" aria-labelledby="fleetModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special text-center">
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special-opaque">
            </div>
        </div>
    </div>
{% endblock %}
