{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'administration' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="offset-1 col-10 mt-5">
            <div class="text-center mt-5">
                    <a class="confirm-button" href="{{ path('create_server', {'name': 'test'}) }}">{{ 'galaxy.create'|trans }}</a>
                {% for server in servers %}
                    <table class="table table-striped table-bordered table-dark text-left">
                        <tbody>
                        <tr>
                            <td>
                                <span class="mx-5">{{ 'server'|trans }} {{ server.id }}</span>
                                <img alt="{{ 'image'|trans({},'front_global') }}" class="galaxy-block mr-4 mb-4" src="{{ asset('img/server.webp') }}">
                                {% if server.open == 1 %}
                                    <a class="confirm-button text-vert" href="{{ path('deactive_server', {'server': server.id}) }}">{{ 'server.open'|trans }}</a>
                                {% else %}
                                    <a class="confirm-button text-rouge" href="{{ path('active_server', {'server': server.id}) }}">{{ 'server.closed'|trans }}</a>
                                {% endif %}
                                {% if server.pvp == 1 %}
                                    <a class="confirm-button text-rouge" href="{{ path('pve_server', {'server': server.id}) }}">{{ 'server.pvp'|trans }}</a>
                                {% else %}
                                    <a class="confirm-button text-vert" href="{{ path('pvp_server', {'server': server.id}) }}">{{ 'server.pve'|trans }}</a>
                                {% endif %}
                                <a class="btn-menu" href="{{ path('destroy_server', {'server': server.id}) }}">{{ 'serveur.kill.serveur'|trans }}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-dark text-left">
                        <tbody>
                        <tr>
                            {% set x = 1 %}
                        {% for galaxy in galaxys|filter(galaxy => galaxy.server == server.id) %}
                            {% if (x - 1) % 5 == 0 %}
                        </tr>
                        <tr>
                            {% endif %}
                            <td class="text-center">
                            <span><img alt="{{ 'image'|trans({},'front_global') }}" class="galaxy-block mb-4" src="{{ asset('img/galaxy.webp') }}"><span class="galaxy-position">{{ 'galaxy.nbr'|trans({'%position%': galaxy.position}) }}</span><span class="galaxy-players">{{ 'galaxy.players'|trans({'%players%': galaxy.commanders|number_format }) }}</span></span>
                                <div><a class="confirm-button" href="{{ path('destroy_galaxy', {'galaxy': galaxy.id}) }}">{{ 'galaxy.destroy'|trans }}</a></div>
                            </td>
                            {% set x = x + 1 %}
                        {% endfor %}
                            <td class="text-center">
                                <a class="confirm-button" href="{{ path('create_galaxy', {'server': server.id}) }}">{{ 'galaxy.create'|trans }}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
             {#
                <li>
                    <a class="btn-menu" href="{{ path('create_little') }}" target="_blank">{{ 'serveur.createLittle'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('destroy_sectors') }}" target="_blank">{{ 'serveur.kill.sector'|trans }}</a>
                </li>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('mail_while') }}">{{ 'adminMail'|trans }}</a>
                </li>#}
            </div>
        </div>
    </div>
{% endblock %}
