{% trans_default_domain 'front_menu' %}

<nav class="navbar-left navbar-dark bg-left text-center p-3">
    <div class="logo">
        <img height="64" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
    </div>
    <div class="logo">
        {#{{ form_start(form_image) }}#}
        {#{{ form_widget(form_image.imageFile) }}#}
        {#{{ form_widget(form_image.sendForm,{attr: { class: 'btn btn-secondary'}}) }}#}
        {#{{ form_end(form_image) }}#}
        <div class="text-orange my-4"><strong>{{ 'menu'|trans }}</strong></div>
    </div>
    <div class="btn-left">
        <a href="{{ path('overview') }}" class="btn btn-left"><span>{{ 'globalView'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('dailyCost') }}" class="btn btn-left"><span>{{ 'dailyCost'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('fleet') }}" class="btn btn-left"><span>{{ 'fleet'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('planet') }}" class="btn btn-left"><span>{{ 'planet'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('search') }}" class="btn btn-left"><span>{{ 'search'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('ally') }}" class="btn btn-left"><span>{{ 'ally'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('galaxy') }}" class="btn btn-left"><span>{{ 'galaxy'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('map') }}" class="btn btn-left"><span>{{ 'map'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('product') }}" class="btn btn-left"><span>{{ 'product'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('building') }}" class="btn btn-left"><span>{{ 'building'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('spatial') }}" class="btn btn-left"><span>{{ 'spatial'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('soldier') }}" class="btn btn-left"><span>{{ 'soldier'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('ground') }}" class="btn btn-left"><span>{{ 'ground'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('message') }}" class="btn btn-left"><span>{{ 'message'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('report') }}" class="btn btn-left"><span>{{ 'report'|trans }}</span></a>
    </div>
    <div class="btn-left-bottom">
        <a href="{{ path('salon') }}" class="btn btn-left"><span>{{ 'salon'|trans }}</span></a>
    </div>
    <div>
        <a href="{{ path('logout') }}" class="btn logout my-3"><span>{{ 'disconnect'|trans }}</span></a>
    </div>
</nav>