{% extends 'base.html.twig' %}

{% trans_default_domain 'front_overview' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="front-block">
                <table class="table table-striped table-bordered m-t-3 table-rights">
                    <thead>
                    <tr>
                        <th class="weight-cells">
                            {{ 'cell.none'|trans|raw }}
                            <div class="logo">
                                <div class="modify">
                                    {% if app.user %}
                                        {% if app.user.imageFile %}
                                            <img data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.modify'|trans }}" height="64" width="64" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
                                        {% else %}
                                            <img data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.modify'|trans }}" height="64" width="64" src="{{ asset('img/defaut.png') }}">
                                        {% endif %}
                                    {% else %}
                                        <img data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.modify'|trans }}" height="64" width="64" src="{{ asset('img/defaut.png') }}">
                                    {% endif %}
                                    <div><strong>{{ 'modify'|trans }}</strong></div>
                                </div>
                                <button class="text-orange my-4" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-content="{{ 'popover.text'|trans }}"><strong>{{ 'version'|trans }}</strong></button>
                            </div>
                            {{ form_start(form_image,{attr: { hidden: 'hidden'}}) }}
                            {{ form_widget(form_image.imageFile) }}
                            {{ form_widget(form_image.sendForm) }}
                            {{ form_end(form_image) }}
                        </th>
                        <th class="tab-cols-name center-cells">{{ 'cell.first'|trans|raw }}</th>
                        <th class="tab-cols-name center-cells">{{ 'cell.second'|trans|raw }}</th>
                        <th class="tab-cols-name center-cells">{{ 'cell.third'|trans|raw }}</th>
                        <th class="tab-cols-name center-cells">{{ 'cell.four'|trans|raw }}</th>
                        <th class="tab-cols-name center-cells">{{ 'cell.five'|trans|raw }}</th>
                        <th class="tab-cols-name center-cells">{{ 'cell.six'|trans|raw }}</th>
                        <th class="tab-cols-name center-cells">{{ 'cell.seven'|trans|raw }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tab-cells-name">{{ 'cell.group'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                    </tr>
                    <tr>
                        <td class="tab-cells-name">&nbsp;&nbsp;&nbsp;&#8627; {{ 'cell.group'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                        <td class="center-cells">{{ 'cell.lone'|trans|raw }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
