{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_white_paper' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10">
            <div class="unlogin-block text-more">
                <div class="my-3">
                    <h3 class="text-vert2">{{ 'thanks'|trans|raw }}</h3>
                    <h2 class="text-or pt-5">{{ 'goalofthecrypto.title'|trans|raw }}</h2>
                    {{ 'goalofthecrypto.desc'|trans|raw }}
                    <h2 class="text-or pt-5">{{ 'generation.title'|trans|raw }}</h2>
                    {{ 'generation.desc'|trans|raw }}
                    <h2 class="text-or pt-5">{{ 'spent.title'|trans|raw }}</h2>
                    {{ 'spent.desc'|trans|raw }}
                    <h2 class="text-or pt-5">{{ 'transfertwallet.title'|trans|raw }}</h2>
                    {{ 'transfertwallet.desc'|trans|raw }}
                    <h2 class="text-or pt-5">{{ 'transferttogame.title'|trans|raw }}</h2>
                    {{ 'transferttogame.desc'|trans|raw }}
                    <h2 class="text-or pt-5">{{ 'transfertingame.title'|trans|raw }}</h2>
                    {{ 'transfertingame.desc'|trans|raw }}
                    <h2 class="text-or pt-5">{{ 'buy.title'|trans|raw }}</h2>
                    {{ 'buy.desc'|trans|raw }}
                    <h2 class="text-or pt-5">{{ 'sell.title'|trans|raw }}</h2>
                    {{ 'sell.desc'|trans|raw }}
                    <h2 class="text-bronze pt-5">{{ 'season.title'|trans|raw }}</h2>
                    {{ 'season.desc'|trans|raw }}
                    <br>
                    {{ 'season.estimate'|trans|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
