{% extends 'base.html.twig' %}

{% trans_default_domain 'front_fleet' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ asset('build/flight.js') }}"></script>
    {% if fleet.getUser() == app.user or (fleet.getAlly() == app.user.getAlly() and app.user.getGrade().getPlacement() == 1) and fleet.fightAt() is null and fleet.flightTime() is null and fleet.getPlanet().getUser() == app.user and fleet.getPlanet().getRadarAt() == null and fleet.getPlanet().getBrouilleurAt() == null %}
    {% set cargoBonus = 1.2 + (app.user.getPoliticCargo() / 5) %}
    {% set multiple = fleet.getMotherShip() > 0 ? 1.1 : 1 %}
        <div class="front-block editFleet">
            {{ form_start(form_spatialShip) }}
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <td colspan="5" class="text-center">
                        <h2>{{ 'fleet.manageShip'|trans }}</h2>
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form_start(form_spatialShip,{attr: { action: path('manage_fleet', {'usePlanet': usePlanet.getId(), 'fleetGive': fleet.getId()}) }}) }}
            <table class="table table-striped table-bordered table-dark createFleet">
                <tbody>
                <tr>
                    <th class="tab-cells-name p-2 pl-3">
                        {{ 'fleet.fleetShip'|trans }}
                    </th>
                    <td class="center-cells p-2 text-center">
                        {{ 'fleet.carg'|trans }}
                    </td>
                    <td class="text-center">
                        {{ 'fleet.quantity'|trans }}
                    </td>
                    <td class="center-cells p-2 text-center">
                        {{ 'fleet.removeShip'|trans }}
                    </td>
                    <td class="center-cells p-2 text-center text-orange addAllShip">{{ 'fleet.allShip'|trans }}</td>
                    <td class="center-cells p-2 text-center">
                        {{ 'fleet.onGround'|trans }}
                    </td>
                    <td class="center-cells p-2 text-center">
                        {{ 'fleet.addShip'|trans }}
                    </td>
                    <td class="center-cells p-2 text-center text-orange removeAllShip">{{ 'fleet.allShip'|trans }}</td>
                </tr>
                <tr{% if fleet.getPlanet().getSonde() == 0 and fleet.getSonde() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.sonde'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getSonde()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessSonde,{attr: { max: fleet.getSonde()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getSonde()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreSonde,{attr: { max: fleet.getPlanet().getSonde()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getColonizer() == 0 and fleet.getColonizer() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.colonizer'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getColonizer()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessColonizer,{attr: { max: fleet.getColonizer()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getColonizer()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreColonizer,{attr: { max: fleet.getPlanet().getColonizer()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getCargoI() == 0 and fleet.getCargoI() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.cargoI'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ (30000 * cargoBonus * multiple)|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getCargoI()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessCargoI,{attr: { max: fleet.getCargoI()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getCargoI()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreCargoI,{attr: { max: fleet.getPlanet().getCargoI()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getCargoV() == 0 and fleet.getCargoV() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.cargoV'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ (100000 * cargoBonus * multiple)|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getCargoV()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessCargoV,{attr: { max: fleet.getCargoV()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getCargoV()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreCargoV,{attr: { max: fleet.getPlanet().getCargoV()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getCargoX() == 0 and fleet.getCargoX() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.cargoX'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ (250000 * cargoBonus * multiple)|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getCargoX()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessCargoX,{attr: { max: fleet.getCargoX()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getCargoX()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreCargoX,{attr: { max: fleet.getPlanet().getCargoX()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getRecycleur() == 0 and fleet.getRecycleur() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.recycleur'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ (5000 * multiple)|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getRecycleur()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessRecycleur,{attr: { max: fleet.getRecycleur()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getRecycleur()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreRecycleur,{attr: { max: fleet.getPlanet().getRecycleur()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getBarge() == 0 and fleet.getBarge() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.barge'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ (1000 * multiple)|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getBarge()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessBarge,{attr: { max: fleet.getBarge()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getBarge()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreBarge,{attr: { max: fleet.getPlanet().getBarge()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getMoonMaker() == 0 and fleet.getMoonMaker() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.moonMaker'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getMoonMaker()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessMoonMaker,{attr: { max: fleet.getMoonMaker()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getMoonMaker()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreMoonMaker,{attr: { max: fleet.getPlanet().getMoonMaker()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getRadarShip() == 0 and fleet.getRadarShip() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.radarShip'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getRadarShip()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessRadarShip,{attr: { max: fleet.getRadarShip()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getRadarShip()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreRadarShip,{attr: { max: fleet.getPlanet().getRadarShip()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getBrouilleurShip() == 0 and fleet.getBrouilleurShip() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.brouilleurShip'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getBrouilleurShip()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessBrouilleurShip,{attr: { max: fleet.getBrouilleurShip()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getBrouilleurShip()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreBrouilleurShip,{attr: { max: fleet.getPlanet().getBrouilleurShip()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getMotherShip() == 0 and fleet.getMotherShip() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.motherShip'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ ((fleet.getCargoPlace() * multiple) - fleet.getCargoPlace())|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getMotherShip()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessMotherShip,{attr: { max: fleet.getMotherShip()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getMotherShip()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreMotherShip,{attr: { max: fleet.getPlanet().getMotherShip()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getHunter() == 0 and fleet.getHunter() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.hunter'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getHunter()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessHunter,{attr: { max: fleet.getHunter()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getHunter()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreHunter,{attr: { max: fleet.getPlanet().getHunter()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getHunterHeavy() == 0 and fleet.getHunterHeavy() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.hunterHeavy'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ (35 * multiple)|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getHunterHeavy()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessHunterHeavy,{attr: { max: fleet.getHunterHeavy()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getHunterHeavy()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreHunterHeavy,{attr: { max: fleet.getPlanet().getHunterHeavy()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getHunterWar() == 0 and fleet.getHunterWar() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.hunterWar'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getHunterWar()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessHunterWar,{attr: { max: fleet.getHunterWar()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getHunterWar()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreHunterWar,{attr: { max: fleet.getPlanet().getHunterWar()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getCorvet() == 0 and fleet.getCorvet() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.corvet'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getCorvet()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessCorvet,{attr: { max: fleet.getCorvet()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getCorvet()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreCorvet,{attr: { max: fleet.getPlanet().getCorvet()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getCorvetLaser() == 0 and fleet.getCorvetLaser() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.corvetLaser'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getCorvetLaser()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessCorvetLaser,{attr: { max: fleet.getCorvetLaser()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getCorvetLaser()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreCorvetLaser,{attr: { max: fleet.getPlanet().getCorvetLaser()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getCorvetWar() == 0 and fleet.getCorvetWar() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.corvetWar'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getCorvetWar()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessCorvetWar,{attr: { max: fleet.getCorvetWar()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getCorvetWar()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreCorvetWar,{attr: { max: fleet.getPlanet().getCorvetWar()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getFregate() == 0 and fleet.getFregate() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.fregate'|trans }}
                    </th>
                    <td class="text-right p-1">
                        {{ (250 * multiple)|number_format }}
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getFregate()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessFregate,{attr: { max: fleet.getFregate()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getFregate()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreFregate,{attr: { max: fleet.getPlanet().getFregate()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getFregatePlasma() == 0 and fleet.getFregatePlasma() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.fregatePlasma'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getFregatePlasma()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessFregatePlasma,{attr: { max: fleet.getFregatePlasma()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getFregatePlasma()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreFregatePlasma,{attr: { max: fleet.getPlanet().getFregatePlasma()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getCroiser() == 0 and fleet.getCroiser() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.croiser'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getCroiser()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessCroiser,{attr: { max: fleet.getCroiser()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getCroiser()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreCroiser,{attr: { max: fleet.getPlanet().getCroiser()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getIronClad() == 0 and fleet.getIronClad() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name  p-1 pl-3">
                        {{ 'fleet.ironClad'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getIronClad()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessIronClad,{attr: { max: fleet.getIronClad()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getIronClad()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreIronClad,{attr: { max: fleet.getPlanet().getIronClad()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                <tr{% if fleet.getPlanet().getDestroyer() == 0 and fleet.getDestroyer() == 0 %} hidden{% endif %}>
                    <th class="tab-cells-name p-1 pl-3">
                        {{ 'fleet.destroyer'|trans }}
                    </th>
                    <td class="text-right p-1">
                        0
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getDestroyer()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.lessDestroyer,{attr: { max: fleet.getDestroyer()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInput">max</span>
                    </td>
                    <td class="text-right p-1">
                        {{ fleet.getPlanet().getDestroyer()|number_format }}
                    </td>
                    <td class="center-cells p-1 px-4">
                        {{ form_widget(form_spatialShip.moreDestroyer,{attr: { max: fleet.getPlanet().getDestroyer()}}) }}
                    </td>
                    <td width="30" class="tab-cells-name p-1 cell-middle text-center text-orange">
                        <span class="maxInputLess">max</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-dark createFleet">
                <tbody>
                <tr>
                    <td>
                        {{ 'fleet.cargoLess'|trans }}
                    </td>
                    <td>
                        {{ fleet.getCargoFull()|number_format }} / <span id="placeSplit">{{ fleet.getCargoPlace()|number_format }}</span> (en cours)
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <span class="float-left">
                    <a class="btn btn-lg btn-secondary" href="{{ path('manage_fleet', {'fleetGive': fleet.getId(), 'usePlanet': usePlanet.getId()}) }}">{{ 'fleet.back'|trans }}</a>
                </span>
                {{ form_widget(form_spatialShip.sendForm) }}
                {{ form_end(form_spatialShip) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
