<div style="margin-top: 2rem;margin-left: 3rem;"><img alt="{{ 'image'|trans({},'front_global') }}" src="{{ absolute_url(asset('img/logo00.png')) }}"></div>

<h3>Bonne année {{ username }} !</h3>

<div>Dix galaxies et 409 joueurs n'attendent que toi ! Arrivera tu à t'y imposer ?</div>

<div><a href="{{ url('home') }}">Rendez vous sur le jeu !</a></div>

<div>Si tu as oublié ton mot de passe <a href="{{ url('recoveryPw', {'key': id}) }}">clique ici</a> pour en obtenir un nouveau.</div>

<div>Area Universe.</div>

<small><a href="{{ url('home') }}">Clique ici pour ne plus recevoir de mail.</a></small>