{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block-ally">
        {% if app.user.getAlly() %}
            <h1 class="text-center text-orange mb-4">{{ app.user.getAlly().getName() }}<small> - [{{ app.user.getAlly().getSigle() }}]</small></h1>
            <div class="text-center modify-allyImage">
                {% if app.user.getAlly().getImageName() %}
                    <img height="300" width="450" src="{{ vich_uploader_asset(app.user.getAlly(), 'imageFile') }}">
                {% else %}
                    <img height="300" width="450" src="{{ asset('img/ally.jpg') }}">
                {% endif %}
            </div>
            {{ form_start(form_allyImage,{attr: { hidden: 'hidden'}}) }}
            {{ form_widget(form_allyImage.imageFile) }}
            {{ form_widget(form_allyImage.sendForm) }}
            {{ form_end(form_allyImage) }}
            <div class="text-center my-2">"{{ app.user.getAlly().getSlogan() }}"</div>
            <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true">{{ app.user.getAlly().getUsers()|length }} {{ 'ally.members'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('ally_page_bank', {'idp': usePlanet.getId()}) }}" >{{ 'ally.found'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('ally_page_pacts', {'idp': usePlanet.getId()}) }}" >{{ app.user.getAlly().getPacts() }}  {{ 'ally.pacts'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('ally_page_add', {'idp': usePlanet.getId()}) }}" >{{ 'ally.add'|trans }}</a>
                </li>
                {% if app.user.getGrade().getPlacement() == 1 %}
                    <li class="nav-item">
                        <a href="{{ path('ally_page_admin', {'idp': usePlanet.getId()}) }}" >{{ 'ally.admin'|trans }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('ally_page_exit', {'idp': usePlanet.getId()}) }}" >{{ 'ally.leave'|trans }}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab">
                    <table class="table table-striped table-bordered table-dark text-center mt-5">
                        <tbody>
                        <tr>
                            <th class="tab-cells-name">{{ 'ally.memberGrade'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberName'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberDateJoin'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberPoint'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberConnected'|trans }}</th>
                            {% if app.user.getGrade().getCanKick() == 1 %}
                                <th class="tab-cells-name">{{ 'ally.memberKick'|trans }}</th>
                            {% endif %}
                        </tr>
                        {% for user in app.user.getAlly().getUsers() %}
                            <tr>
                                <td class="center-cells">
                                    {% if app.user.getGrade().getPlacement() == 1 %}
                                        <a class="btn-top" href="{{ path('ally_addUser_grade', {'id': user.getId(), 'idp': usePlanet.getId() }) }}" data-toggle="modal" data-target="#openModal">{{ user.getGrade().getName() }}</a>
                                    {% else %}
                                        {{ user.getGrade().getName() }}
                                    {% endif %}
                                </td>
                                <td class="center-cells">
                                    <a href="{{ path('ally', {'idp': usePlanet.getId()}) }}">{{ user.getUsername() }}</a>
                                </td>
                                <td class="center-cells">
                                    {{ user.getJoinAllyAt()|date('d/m/Y H:i') }}
                                </td>
                                <td class="center-cells">
                                    {{ user.getRank().getPoint() }}
                                </td>
                                <td class="center-cells">
                                    {{ user.getConnected|trans }}
                                </td>
                                {% if app.user.getGrade().getCanKick() == 1 %}
                                    <td class="center-cells">
                                        <a class="text-rouge" href="{{ path('ally_kick',{'id': user.getId(), 'idp': usePlanet.getId()}) }}"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'ally.kick'|trans }}</span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
        {% endif %}
    </div>
    <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
