{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block-ally">
        <h1 class="text-center text-orange mb-4">{{ app.user.getAlly().getName() }} - <small>[{{ app.user.getAlly().getSigle() }}]</small></h1>
        <div class="text-center"><img height="300" width="450" src="{{ vich_uploader_asset(app.user.getAlly(), 'imageFile') }}"></div>
        <div class="text-center my-2">"{{ app.user.getAlly().getSlogan() }}"</div>
        {% for user in app.user.getAlly().getUsers() %}
            {{ user.getUsername() }} - {{ user.getGrade().getName() }}
        {% endfor %}
    </div>
{% endblock %}
