{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        {% if ally %}
            <div class="front-block-second">
                <h1 class="text-center text-orange mb-4">{{ ally.getName() }}<small> - [{{ ally.getSigle() }}]</small></h1>
                <h3 class="text-center text-or mb-4">{{ 'ally.level'|trans }}{{ ally.getLevel() }}</h3>
                <div class="text-center modify-allyImage">
                    {% if ally.getImageName() %}
                        <img alt="{{ 'image'|trans({},'front_global') }}" height="300" width="450" src="{{ vich_uploader_asset(ally, 'imageFile') }}">
                    {% else %}
                        <img alt="{{ 'image'|trans({},'front_global') }}" height="300" width="450" src="{{ asset('img/ally.webp') }}">
                    {% endif %}
                </div>
                {{ form_start(form_allyImage,{attr: { hidden: 'hidden'}}) }}
                {{ form_widget(form_allyImage.imageFile) }}
                {{ form_widget(form_allyImage.sendForm) }}
                {{ form_end(form_allyImage) }}
                <div class="text-center my-2">"{{ ally.getSlogan() }}"</div>
                <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true">{{ ally.getCharacters()|length }} {{ 'ally.members'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_bank', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.found'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_pacts', {'usePlanet': usePlanet.getId()}) }}" >{{ ally.getPacts() }}  {{ 'ally.pacts'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('ally_page_add', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.add'|trans }}</a>
                    </li>
                    {% if character.getGrade().getPlacement() == 1 %}
                        <li class="nav-item">
                            <a href="{{ path('ally_page_admin', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.admin'|trans }}</a>
                        </li>
                    {% endif %}
                    {% if ally.getPolitic() == 'democrate' %}
                        <li class="nav-item">
                            <a href="{{ path('ally_page_exit', {'usePlanet': usePlanet.getId()}) }}" >{{ 'ally.leave'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab">
                        <table class="table table-striped table-bordered table-dark text-center mt-5">
                            <tbody>
                            <tr>
                                <th class="tab-cells-name">{{ 'ally.memberGrade'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.memberName'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.memberConnected'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.memberPoint'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.memberDateJoin'|trans }}</th>
                                {% if character.getGrade().getCanKick() != 1 or (ally.getPolitic() == 'fascism' and ally.getWars()|length > 0 or ally.getPeaces()|length > 0) %}
                                {% else %}
                                    <th class="tab-cells-name">{{ 'ally.memberKick'|trans }}</th>
                                {% endif %}
                            </tr>
                            {% for user in ally.getCharacters() %}
                                <tr{% if user.getId() == character.id %} class="currentBack"{% elseif user.getLastActivity()|date('d/m/Y H:i:s') > "now"|date('d/m/Y H:i:s') %} class="availableBack"{% endif %}>
                                    <td class="center-cells">
                                        {% if character.getGrade().getPlacement() == 1 %}
                                            <button class="confirm-button" href="{{ path('ally_addUser_grade', {'newGradeUser': user.getId(), 'usePlanet': usePlanet.getId() }) }}" data-toggle="modal" data-target="#openModal">{% if user.getGrade() %}{{ user.getGrade().getName() }}{% else %}???{% endif %}</button> <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.changeGrade'|trans }}"></span>
                                        {% else %}
                                            {% if user.getGrade() %}{{ user.getGrade().getName() }}{% else %}???{% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="center-cells">
                                        <span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'characterProfil': user.getId(), 'usePlanet': usePlanet.getId()}) }}">{{ user.getUsername() }}</a></span>
                                    </td>
                                    <td class="center-cells">
                                        {% if user.getLastActivity()|date('d/m/Y H:i:s') > "now"|date('d/m/Y H:i:s') %}{{ user.getLastActivity()|date('H:i') }}{% else %}{{ 'ally.notConnected'|trans }}{% endif %}
                                    </td>
                                    <td class="center-cells">
                                        {{ user.getRank().getPoint() }}{% if user.getRank().getPoint() > user.getRank().getOldPoint() %}<span class="rank-good-border text-vert">+{{ (user.getRank().getPoint() - user.getRank().getOldPoint())|number_format }}</span>{% elseif user.getRank().getPoint() < user.getRank().getOldPoint() %}<span class="rank-bad-border text-rouge">-{{ (user.getRank().getOldPoint() - user.getRank().getPoint())|number_format }}</span>{% else %}<span class="rank-bad-border text-mini">&#x25cf</span>{% endif %}
                                    </td>
                                    <td class="center-cells">
                                        {{ user.getJoinAllyAt()|date('d/m/Y') }}
                                    </td>
                                    {% if user.getId() == character.id or character.getGrade().getCanKick() != 1 or (ally.getPolitic() == 'fascism' and ally.getWars()|length > 0 or ally.getPeaces()|length > 0) %}
                                        {% if user.getId() == character.id and (ally.getPolitic() == 'fascism' and ally.getWars()|length == 0 and ally.getPeaces()|length == 0) %}
                                            <td class="center-cells">
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td class="center-cells">
                                            <a class="text-rouge" data-toggle="confirmation" data-placement="right" data-title="{{ 'ally.member.kick.question'|trans }}" href="{{ path('ally_kick',{'kicked': user.getId(), 'usePlanet': usePlanet.getId()}) }}"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'ally.kick'|trans }}</span></a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% if ally.getPolitic() == 'democrat' %}
                <div class="front-block-second mt-4 text-center">
                    {% if ally.getPolitic() == 'democrat' %}
                        {% set x = 1 %}
                        <div class="row pb-5">
                            {% for userVote in userVotes %}
                                <div class="col-4 center-block text-more">
                                    {% if x == 1 %}<div class="text-or glyphicon glyphicon-star"></div> {% elseif x == 2 %}<div class="text-argent glyphicon glyphicon-star"></div> {% elseif x == 3 %}<div class="text-bronze glyphicon glyphicon-star"></div> {% endif %}{{ userVote.getUsername() }} : {{ userVote.getVoteAlly() }}
                                </div>
                                {% set x = x + 1 %}
                            {% endfor %}
                        </div>
                        {{ form_start(form_allyVote) }}
                        <div class="form-group">
                            {{ form_widget(form_allyVote.character) }}
                        </div>
                        <div class="form-group text-center mt-5">
                            {{ form_widget(form_allyVote.sendForm) }}
                        </div>
                        {{ form_end(form_allyVote) }}
                    {% elseif ally.getPolitic() == 'fascism' %}
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
        {% endif %}
        <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content special">
                </div>
            </div>
        </div>
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content special">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
