{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block-ally">
        {% if app.user.getAlly() %}
            <h1 class="text-center text-orange mb-4">{{ app.user.getAlly().getName() }}<small> - [{{ app.user.getAlly().getSigle() }}]</small></h1>
            <div class="text-center modify-allyImage">
                {% if app.user.getAlly().getImageName() %}
                    <img height="300" width="450" src="{{ vich_uploader_asset(app.user.getAlly(), 'imageFile') }}">
                {% else %}
                    <img height="300" width="450" src="{{ asset('img/ally.jpg') }}">
                {% endif %}
            </div>
            {{ form_start(form_allyImage,{attr: { hidden: 'hidden'}}) }}
            {{ form_widget(form_allyImage.imageFile) }}
            {{ form_widget(form_allyImage.sendForm) }}
            {{ form_end(form_allyImage) }}
            <div class="text-center my-2">"{{ app.user.getAlly().getSlogan() }}"</div>
            <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true">{{ app.user.getAlly().getUsers()|length }} {{ 'ally.members'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pacts-tab" data-toggle="tab" href="#pacts" role="tab" aria-controls="pacts" aria-selected="true">nbrPacts{{ 'ally.pacts'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">{{ 'ally.add'|trans }}</a>
                </li>
                {% if app.user.getGrade().getPlacement() == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">{{ 'ally.admin'|trans }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" id="leave-tab" data-toggle="tab" href="#leave" role="tab" aria-controls="leave" aria-selected="false">{{ 'ally.leave'|trans }}</a>
                </li>
                {% if app.user.getGrade().getPlacement() == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete" aria-selected="false">{{ 'ally.delete'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab">
                    <table class="table table-striped table-bordered table-dark text-center mt-4">
                        <tbody>
                        <tr>
                            <th class="tab-cells-name">{{ 'ally.memberGrade'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberName'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberDateJoin'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberPoint'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.memberConnected'|trans }}</th>
                            {% if app.user.getGrade().getCanKick() == 1 %}
                                <th class="tab-cells-name">{{ 'ally.memberKick'|trans }}</th>
                            {% endif %}
                        </tr>
                        {% for user in app.user.getAlly().getUsers() %}
                            <tr>
                                <td class="center-cells">
                                    {{ user.getGrade().getName() }}
                                </td>
                                <td class="center-cells">
                                    <a href="{{ path('ally') }}">{{ user.getUsername() }}</a>
                                </td>
                                <td class="center-cells">
                                    {{ user.getJoinAllyAt()|date('d/m/Y h:m') }}
                                </td>
                                <td class="center-cells">
                                    {{ user.getRank().getPoint() }}
                                </td>
                                <td class="center-cells">
                                    {{ user.getConnected|trans }}
                                </td>
                                {% if app.user.getGrade().getCanKick() == 1 %}
                                    <td class="center-cells">
                                        <a class="text-rouge" href="{{ path('ally_kick',{'id': user.getId()}) }}"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'ally.kick'|trans }}</span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pacts" role="tabpanel" aria-labelledby="pacts-tab">
                    <table class="table table-striped table-bordered table-dark text-center mt-4">
                        <tbody>
                        <tr>
                            <th class="tab-cells-name">{{ 'ally.alliedName'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.alliedAt'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.cancelPact'|trans }}</th>
                        </tr>
                            <tr>
                                <td class="center-cells">
                                </td>
                                <td class="center-cells">
                                </td>
                                <td class="center-cells">
                                </td>
                            </tr>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-dark text-center mt-4">
                        <tbody>
                        <tr>
                            <th class="tab-cells-name">{{ 'ally.pnaName'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.pnaAt'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.cancelPna'|trans }}</th>
                        </tr>
                        <tr>
                            <td class="center-cells">
                            </td>
                            <td class="center-cells">
                            </td>
                            <td class="center-cells">
                            </td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-dark text-center mt-4">
                        <tbody>
                        <tr>
                            <th class="tab-cells-name">{{ 'ally.warName'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.warAt'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.cancelwar'|trans }}</th>
                        </tr>
                        <tr>
                            <td class="center-cells">
                            </td>
                            <td class="center-cells">
                            </td>
                            <td class="center-cells">
                            </td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
                    {% if app.user.getGrade().getCanRecruit() == 1 %}
                        {{ form_start(form_allyAdd) }}
                        <div class="row mt-4">
                            <div class="offset-1 col-5 form-group">
                                {{ form_widget(form_allyAdd.nameUser) }}
                            </div>
                            <div class="offset-1 col-4 form-group">
                                {{ form_widget(form_allyAdd.sendForm,{attr: { class: 'btn btn-lg btn-info'}}) }}
                            </div>
                        </div>
                        {{ form_end(form_allyAdd) }}
                    {% endif %}
                    <table class="table table-striped table-bordered table-dark text-center mt-4">
                        <tbody>
                        <tr>
                            <th class="tab-cells-name">{{ 'ally.memberName'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.proposalAt'|trans }}</th>
                            <th class="tab-cells-name">{{ 'ally.cancelAsk'|trans }}</th>
                        </tr>
                        {% for proposal in app.user.getAlly().getProposals() %}
                            <tr>
                                <td class="center-cells">
                                    {{ proposal.getUser().getUserName() }}
                                </td>
                                <td class="center-cells">
                                    {{ proposal.getProposalAt()|date('d/m/Y h:m') }}
                                </td>
                                <td class="center-cells">
                                    <a class="text-rouge" href="{{ path('ally_cancel',{'id': proposal.getId()}) }}"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'ally.cancel'|trans }}</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% if app.user.getGrade().getPlacement() == 1 %}
                    <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                        <table class="table table-striped table-bordered table-dark text-center mt-4">
                            <tbody>
                            <tr>
                                <th class="tab-cells-name">{{ 'ally.allyUsers'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.canRecruit'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.canPeace'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.canKick'|trans }}</th>
                                <th class="tab-cells-name">{{ 'ally.canWar'|trans }}</th>
                            </tr>
                            <tr>
                                <td class="center-cells">t</td>
                                <td class="center-cells">t</td>
                                <td class="center-cells">t</td>
                                <td class="center-cells">t</td>
                                <td class="center-cells">t</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="tab-pane fade" id="leave" role="tabpanel" aria-labelledby="leave-tab">
                    <div class="pull-right mt-3">
                        <span class="mr-3">{{ 'ally.leaveText'|trans }}</span>
                        <a href="{{ path('leave_ally') }}" class="btn btn-lg btn-danger">{{ 'leave'|trans }}</a>
                    </div>
                </div>
                {% if app.user.getGrade().getPlacement() == 1 %}
                    <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">
                        <div class="pull-right mt-3">
                            <span class="mr-3">{{ 'ally.deleteText'|trans }}</span>
                            <a href="{{ path('remove_ally') }}" class="btn btn-lg btn-danger">{{ 'delete'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {{ form_start(form_ally) }}
            <div class="row">
                <div class="offset-1 col-4 form-group">
                    {{ form_widget(form_ally.name) }}
                </div>
                <div class="col-2 form-group">
                    {{ form_widget(form_ally.sigle) }}
                </div>
                <div class="col-2 form-control-plaintext">
                    {{ form_label(form_ally.taxe) }}
                </div>
                <div class="col-2 form-group">
                    {{ form_widget(form_ally.taxe) }}
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-10 form-group">
                    {{ form_widget(form_ally.slogan) }}
                    <div class="pull-right mt-3">{{ form_widget(form_ally.sendForm,{attr: { class: 'btn btn-lg btn-info'}}) }}</div>
                </div>
            </div>
            {{ form_end(form_ally) }}

            <table class="table table-striped table-bordered table-dark text-center mt-5">
                <tbody>
                <tr>
                    <th class="tab-cells-name">{{ 'ally.allyName'|trans }}</th>
                    <th class="tab-cells-name">{{ 'ally.proposalAt'|trans }}</th>
                    <th class="tab-cells-name">{{ 'ally.acceptProp'|trans }}</th>
                    <th class="tab-cells-name">{{ 'ally.refuseProp'|trans }}</th>
                </tr>
                {% for proposal in app.user.getProposals() %}
                    <tr>
                        <td class="center-cells">
                            {{ proposal.getAlly().getName() }}
                        </td>
                        <td class="center-cells">
                            {{ proposal.getProposalAt()|date('d/m/Y h:m') }}
                        </td>
                        <td class="center-cells">
                            <a href="{{ path('ally_accept', {id: proposal.getId()}) }}"><span>{{ 'ally.accept'|trans }}</span></a>
                        </td>
                        <td class="center-cells">
                            <a class="text-rouge" href="{{ path('ally_refuse', {id: proposal.getId()}) }}"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'ally.refuse'|trans }}</span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
