{% extends 'base.html.twig' %}

{% trans_default_domain 'front_building' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% set planetNb = usePlanet.getNiobium() %}
    {% set planetWt = usePlanet.getWater() %}
    <div class="front-block building">
        <div id="timeDefaut" hidden>{{ date|date('Y/m/d H:i:s') }}</div>
        <div class="block-title ml-4"><h2>{{ 'building.titleRessource'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/mining.png') }}">{{ 'building.mining'|trans }} x {{ usePlanet.getMiner()|trans }}
                    <div class="mt-4">{{ (usePlanet.getMiner() + 1) * 300 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getMiner() + 1) * 100 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">1 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.mining.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'miner' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getMiner() + 1) * 300) and planetWt >= ((usePlanet.getMiner() + 1) * 100) and usePlanet.getGroundPlace() + 1 <= usePlanet.getGround() and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getMiner() + 1) * 180) < 3600 %}{{  ((usePlanet.getMiner() + 1) * 180)|date('i:s') }}{% elseif ((usePlanet.getMiner() + 1) * 180) < 86400 %}{{  ((usePlanet.getMiner() + 1) * 180)|date('H:i:s') }}{% else %}{{  ((usePlanet.getMiner() + 1) * 180)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_mine', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getMiner() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_mine', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/extract.png') }}">{{ 'building.extract'|trans }} x {{ usePlanet.getExtractor()|trans }}
                    <div class="mt-4">{{ (usePlanet.getExtractor() + 1) * 100 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getExtractor() + 1) * 300 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">1 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.extract.desc'|trans }}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getConstruct() == 'extractor' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getExtractor() + 1) * 100) and planetWt >= ((usePlanet.getExtractor() + 1) * 300) and usePlanet.getGroundPlace() + 1 <= usePlanet.getGround() and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getExtractor() + 1) * 180) < 3600 %}{{  ((usePlanet.getExtractor() + 1) * 180)|date('i:s') }}{% elseif ((usePlanet.getExtractor() + 1) * 180) < 86400 %}{{  ((usePlanet.getExtractor() + 1) * 180)|date('H:i:s') }}{% else %}{{  ((usePlanet.getExtractor() + 1) * 180)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_extract', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getExtractor() > 0 %}
                    <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_extract', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'building.titleEco'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/search.png') }}">{{ 'building.search'|trans }} x {{ usePlanet.getCenterSearch()|trans }}
                    <div class="mt-4">{{ (usePlanet.getCenterSearch() + 1) * 2850 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getCenterSearch() + 1) * 3580 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">5 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.search.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'centerSearch' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getCenterSearch() + 1) * 2850) and planetWt >= ((usePlanet.getCenterSearch() + 1) * 3580) and usePlanet.getGroundPlace() + 5 <= usePlanet.getGround() and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getCenterSearch() + 1) * 900) < 3600 %}{{  ((usePlanet.getCenterSearch() + 1) * 900)|date('i:s') }}{% elseif ((usePlanet.getCenterSearch() + 1) * 900) < 86400 %}{{  ((usePlanet.getCenterSearch() + 1) * 900)|date('H:i:s') }}{% else %}{{  ((usePlanet.getCenterSearch() + 1) * 900)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_search', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getCenterSearch() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_search', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/city.png') }}">{{ 'building.city'|trans }} x {{ usePlanet.getCity()|trans }}
                    <div class="mt-4">{{ (usePlanet.getCity() + 1) * 15000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getCity() + 1) * 11000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">6 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.city.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'city' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getCity() + 1) * 15000) and planetWt >= ((usePlanet.getCity() + 1) * 11000) and usePlanet.getGroundPlace() + 6 <= usePlanet.getGround() and app.user.getDemography() > 0 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getCity() + 1) * 18000) < 86400 %}{{  ((usePlanet.getCity() + 1) * 18000)|date('H:i:s') }}{% else %}{{  ((usePlanet.getCity() + 1) * 18000)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_city', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getCity() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_city', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/metropole.png') }}">{{ 'building.metropole'|trans }} x {{ usePlanet.getMetropole()|trans }}
                    <div class="mt-4">{{ (usePlanet.getMetropole() + 1) * 750000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getMetropole() + 1) * 55000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">8 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"><span class="ml-4">8 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'skyImg'|trans }}" src="{{ asset('img/sky.png') }}"></span></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.metropole.desc'|trans }}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getConstruct() == 'metropole' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getMetropole() + 1) * 750000) and planetWt >= ((usePlanet.getMetropole() + 1) * 55000) and usePlanet.getGroundPlace() + 8 <= usePlanet.getGround() and usePlanet.getSkyPlace() + 8 <= usePlanet.getSky() and app.user.getDemography() == 5 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getMetropole() + 1) * 54000) < 86400 %}{{  ((usePlanet.getMetropole() + 1) * 54000)|date('H:i:s') }}{% else %}{{  ((usePlanet.getMetropole() + 1) * 54000)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_metropole', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getMetropole() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_metropole', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'building.titleShip'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/caserne.png') }}">{{ 'building.caserne'|trans }} x {{ usePlanet.getCaserne()|trans }}
                    <div class="mt-4">{{ (usePlanet.getCaserne() + 1) * 5000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getCaserne() + 1) * 750 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">6 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.caserne.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'caserne' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getCaserne() + 1) * 5000) and planetWt >= ((usePlanet.getCaserne() + 1) * 750) and usePlanet.getGroundPlace() + 6 <= usePlanet.getGround() and app.user.getDiscipline() == 3 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getCaserne() + 1) * 21000) < 86400 %}{{  ((usePlanet.getCaserne() + 1) * 21000)|date('H:i:s') }}{% else %}{{  ((usePlanet.getCaserne() + 1) * 21000)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_caserne', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getCaserne() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_caserne', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/chantier.png') }}">{{ 'building.chantier'|trans }} x {{ usePlanet.getSpaceShip()|trans }}
                    <div class="mt-4">{{ (usePlanet.getSpaceShip() + 1) * 3000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getSpaceShip() + 1) * 2000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">10 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"><span class="ml-4">4 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'skyImg'|trans }}" src="{{ asset('img/sky.png') }}"></span></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.chantier.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'spaceShip' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getSpaceShip() + 1) * 3000) and planetWt >= ((usePlanet.getSpaceShip() + 1) * 2000) and usePlanet.getGroundPlace() + 10 <= usePlanet.getGround() and usePlanet.getSkyPlace() + 4 <= usePlanet.getSky() and app.user.getIndustry() > 0 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getSpaceShip() + 1) * 7000) < 86400 %}{{  ((usePlanet.getSpaceShip() + 1) * 7000)|date('H:i:s') }}{% else %}{{  ((usePlanet.getSpaceShip() + 1) * 7000)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_spaceShipyard', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getSpaceShip() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_spaceShipyard', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/light.png') }}">{{ 'building.light'|trans }} {% if usePlanet.getLightUsine() == 0 %}{{ 'building.canBe'|trans }}{% else %}{{ 'building.Activated'|trans }}{% endif %}
                    <div class="mt-4">{{ (usePlanet.getLightUsine() + 1) * 7000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getLightUsine() + 1) * 3900 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">6 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.light.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'lightUsine' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getLightUsine() + 1) * 7000) and planetWt >= ((usePlanet.getLightUsine() + 1) * 3900) and usePlanet.getGroundPlace() + 6 <= usePlanet.getGround() and usePlanet.getLightUsine() != 1 and app.user.getLightShip() > 0 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getLightUsine() + 1) * 21600) < 86400 %}{{  ((usePlanet.getLightUsine() + 1) * 21600)|date('H:i:s') }}{% else %}{{  ((usePlanet.getLightUsine() + 1) * 21600)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_lightUsine', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getLightUsine() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_lightUsine', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/heavy.png') }}">{{ 'building.heavy'|trans }} {% if usePlanet.getHeavyUsine() == 0 %}{{ 'building.canBe'|trans }}{% else %}{{ 'building.Activated'|trans }}{% endif %}
                    <div class="mt-4">{{ (usePlanet.getHeavyUsine() + 1) * 83000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getHeavyUsine() + 1) * 68000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">12 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.heavy.desc'|trans }}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getConstruct() == 'heavyUsine' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getHeavyUsine() + 1) * 83000) and planetWt >= ((usePlanet.getHeavyUsine() + 1) * 68000) and usePlanet.getGroundPlace() + 12 <= usePlanet.getGround() and usePlanet.getHeavyUsine() != 1 and app.user.getHeavyShip() > 0 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getHeavyUsine() + 1) * 72000) < 86400 %}{{  ((usePlanet.getHeavyUsine() + 1) * 72000)|date('H:i:s') }}{% else %}{{  ((usePlanet.getHeavyUsine() + 1) * 72000)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_heavyUsine', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getHeavyUsine() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_heavyUsine', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'building.titleSpy'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/radar.png') }}">{{ 'building.radar'|trans }} x {{ usePlanet.getRadar()|trans }}
                    <div class="mt-4">{{ (usePlanet.getRadar() + 1) * 1200 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getRadar() + 1) * 650 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">2 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.radar.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'radar' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getRadar() + 1) * 1200) and planetWt >= ((usePlanet.getRadar() + 1) * 650) and usePlanet.getGroundPlace() + 2 <= usePlanet.getGround() and app.user.getOnde() > 0 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getRadar() + 1) * 3600) < 86400 %}{{ ((usePlanet.getRadar() + 1) * 3600)|date('H:i:s') }}{% else %}{{  ((usePlanet.getRadar() + 1) * 3600)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_radar', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getRadar() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_radar', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/skyRadar.png') }}">{{ 'building.skyRadar'|trans }} x {{ usePlanet.getSkyRadar()|trans }}
                    <div class="mt-4">{{ (usePlanet.getSkyRadar() + 1) * 20000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getSkyRadar() + 1) * 17200 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">2 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'skyImg'|trans }}" src="{{ asset('img/sky.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.skyRadar.desc'|trans }}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getConstruct() == 'skyRadar' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getSkyRadar() + 1) * 20000) and planetWt >= ((usePlanet.getSkyRadar() + 1) * 17200) and usePlanet.getSkyPlace() + 2 <= usePlanet.getSky() and app.user.getOnde() > 2 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getSkyRadar() + 1) * 14400) < 86400 %}{{  ((usePlanet.getSkyRadar() + 1) * 14400)|date('H:i:s') }}{% else %}{{  ((usePlanet.getSkyRadar() + 1) * 14400)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_skyRadar', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getSkyRadar() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_skyRadar', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="center-cells">
                    <img class="float-left building-img ml-3" src="{{ asset('img/brouilleur.png') }}">{{ 'building.brouilleur'|trans }} x {{ usePlanet.getSkyBrouilleur()|trans }}
                    <div class="mt-4">{{ (usePlanet.getSkyBrouilleur() + 1) * 51000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"><span class="ml-4">{{ (usePlanet.getSkyBrouilleur() + 1) * 32100 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.png') }}"></span></div>
                    <div class="mt-4">4 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'skyImg'|trans }}" src="{{ asset('img/sky.png') }}"></div>
                </td>
                <td class="center-cells pt-5">
                    {{ 'building.brouilleur.desc'|trans }}
                </td>
                <td class="center-cells  p-4">
                    {% if usePlanet.getConstruct() == 'skyBrouilleur' %}
                        <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="mt-5"></div>
                    {% else %}
                        {% if planetNb >= ((usePlanet.getSkyBrouilleur() + 1) * 51000) and planetWt >= ((usePlanet.getSkyBrouilleur() + 1) * 32100) and usePlanet.getSkyPlace() + 4 <= usePlanet.getSky() and app.user.getOnde() == 5 and usePlanet.getConstructAt() < date %}
                            <div>{% if ((usePlanet.getSkyBrouilleur() + 1) * 32400) < 86400 %}{{  ((usePlanet.getSkyBrouilleur() + 1) * 32400)|date('H:i:s') }}{% else %}{{  ((usePlanet.getSkyBrouilleur() + 1) * 32400)|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info mt-3" href="{{ path('building_add_brouilleur', {'idp': usePlanet.getId()}) }}">{{ 'building.build'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary mt-5" disabled>{{ 'building.build'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center-cells p-4">
                    {% if usePlanet.getSkyBrouilleur() > 0 %}
                        <a class="btn btn-lg btn-danger mt-5" href="{{ path('building_remove_brouilleur', {'idp': usePlanet.getId()}) }}">{{ 'building.demolish'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-danger mt-5" disabled>{{ 'building.demolish'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
