{% extends 'base.html.twig' %}

{% trans_default_domain 'front_dailyCost' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% set cost = (app.user.getAllSoldier() * 2) + app.user.getAllShipsCost() %}
    <div class="front-block building">
        <div class="block-title float-right mr-5 pr-5"><h2>{{ 'daily.title'|trans }}</h2></div>
        <div class="m-5 p-5 row">
            <div class="col-6">
                <img src="{{ asset('img/help.png') }}">
            </div>
            <div class="col-6 text-middle">
                <div class="mt-4">1 - <span><a target="_blank" href="http://area-universe.forumactif.com/t53-coloniser-une-planete">{{ 'daily.colonizer'|trans }}</a></span></div>
                <div class="mt-4">2 - <span><a target="_blank" href="http://area-control.forumactif.com/t67-cout-d-entretien-et-gain-de-bitcoin">{{ 'daily.cost'|trans }}</a></span></div>
                <div class="mt-4">3 - <span><a target="_blank" href="http://area-control.forumactif.com/t66-production-de-travailleurs">{{ 'daily.product'|trans }}</a></span></div>
                <div class="mt-4">4 - <span><a target="_blank" href="http://area-control.forumactif.com/t57-recycler-sur-un-asteroide">{{ 'daily.reycleAst'|trans }}</a></span></div>
                <div class="mt-4">5 - <span><a target="_blank" href="http://area-control.forumactif.com/t55-recyclage-sur-debris-de-vaisseaux">{{ 'daily.recycleCdr'|trans }}</a></span></div>
                <div class="mt-4">6 - <span><a target="_blank" href="http://area-control.forumactif.com/t54-envahir-la-planete-d-un-autre-joueur">{{ 'daily.invade'|trans }}</a></span></div>
                <div class="mt-4">7 - <span><a target="_blank" href="http://area-control.forumactif.com/t76-les-combats-spatiaux">{{ 'daily.fight'|trans }}</a></span></div>
                <div class="mt-4">8 - <span><a target="_blank" href="http://area-control.forumactif.com/t82-point-de-guerre">{{ 'daily.pdg'|trans }}</a></span></div>
                <div class="mt-4">9 - <span><a target="_blank" href="http://area-control.forumactif.com/t65-les-hydres">{{ 'daily.hydre'|trans }}</a></span></div>
            </div>
        </div>
    </div>
{% endblock %}
