{% extends 'base.html.twig' %}

{% trans_default_domain 'front_fleet' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block display-allFleet">
        <div class="block-title"><h2>{{ 'fleet.onThisPlanet'|trans({'%planet%': usePlanet.getName()}) }} {% if usePlanet.getShipOn() > 0 %}<a class="btn btn-lg btn-info float-right mb-2" href="{{ path('create_fleet', {'idp': usePlanet.getId()}) }}" data-toggle="modal" data-target="#createModal"><span>{{ 'fleet.createFlotte'|trans }}</span></a>{% endif %}</h2></div>
        <table class="table table-striped table-bordered table-dark">
            <tbody>
            <tr>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetName'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetShips'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetSignature'|trans }}
                </th>
            </tr>
            {% for fleet in usePlanet.getFleets() %}
                {% if fleet.getUser() == app.user and fleet.getPlanete() is null %}
                    <tr>
                        <th class="tab-cells-name">
                            <span class="ml-3">{{ 'fleet.beforeName'|trans }} "{{  fleet.getName() }}"</span> <span><a class="ml-3 float-right" href="{{ path('destroy_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}"><span>{{ 'fleet.destroyFleet'|trans }}</span></a></span> <span><a class="ml-3 float-right" href="{{ path('manage_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}" data-toggle="modal" data-target="#editModal"><span>{{ 'fleet.seeFlotte'|trans }}</span></a></span>
                        </th>
                        <td class="center-cells text-center">
                            {{ fleet.getNbrShips() }}
                        </td>
                        <td class="center-cells text-center">
                            {{ fleet.getNbrSignatures() }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="block-title"><h2>{{ 'fleet.inAir'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark">
            <tbody>
            <tr>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetName'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.from'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.goTo'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.time'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetShips'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetSignature'|trans }}
                </th>
            </tr>
            {% for fleet in fleetMove %}
                <tr>
                    <th class="tab-cells-name">
                        "{{  fleet.getName() }}"
                    </th>
                    <td class="center-cells text-center">
                        {{ fleet.getplanet().getName() }}
                    </td>
                    <td class="center-cells text-center">
                        <span><a href="{{ path('map', {id: fleet.getSector().getPosition(), 'idp': usePlanet.getId()}) }}">{{ fleet.getSector().getGalaxy.getPosition() }}:{{ fleet.getSector.getPosition() }}:{{ fleet.getPlanete() }}</a></span>
                    </td>
                    <td class="center-cells text-center">
                        {{ fleet.getFlightTime()|date('H:i:s d/m/Y') }}
                    </td>
                    <td class="center-cells text-center">
                        {{ fleet.getNbrShips() }}
                    </td>
                    <td class="center-cells text-center">
                        {{ fleet.getNbrSignatures() }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="block-title"><h2>{{ 'fleet.otherPlanet'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark">
            <tbody>
            <tr>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetName'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.planet'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetShips'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetSignature'|trans }}
                </th>
            </tr>
            {% for fleet in app.user.getFleets() %}
                {% if fleet.getUser() == app.user %}
                    {% for planetUser in app.user.getPlanets() %}
                        {% if fleet.getPlanet() == planetUser and fleet.getPlanete() is null and fleet.getPlanet() != usePlanet %}
                            <tr>
                                <th class="tab-cells-name">
                                    "{{  fleet.getName() }}" <span><a class="ml-3 float-right" href="{{ path('destroy_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}"><span>{{ 'fleet.destroyFleet'|trans }}</span></a></span> <span><a class="ml-3 float-right" href="{{ path('manage_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}" data-toggle="modal" data-target="#createModal"><span>{{ 'fleet.seeFlotte'|trans }}</span></a></span> <span><a class="ml-3 float-right" href="{{ path('send_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}"  data-toggle="modal" data-target="#sendModal"><span>{{ 'fleet.sendFleet'|trans }}</span></a></span>
                                </th>
                                <td class="center-cells text-center">
                                    {{ fleet.getPlanet().getName() }}
                                </td>
                                <td class="center-cells text-center">
                                    {{ fleet.getNbrShips() }}
                                </td>
                                <td class="center-cells text-center">
                                    {{ fleet.getNbrSignatures() }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="block-title"><h2>{{ 'fleet.exploration'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark">
            <tbody>
            <tr>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetName'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.planet'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetShips'|trans }}
                </th>
                <th class="tab-cells-name text-center">
                    {{ 'fleet.fleetSignature'|trans }}
                </th>
            </tr>
            {% for fleet in app.user.getFleets() %}
                {% if fleet.getUser() == app.user %}
                    {% if fleet.getPlanet().getUser() != app.user and fleet.getPlanete() is null %}
                        <tr>
                            <th class="tab-cells-name">
                                "{{  fleet.getName() }}" <span><a class="ml-3 float-right" href="{{ path('manage_fleet', {'idp': usePlanet.getId(), 'id': fleet.getId()}) }}" data-toggle="modal" data-target="#createModal"><span>{{ 'fleet.seeFlotte'|trans }}</span></a></span>
                            </th>
                            <td class="center-cells text-center">
                                {{ fleet.getPlanet().getName() }}
                            </td>
                            <td class="center-cells text-center">
                                {{ fleet.getNbrShips() }}
                            </td>
                            <td class="center-cells text-center">
                                {{ fleet.getNbrSignatures() }}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-createFleet" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-createFleet" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
