{% extends 'base.html.twig' %}

{% trans_default_domain 'front_game_over' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    {%- block footer -%}
    {%- endblock -%}
    <div class="front-block display-message text-center">
        {% if commander.getGameOver() == 'Zombie' %}<h1 class="text-orange m-5 p-5">Se faire poutrer par un bot c'est quand même un peu la honte... <br><br>Bon on va dire que vous n'étiez pas 'investit' dans la partie hein ?</h1>{% else %}<h1 class="text-orange m-5 p-5">On dirait bien que {{ commander.getGameOver() }} n'a pas eu pitié de vous... Un poutrage en bonne et due forme <3 <br><br>(Oups non c'est vrai c'est le jeu qui est pourri et pis d'abord l'autre c'est un tricheur c'est sûr! Personne n'est meilleur que vous)</h1>{% endif %}
        <div class="text-more my-3">Tu veux retenter ta chance ou tu préfère partir la queue entre les jambes ?</div>
        {% for server in servers %}
            <table class="table table-striped table-bordered table-dark text-center">
                <tbody>
                <tr>
                    <td>
                        <span class="mr-5">{{ 'server'|trans }} {{ server.id }}</span>
                        <img alt="{{ 'image'|trans({},'front_global') }}" class="galaxy-block mr-4" src="{{ asset('img/server.webp') }}">
                        {% if server.open == 1 %}
                            <span class="text-vert">{{ 'server.open'|trans }}</span> -
                        {% else %}
                            <span class="text-rouge">{{ 'server.closed'|trans }}</span> -
                        {% endif %}
                        {% if server.pvp == 1 %}
                            <span class="text-orange">{{ 'server.pvp'|trans }}</span>
                        {% else %}
                            <span class="text-bleu">{{ 'server.pve'|trans }}</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-dark text-left">
                <tbody>
                <tr>
                    {% set x = 1 %}
                    {% for galaxy in galaxys|filter(galaxy => galaxy.server == server.id) %}
                    {% if (x - 1) % 5 == 0 %}
                </tr>
                <tr>
                    {% endif %}
                    <td class="text-center">
                        <a href="{{ path('connect_server', {'galaxy': galaxy.id, 'server': server.id}) }}"><span><img alt="{{ 'image'|trans({},'front_global') }}" class="galaxy-block" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.galaxy'|trans({'%position%': galaxy.position}) }}" src="{{ asset('img/galaxy.webp') }}"><span class="galaxy-position">{{ 'galaxy.nbr'|trans({'%position%': galaxy.position}) }}</span><span class="galaxy-players">{{ 'galaxy.players'|trans({'%players%': galaxy.commanders|number_format }) }}</span></span></a>
                    </td>
                    {% set x = x + 1 %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        {% endfor %}
        <div><a class="my-4" href="{{ path('erase_cookie') }}"><button class="text-rouge m-5 text-more p-3">{{ 'disconnect'|trans }}</button></a></div>
    <div class="mt-3"><img alt="{{ 'image'|trans({},'front_global') }}" src="{{ asset('img/go.webp') }}"></div>
    </div>
{% endblock %}
