{% extends 'base.html.twig' %}

{% trans_default_domain 'front_game_over' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    <div class="front-block display-message text-center">
        <h1 class="text-orange m-5 p-5">On dirait bien que {{ app.user.getGameOver() }} n'a pas eu pitié de vous... Un poutrage en bonne et due forme <3 <br><br>(Oups non c'est vrai c'est le jeu qui est pourri et pis d'abord l'autre c'est un tricheur c'est sûr! Personne n'est meilleur que vous)</h1>
        <div class="text-more">Que choisis tu ? La pillule bleue pour les forts ? Ou la pillule rouge pour les faibles ?</div>
        <a class="my-4" href="{{ path('connect_server') }}"><button class="text-bleu m-5 text-more p-3">{{ 'joinServer'|trans }}</button></a><a class="my-4" href="{{ path('disconnect_me') }}"><button class="text-rouge m-5 text-more p-3">{{ 'disconnect'|trans }}</button></a>
    </div>
{% endblock %}
