{% extends 'base.html.twig' %}

{% trans_default_domain 'front_options' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}

<div class="front-block">
    <table class="table table-striped table-dark text-center borderOverview">
        <tbody>
        <tr>
            <td width="140" class="center-cells">
                {{ 'modifcharacter'|trans }}
            </td>
            <td class="center-cells">
                {{ 'planetOrder'|trans }}
            </td>
        </tr>
        {{ form_start(form_prefers) }}
        <tr>
            <td width="140" class="center-cells">
                {{ form_widget(form_prefers.username) }}
            </td>
            <td>
                {{ form_widget(form_prefers.planetOrder) }}
                <br>
                <br>
                {{ form_widget(form_prefers.sendForm) }}
            </td>
        </tr>
        {{ form_end(form_prefers) }}
        </tbody>
    </table>
</div>

{% endblock %}
