{% extends 'base.html.twig' %}

{% trans_default_domain 'front_overview' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
                <tr>
                    <th class="tab-cells-name">
                        <h2 class="mb-3">{{ app.user.getUsername() }}</h2>
                        <div class="modify">
                            {% if app.user %}
                                {% if app.user.imageName %}
                                    <img data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.modify'|trans }}" height="64" width="64" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
                                {% else %}
                                    <img data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.modify'|trans }}" height="64" width="64" src="{{ asset('img/avatar.png') }}">
                                {% endif %}
                            {% else %}
                                <img data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.modify'|trans }}" height="64" width="64" src="{{ asset('img/avatar.png') }}">
                            {% endif %}
                            <div><strong>{{ 'modify'|trans }}</strong></div>
                        </div>
                        {{ form_start(form_image,{attr: { hidden: 'hidden'}}) }}
                        {{ form_widget(form_image.imageFile) }}
                        {{ form_widget(form_image.sendForm) }}
                        {{ form_end(form_image) }}
                    </th>
                    <td class="center-cells">
                        <h4>
                            <div class="my-3">{{ 'info.rank'|trans|raw }} {{ app.user.getRank().getPosition() }} <small>({% if app.user.getRank().getPosition() > app.user.getRank().getOldPosition() %}<span class="text-rouge">-{{ app.user.getRank().getPosition() - app.user.getRank().getOldPosition() }}</span>{% else %}<span class="text-vert">+{{ app.user.getRank().getOldPosition() - app.user.getRank().getPosition() }}</span>{% endif %})</small></div>
                            <div class="my-2">{{ 'info.planet'|trans|raw }} {{ app.user.getPlanets()|length }}</div>
                            {% if app.user.getAlly() %}
                                <div class="my-3">{{ 'info.fleet'|trans|raw }} {{ app.user.getFleets()|length }}</div>
                            {% endif %}
                            {% if app.user.getAlly() %}
                                <div class="my-3">{{ 'info.ally'|trans|raw }} [{{ app.user.getAlly().getSigle() }}] {{ app.user.getAlly().getName() }} - {{ app.user.getAlly().getUsers()|length }}/20</div>
                            {% else %}
                                <div class="mt-5"><span><a href="{{ path('ally', {'idp': usePlanet.getId()}) }}">{{ 'info.allyMissing'|trans|raw }}</a></span></div>
                            {% endif %}
                        </h4>
                    </td>
                </tr>
                <tr>
                    <th class="tab-cells-name"><h4>{{ 'title.batiment'|trans|raw }}</h4></th>
                    <td class="center-cells">
                        <span><a href="{{ path('building', {'idp': usePlanet.getId()}) }}">
                            {% if usePlanet.getConstruct() %}
                                <div id="timeConstruct" hidden>{{ usePlanet.getConstructAt()|date('Y/m/d H:i:s') }}</div>
                                <h4>{{ 'cell.constructName'|trans|raw }}<span id="timeDisplay" class="my-2"></span></h4>
                            {% else %}
                                <h4>{{ 'cell.batiment'|trans|raw }}</h4>
                            {% endif %}
                            </a></span>
                    </td>
                </tr>
                <tr>
                    <th class="tab-cells-name"><h4>{{ 'title.search'|trans|raw }}</h4></th>
                    <td class="center-cells">
                        <span><a href="{{ path('search', {'idp': usePlanet.getId()}) }}">
                            {% if app.user.getSearch() %}
                                <div id="timeResearch" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                                <h4>{{ 'cell.searchName'|trans|raw }}<span id="timeDisplayR" class="my-2"></span></h4>
                            {% else %}
                                <h4>{{ 'cell.search'|trans|raw }}</h4>
                            {% endif %}
                            </a></span>
                    </td>
                </tr>
                <tr>
                    <th class="tab-cells-name"><h4>{{ 'title.spatial'|trans|raw }}</h4></th>
                    <td class="center-cells">
                        <span><a href="{{ path('spatial', {'idp': usePlanet.getId()}) }}">
                            <h4>{{ 'cell.spatial'|trans|raw }}</h4>
                            </a></span>
                    </td>
                </tr>
                <tr>
                    <th class="tab-cells-name"><h4>{{ 'title.fleet'|trans|raw }}</h4></th>
                    <td class="center-cells">
                        <table class="table table-striped table-bordered table-dark">
                            <tbody>
                            <tr>
                                <th class="tab-cells-name text-center">
                                    {{ 'overview.fleetName'|trans }}
                                </th>
                                <th class="tab-cells-name text-center">
                                    {{ 'overview.from'|trans }}
                                </th>
                                <th class="tab-cells-name text-center">
                                    {{ 'overview.goTo'|trans }}
                                </th>
                                <th class="tab-cells-name text-center">
                                    {{ 'overview.time'|trans }}
                                </th>
                                <th class="tab-cells-name text-center">
                                    {{ 'overview.fleetShips'|trans }}
                                </th>
                                <th class="tab-cells-name text-center">
                                    {{ 'overview.fleetSignature'|trans }}
                                </th>
                            </tr>
                            {% for fleet in fleetMove %}
                                <tr>
                                    <th class="tab-cells-name">
                                        "{{  fleet.getName() }}"
                                    </th>
                                    <td class="center-cells text-center">
                                        {{ fleet.getplanet().getName() }}
                                    </td>
                                    <td class="center-cells text-center">
                                        <span><a href="{{ path('map', {id: fleet.getSector().getPosition(), 'idp': usePlanet.getId()}) }}">{{ fleet.getSector().getGalaxy.getPosition() }}:{{ fleet.getSector.getPosition() }}:{{ fleet.getPlanete() }}</a></span>
                                    </td>
                                    <td class="center-cells text-center">
                                        {{ fleet.getFlightTime()|date('H:i:s d/m/Y') }}
                                    </td>
                                    <td class="center-cells text-center">
                                        {{ fleet.getNbrShips() }}
                                    </td>
                                    <td class="center-cells text-center">
                                        {{ fleet.getNbrSignatures() }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
