{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_universe' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    {%- block footer -%}
    {%- endblock -%}
    <div class="galaxy-select text-center">
        {% for message in app.flashes('full') %}
            <div class="flash-notice mt-5 alerte-flash-error text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% set y = 0 %}
        {% for server in servers %}
            <div class="row mb-5">
                {% if server.id in app.user.getServers() %}
                    <a href="{{ path('connected_server', {'server': server.id}) }}">
                        <div class="offset-3 col-6 table-dark text-center borderOverview p-4 mr-4">
                {% else %}
                        <div class="offset-1 offset-xl-2 col-md-5 col-xl-3 table-dark text-center borderOverview p-4 mr-4">
                {% endif %}
                    <div class="text-more">{{ 'server'|trans }} {{ server.id }} - {{ server.name }}</div>
                    <img alt="{{ 'image'|trans({},'front_global') }}" class="galaxy-block"
                         src="{{ asset('img/server.webp') }}">
                    <div>
                        {% if server.open == 1 %}
                            <span class="text-vert">{{ 'server.open'|trans }}</span> -
                        {% else %}
                            <span class="text-rouge">{{ 'server.closed'|trans }}</span> -
                        {% endif %}
                        {% if server.pvp == 1 %}
                            <span class="text-orange">{{ 'server.pvp'|trans }}</span> -
                        {% else %}
                            <span class="text-bleu">{{ 'server.pve'|trans }}</span> -
                        {% endif %}
                        <span class="text-orange">{{ 'galaxy.players'|trans({'%players%': server.characters|number_format }) }}</span>
                    </div>
                    {% if server.id in app.user.getServers() %}
                        </a>
                    {% endif %}
                </div>
                {% if server.id not in app.user.getServers() %}
                    {% set x = 1 %}
                    {% for galaxy in galaxys|filter(galaxy => galaxy.server == server.id) %}
                        <div class="{% if x % 4 == 0 %}offset-xl-5 offset-md-6 pl-4 {% endif %}col- mr-4 mt-4">
                                <span class="text-center p-0">
                                    {% if server.open == 1 %}
                                        <a href="{{ path('connect_server', {'galaxy': galaxy.id, 'server': server.id}) }}">
                                    {% endif %}
                                    <span><img alt="{{ 'image'|trans({},'front_global') }}" class="galaxy-block"
                                               data-toggle="tooltip" data-placement="top"
                                               title="{{ 'tooltip.galaxy'|trans({'%position%': galaxy.position}) }}"
                                               src="{{ asset('img/galaxy.webp') }}"><span
                                                class="galaxy-position">{{ 'galaxy.nbr'|trans({'%position%': galaxy.position}) }}</span><span
                                                class="galaxy-players">{{ 'galaxy.players'|trans({'%players%': (galaxy.characters == 0 ? 0 : (galaxy.characters - 1))|number_format }) }}</span></span>
                                    {% if server.id in app.user.getServers() or server.open == 1 %}
                                        </a>
                                    {% endif %}
                                </span>
                        </div>
                        {% set x = x + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
            {% set y = y + 1 %}
            {% if y != servers|length %}
                <hr class="borderOverview mb-5">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
