{% extends 'base.html.twig' %}

{% trans_default_domain 'front_user_rank' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        {% if app.user.getStats()|length > 7 %}
            <div class="front-block-second">
                {% set points = [] %}
                {% set pdg = [] %}
                {% set otherPdg = [] %}
                {% set otherAllPoints = [] %}
                {% set date = [] %}
                {% for otherPoint in otherPoints %}
                    {% set otherPdg = otherPdg|merge([(otherPoint['allPdg'] / otherPoint['numbers'])|round]) %}
                    {% set otherAllPoints = otherAllPoints|merge([(otherPoint['allPoint'] / otherPoint['numbers'])|round]) %}
                {% endfor %}
                {% for stat in app.user.getStats() %}
                    {% set pdg = pdg|merge([stat.getPdg()|round]) %}
                    {% set points = points|merge([stat.getPoints()|round]) %}
                    {% set date = date|merge([stat.getDate()|date("d/m/Y")]) %}
                {% endfor %}
                <div id="pdgPoints" data-pdg-points="{{ pdg|json_encode }}"></div>
                <div id="playerPoints" data-player-points="{{ points|json_encode }}"></div>
                <div id="pdgOtherPoints" data-pdg-other-points="{{ otherPdg|json_encode }}"></div>
                <div id="pointOtherPoints" data-point-other-points="{{ otherAllPoints|json_encode }}"></div>
                <div id="pdgDate" data-pdg-date="{{ date|json_encode }}"></div>
                <canvas class="mb-5" id="pdgChart" height="100"></canvas>
                <script src="{{ asset('build/pdgCharts.js') }}"></script>
            </div>
        {% endif %}
        <table class="table table-striped borderOverview table-dark text-center">
            <tbody>
            <tr>
                <th>
                    {{ 'rank.position'|trans }}
                </th>
                <th class="th-sm text-left">
                    {{ 'rank.user'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.planets'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.points'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.pdg'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.createdAt'|trans }}
                </th>
            </tr>
            {% set x = 1 %}
            {% for user in users %}
                <tr{% if app.user.getId() == user.id %} class="constructFree"{% endif %}>
                    <th width="90px" class="tab-cells-name p-2">
                        {% if x == 1 %}<div class="text-or glyphicon glyphicon-star"></div> <span class="float-left ml-3">{{ x }}</span>{% elseif x == 2 %}<div class="text-argent glyphicon glyphicon-star"></div> <span class="float-left ml-3">{{ x }}</span>{% elseif x == 3 %}<div class="text-bronze glyphicon glyphicon-star"></div> <span class="float-left ml-3">{{ x }}</span>{% else %}<div class="glyphicon glyphicon-star" hidden></div> <span class="float-left ml-3">{{ x }}</span>{% endif %}{% if user.position > user.oldPosition %}<span class="rank-bad-border text-rouge float-right">-{{ user.position - user.oldPosition }}</span>{% else %}<span class="rank-good-border text-vert float-right">+{{ user.oldPosition - user.position }}</span>{% endif %}
                    </th>
                    <th class="tab-cells-name p-2 text-left">
                        {% if user.alliance %}<span><a data-toggle="modal" data-target="#allyModal"  href="{{ path('ally_profil_modal', {'allyUser': user.alliance, 'usePlanet': usePlanet.getId()}) }}">[{{ user.sigle }}]</a></span> {% endif %}<span><a data-toggle="modal" data-target="#userModal"  href="{{ path('user_profil_modal', {'userPlanet': user.id, 'usePlanet': usePlanet.getId()}) }}">{{ user.username }}</a>{% if user.politic == 'democrat' %}<div class="ml-2 text-vert glyphicon glyphicon-euro" data-toggle="tooltip" data-placement="top" title="{{ 'democrat'|trans }}"></div>{% elseif user.politic == 'communism' %}<div class="ml-2 text-rouge glyphicon glyphicon-globe" data-toggle="tooltip" data-placement="top" title="{{ 'communism'|trans }}"></div>{% elseif user.politic == 'fascism' %}<div class="ml-2 text-blanc glyphicon glyphicon-flash" data-toggle="tooltip" data-placement="top" title="{{ 'fascism'|trans }}"></div>{% endif %}</span>
                    </th>
                    <th class="tab-cells-name p-2">
                        {% if user.politic == 'communism' or user.politic == 'fascism' %}
                            ??
                        {% else %}
                            {{ user.planets|number_format }}
                        {% endif %}
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ user.point|number_format }}{% if user.point > user.oldPoint %}<span class="rank-good-border text-vert">+{{ (user.point - user.oldPoint)|number_format }}</span>{% else %}<span class="rank-bad-border text-rouge">-{{ (user.oldPoint - user.point)|number_format }}</span>{% endif %}
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ user.warPoint|number_format }}
                    </th>
                    <th class="tab-cells-name p-2">
                        {{ user.createdAt|date('d/m/Y') }}
                    </th>
                </tr>
                {% set x = x + 1 %}
            {% endfor %}
            </tbody>
        </table>
        <div class="front-block-second">
            <div class="text-center text-vert">{{ 'rank.nbrPlayers'|trans({'%nbrPlayer%': nbrPlayers|number_format})|raw }}</div>
        </div>
    </div>
    <div class="modal fade" id="allyModal" tabindex="-1" role="dialog" aria-labelledby="allyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
