{% extends 'base.html.twig' %}

{% trans_default_domain 'front_user_rank' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block">
        {% if character.getStats()|length > 7 %}
            <div class="front-block-second">
                {% set points = [] %}
                {% set pdg = [] %}
                {% set otherPdg = [] %}
                {% set otherAllPoints = [] %}
                {% set date = [] %}
                {% for otherPoint in otherPoints %}
                    {% set otherPdg = otherPdg|merge([(otherPoint['allPdg'] / otherPoint['numbers'])|round]) %}
                    {% set otherAllPoints = otherAllPoints|merge([(otherPoint['allPoint'] / otherPoint['numbers'])|round]) %}
                {% endfor %}
                {% for stat in character.getStats() %}
                    {% set pdg = pdg|merge([stat.getPdg()|round]) %}
                    {% set points = points|merge([stat.getPoints()|round]) %}
                    {% set date = date|merge([stat.getDate()|date("d/m/Y")]) %}
                {% endfor %}
                <div id="pdgPoints" data-pdg-points="{{ pdg|json_encode }}"></div>
                <div id="playerPoints" data-player-points="{{ points|json_encode }}"></div>
                <div id="pdgOtherPoints" data-pdg-other-points="{{ otherPdg|json_encode }}"></div>
                <div id="pointOtherPoints" data-point-other-points="{{ otherAllPoints|json_encode }}"></div>
                <div id="pdgDate" data-pdg-date="{{ date|json_encode }}"></div>
                <canvas class="mb-5" id="pdgChart" height="100"></canvas>
                {{ encore_entry_script_tags('pdgCharts') }}
            </div>
        {% endif %}
        <table class="table table-striped borderOverview table-dark text-center">
            <thead>
            <tr>
                <th>
                    {{ 'rank.position'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.user'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.planets'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.points'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.pdg'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% set x = 1 %}
            {% for allCharacter in allCharacters %}
                <tr{% if character.getId() == allCharacter.id %} class="currentBack"{% elseif ally and ally.getId() == allCharacter.alliance %} class="availableBack"{% elseif ally and allCharacter.sigle in character.getAllyEnnemyTag() and allCharacter.sigle is not null %} class="warningBack"{% endif %}>
                    <td width="100px" class="tab-cells-name p-2">
                        {% if x == 1 %}
                            <div class="text-or glyphicon glyphicon-star"></div> <span
                                class="float-left ml-3">{{ x }}</span>{% elseif x == 2 %}
                            <div class="text-argent glyphicon glyphicon-star"></div> <span
                                    class="float-left ml-3">{{ x }}</span>{% elseif x == 3 %}
                            <div class="text-bronze glyphicon glyphicon-star"></div> <span
                                    class="float-left ml-3">{{ x }}</span>{% else %}
                            <div class="glyphicon glyphicon-star" hidden></div> <span
                                    class="float-left ml-3">{{ x }}</span>{% endif %}{% if allCharacter.position > allCharacter.oldPosition %}
                            <span class="rank-bad-border text-rouge float-right">
                            &#8595 {{ allCharacter.position - allCharacter.oldPosition }}</span>{% elseif allCharacter.position < allCharacter.oldPosition %}
                            <span class="rank-good-border text-vert float-right">
                            &#8593 {{ allCharacter.oldPosition - allCharacter.position }}</span>{% else %}<span
                                class="rank-bad-border float-right text-mini">&#x25cf</span>{% endif %}
                    </td>
                    <td class="tab-cells-name p-2 text-left">
                        {% if allCharacter.imageName and x <= 12 %}
                            <img alt="{{ 'image'|trans({},'front_global') }}" height="15" width="15"
                                 src="{{ vich_uploader_asset(allCharacter, 'imageFile', 'App\\Entity\\Character') }}">
                        {% endif %}
                        {% if allCharacter.alliance %}<span><a data-toggle="modal" data-target="#allyModal"
                                                            href="{{ path('ally_profil_modal', {'allyCharacter': allCharacter.alliance, 'usePlanet': usePlanet.getId()}) }}">[{{ allCharacter.sigle }}]</a>
                        </span> {% endif %}<span><a data-toggle="modal" data-target="#userModal"
                                                    href="{{ path('user_profil_modal', {'characterProfil': allCharacter.id, 'usePlanet': usePlanet.getId()}) }}">{{ allCharacter.username }}</a>{% if allCharacter.politic == 'democrat' %}<div
                            class="ml-2 text-vert glyphicon glyphicon-euro" data-toggle="tooltip" data-placement="top"
                            title="{{ 'democrat'|trans }}"></div>{% elseif allCharacter.politic == 'communism' %}<div
                        class="ml-2 text-rouge glyphicon glyphicon-globe" data-toggle="tooltip" data-placement="top"
                        title="{{ 'communism'|trans }}"></div>{% elseif allCharacter.politic == 'fascism' %}<div
                        class="ml-2 text-blanc glyphicon glyphicon-flash" data-toggle="tooltip" data-placement="top"
                        title="{{ 'fascism'|trans }}"></div>{% endif %}</span>
                    </td>
                    <td class="tab-cells-name p-2">
                        {% if character.getId() == allCharacter.id %}
                            {{ allCharacter.planets|number_format }}
                        {% elseif allCharacter.politic == 'communism' or allCharacter.politic == 'fascism' %}
                            ??
                        {% else %}
                            {{ allCharacter.planets|number_format }}
                        {% endif %}
                    </td>
                    <td class="tab-cells-name p-2">
                        {{ allCharacter.point|number_format }}{% if allCharacter.point > allCharacter.oldPoint %}<span
                                class="rank-good-border text-vert">
                            +{{ (allCharacter.point - allCharacter.oldPoint)|number_format }}</span>{% elseif allCharacter.point < allCharacter.oldPoint %}
                            <span class="rank-bad-border text-rouge">
                            -{{ (allCharacter.oldPoint - allCharacter.point)|number_format }}</span>{% else %}<span
                                class="rank-bad-border text-mini">&#x25cf</span>{% endif %}
                    </td>
                    <td class="tab-cells-name p-2">
                        {{ allCharacter.warPoint|number_format }}
                    </td>
                </tr>
                {% set x = x + 1 %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>
                    {{ 'rank.position'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.user'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.planets'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.points'|trans }}
                </th>
                <th class="th-sm">
                    {{ 'rank.pdg'|trans }}
                </th>
            </tr>
            </tfoot>
        </table>
        {% if nbrPlayers > 0 %}
            <div class="front-block-second">
                <div class="text-center text-vert">{{ 'rank.nbrPlayers'|trans({'%nbrPlayer%': nbrPlayers|number_format})|raw }}</div>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="allyModal" tabindex="-1" role="dialog" aria-labelledby="allyModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
