{% extends 'base.html.twig' %}

{% trans_default_domain 'front_salon' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block display-message">
        <ul class="nav nav-tabs mt-1" id="myTab" role="tablist">
            {% for tmpSalon in salons %}
                {% if tmpSalon.getId() == salon.getId() %}
                    <li class="nav-item">
                        <a class="py-2 nav-link active" id="{{ tmpSalon.getName() }}-tab" data-toggle="tab" href="#{{ tmpSalon.getName() }}" role="tab" aria-controls="{{ tmpSalon.getName() }}" aria-selected="true"><h4>{{ tmpSalon.getName() }}</h4></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('salon_id', {'idp': usePlanet.getId(), 'id': tmpSalon.getId()}) }}" >{{ tmpSalon.getName() }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="{{ salon.getName() }}" role="tabpanel" aria-labelledby="{{ salon.getName() }}-tab">
                <div class="chat-defil">
                    <table class="table table-striped table-bordered table-dark">
                        <tbody class="messagesPost">
                        {% for message in salon.getContents() %}
                            <tr>
                                <th class="tab-cells-name">
                                    <div>
                                        {% if message.getUser().getImageName() %}
                                            <img height="15" width="15" src="{{ vich_uploader_asset(message.getUser(), 'imageFile') }}">
                                        {% else %}
                                            <img height="15" width="15" src="{{ asset('img/avatar.png') }}">
                                        {% endif %}
                                        {% if message.getUser().getAlly() %}<span><a data-toggle="modal" data-target="#allyModal" href="{{ path('ally_profil_modal', {'idp': usePlanet.getId(), 'id': message.getUser().getAlly().getId()}) }}">[{{ message.getUser().getAlly().getSigle() }}] </a></span>{% endif %}<span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': message.getUser().getId()}) }}" {% if message.getUser() == app.user %} class="text-vert"{% endif %}>{{ message.getUser().getUserName() }}</a></span> :  <span class="ml-2">{{ message.getMessage()|raw }}</span>
                                    </div>
                                </th>
                                <th width="125px" class="tab-cells-name cell-middle">
                                    <div>
                                        {{ message.getSendAt()|date('H:i:s  d/m/Y') }}
                                    </div>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% set action = path('salon_id', {'idp': usePlanet.getId(), 'id': salon.getId()}) %}{#  ~ "#" ~ salon.getName() ~ "-tab"#}
                {{ form_start(form_message,{attr: { action: action }}) }}
                <div class="row">
                    <div class="col-10">
                        {{ form_widget(form_message.content) }}
                    </div>
                    <div class="col-2 float-left">
                        {{ form_widget(form_message.sendForm) }}
                    </div>
                </div>
                {{ form_end(form_message) }}
                {%  set isAlly = 'no' %}
                {% for sAlly in salon.getAllys() %}
                    {% if sAlly == app.user.getAlly() %}
                        {%  set isAlly = 'yes' %}
                    {% endif %}
                {% endfor %}
                {% if salon.getId() != 1 and isAlly == 'no' %}<span class="float-right mt-3"><a href="{{ path('ally_leave_salon', {'idp': usePlanet.getId(), 'id': salon.getId()}) }}">{{ 'salon.close'|trans }}</a></span>{% endif %}
            </div>
        </div>
        <div class="p-3">
            {% if salon.getId() == 1 %}
                {% for userCo in userCos %}
                    {% if userCo.lastActivity > connected %}
                        {% if userCo.getAlly() %}<span><a data-toggle="modal" data-target="#allyModal" href="{{ path('ally_profil_modal', {'idp': usePlanet.getId(), 'id': userCo.getAlly().getId()}) }}">[{{ userCo.getAlly().getSigle() }}] </a></span>{% endif %}<span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': userCo.getId()}) }}">{{ userCo.getUserName() }}</a></span> -
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if salon.getAllys() and salon.getUsers()|length == 0 %}
                    {% for ally in salon.getAllys() %}
                        {% for user in ally.getUsers() %}
                            {% if user.lastActivity > connected %}
                                {% if user.getAlly() %}<span><a data-toggle="modal" data-target="#allyModal" href="{{ path('ally_profil_modal', {'idp': usePlanet.getId(), 'id': user.getAlly().getId()}) }}">[{{ user.getAlly().getSigle() }}] </a></span>{% endif %}<span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': user.getId()}) }}">{{ user.getUserName() }}</a></span> -
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% for user in salon.getUsers() %}
                    {% if user.lastActivity > connected %}
                        {% if user.getAlly() %}<span><a data-toggle="modal" data-target="#allyModal" href="{{ path('ally_profil_modal', {'idp': usePlanet.getId(), 'id': user.getAlly().getId()}) }}">[{{ user.getAlly().getSigle() }}] </a></span>{% endif %}<span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': user.getId()}) }}">{{ user.getUserName() }}</a></span> -
                    {% endif %}
                {% endfor %}
            {% endif %}
            <span class="ml-5"><a href="https://discord.gg/bpwWyS8" target="_blank">Rejoindre discord !</a></span>
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="allyModal" tabindex="-1" role="dialog" aria-labelledby="allyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
