{% extends 'base.html.twig' %}

{% trans_default_domain 'front_salon' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block display-message">
        <ul class="nav nav-tabs mt-1" id="myTab" role="tablist">
            {% set x = 0 %}
            {% for salon in salons %}
                <li class="nav-item">
                    <a class="nav-link{% if x == 0 %} active{% endif %}" id="{{ salon.getName() }}-tab" data-toggle="tab" href="#{{ salon.getName() }}" role="tab" aria-controls="{{ salon.getName() }}" aria-selected="true"><h2>{{ salon.getName() }}</h2></a>
                </li>
                {% set x = 1 %}
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            {% set x = 0 %}
            {% for salon in salons %}
                <div class="tab-pane{% if x == 0 %} fade show active{% endif %}" id="{{ salon.getName() }}" role="tabpanel" aria-labelledby="{{ salon.getName() }}-tab">
                    <div class="chat-defil">
                        <table class="table table-striped table-bordered table-dark">
                            <tbody>
                            {% for message in salon.getContents() %}
                                <tr>
                                    <th class="tab-cells-name">
                                        <div>
                                            <span><a data-toggle="modal" data-target="#userModal" href="{{ path('user_profil_modal', {'idp': usePlanet.getId(), 'id': message.getUser().getId()}) }}" {% if message.getUser() == app.user %} class="text-vert"{% endif %}>{{ message.getUser().getUserName() }}</a></span> :  <span class="ml-2">{{ message.getMessage()|raw }}</span>
                                        </div>
                                    </th>
                                    <th width="125px" class="tab-cells-name cell-middle">
                                        <div>
                                            {{ message.getSendAt()|date('H:i:s d/m/Y ') }}
                                        </div>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% set form_message = formObject.createView %}
                    {{ form_start(form_message,{attr: { action: path('salon_id', {'idp': usePlanet.getId(), 'salon': salon.getId()}) }}) }}
                    <div class="row">
                        <div class="col-10">
                            {{ form_widget(form_message.content) }}
                        </div>
                        <div class="col-2 float-left">
                            {{ form_widget(form_message.sendForm,{attr: { class: 'btn btn-sm btn-info'}}) }}
                        </div>
                    </div>
                    {{ form_end(form_message) }}
                </div>
                {% set x = 1 %}
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
