{% extends 'base.html.twig' %}

{% trans_default_domain 'front_search' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block research">
        <div id="timeDefaut" hidden>{{ date|date('Y/m/d H:i:s') }}</div>
        <div class="block-title ml-4"><h2>{{ 'research.titleUtility'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/utility.png') }}"> {{ 'title.utility'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getUtility()|trans }}
                    <div class="mt-4">{{ (app.user.getUtility() + 1) * 2500 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'utility' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getUtility() + 1) * 2500) and app.user.getUtility() < 3 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_utility', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/terra.png') }}"> {{ 'title.terraformation'|trans|raw }} - {% if app.user.getTerraformation() == false %}{{ 'research.canBe'|trans }}{% else %}<span class="text-vert">{{ 'research.Activated'|trans }}</span>{% endif %}
                    <div class="mt-4">12000 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'terraformation' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= 12000 and app.user.getTerraformation() == 0  and app.user.getUtility() > 0 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_terraformation', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/cargo.png') }}"> {{ 'title.cargo'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getCargo()|trans }}
                    <div class="mt-4">{{ (app.user.getCargo() + 1) * 3500 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'cargo' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getCargo() + 1) * 3500) and app.user.getCargo() < 5  and app.user.getUtility() > 1 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_cargo', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <th class="tab-cells-name">
                <img class="float-left building-img ml-3" src="{{ asset('img/invader.png') }}"> {{ 'title.barge'|trans|raw }} - {% if app.user.getBarge() == false %}{{ 'research.canBe'|trans }}{% else %}<span class="text-vert">{{ 'research.Activated'|trans }}</span>{% endif %}
                <div class="mt-4">350000 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
            </th>
            <td class="center-cells">
                {% if app.user.getSearch() == 'barge' %}
                    <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                    <div id="timeDisplay" class="my-2"></div>
                {% else %}
                    {% if app.user.getBitcoin() >= 350000 and app.user.getBarge() == 0  and app.user.getUtility() == 3 and app.user.getSearchAt() < date %}
                        <a class="btn btn-lg btn-info" href="{{ path('research_barge', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                    {% else %}
                        <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                    {% endif %}
                {% endif %}
            </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/recyclage.png') }}"> {{ 'title.recycleur'|trans|raw }} - {% if app.user.getRecycleur() == false %}{{ 'research.canBe'|trans }}{% else %}<span class="text-vert">{{ 'research.Activated'|trans }}</span>{% endif %}
                    <div class="mt-4">16900 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'recycleur' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= 16900 and app.user.getRecycleur() == 0  and app.user.getUtility() == 3 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_recyclage', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/scanner.png') }}"> {{ 'title.onde'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getOnde()|trans }}
                    <div class="mt-4">{{ (app.user.getOnde() + 1) * 2300 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'onde' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getOnde() + 1) * 2300) and app.user.getOnde() < 5 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_onde', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/hyper.png') }}"> {{ 'title.hyperespace'|trans|raw }} - {% if app.user.getHyperespace() == false %}{{ 'research.canBe'|trans }}{% else %}<span class="text-vert">{{ 'research.Activated'|trans }}</span>{% endif %}
                    <div class="mt-4">5000000 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'hyperespace' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= 5000000 and app.user.getHyperespace() == false and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_hyperespace', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'research.titleEco'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/urbain.png') }}"> {{ 'title.demography'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getDemography()|trans }}
                    <div class="mt-4">{{ (app.user.getDemography() + 1) * 8000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'demography' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getDemography() + 1) * 8000) and app.user.getDemography() < 5 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_demography', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/military.png') }}"> {{ 'title.discipline'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getDiscipline()|trans }}
                    <div class="mt-4">{{ (app.user.getDiscipline() + 1) * 11700 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'discipline' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getDiscipline() + 1) * 11700) and app.user.getDemography() > 0 and app.user.getDiscipline() < 3 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_discipline', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'research.titleArm'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/armement.png') }}"> {{ 'title.armement'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getArmement()|trans }}
                    <div class="mt-4">{{ (app.user.getArmement() + 1) * 2000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'armement' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getArmement() + 1) * 2000) and app.user.getArmement() < 5 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_armement', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/missile.png') }}"> {{ 'title.missile'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getMissile()|trans }}
                    <div class="mt-4">{{ (app.user.getMissile() + 1) * 2600 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'missile' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                    {% if app.user.getBitcoin() >= ((app.user.getMissile() + 1) * 2600) and app.user.getArmement() > 0 and app.user.getMissile() < 3 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_missile', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/laser.png') }}"> {{ 'title.laser'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getLaser()|trans }}
                    <div class="mt-4">{{ (app.user.getLaser() + 1) * 13000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'laser' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getLaser() + 1) * 13000) and app.user.getArmement() > 2 and app.user.getLaser() < 3 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_laser', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/plasma.png') }}"> {{ 'title.plasma'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getPlasma()|trans }}
                    <div class="mt-4">{{ (app.user.getPlasma() + 1) * 29000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'plasma' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getPlasma() + 1) * 29000) and app.user.getArmement() == 5 and app.user.getPlasma() < 3 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_plasma', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'research.titleWar'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/industry.png') }}"> {{ 'title.industry'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getIndustry()|trans }}
                    <div class="mt-4">{{ (app.user.getIndustry() + 1) * 1500 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'industry' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getIndustry() + 1) * 1500) and app.user.getIndustry() < 5 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_industry', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/lightShip.png') }}"> {{ 'title.lightShip'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getLightShip()|trans }}
                    <div class="mt-4">{{ (app.user.getLightShip() + 1) * 9000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'lightShip' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getLightShip() + 1) * 9000) and app.user.getLightShip() < 5 and app.user.getIndustry() > 2 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_light_ship', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/heavyShip.png') }}"> {{ 'title.heavyShip'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getHeavyShip()|trans }}
                    <div class="mt-4">{{ (app.user.getHeavyShip() + 1) * 42000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells">
                    {% if app.user.getSearch() == 'heavyShip' %}
                        <div id="timeConstruct" hidden>{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        <div id="timeDisplay" class="my-2"></div>
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getHeavyShip() + 1) * 42000) and app.user.getHeavyShip() < 5 and app.user.getIndustry() == 5 and app.user.getSearchAt() < date %}
                            <a class="btn btn-lg btn-info" href="{{ path('research_heavy_ship', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-info" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
