{% extends 'base.html.twig' %}

{% trans_default_domain 'front_search' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="front-block research">
        <div id="timeDefaut" hidden>{{ date|date('Y/m/d H:i:s') }}</div>
        <div class="block-title ml-4"><h2>{{ 'research.titleUtility'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/utility.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.utility'|trans|raw }}">{{ 'title.utility'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getUtility()|trans }} / 3</button>
                    <div class="mt-4">{{ (app.user.getUtility() + 1) * 2500 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.utility.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'utility' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getUtility() + 1) * 2500) and app.user.getUtility() < 3 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getUtility() + 1) * app.user.getTimeConstruct(2000)) < 3600 %}{{  ((app.user.getUtility() + 1) * app.user.getTimeConstruct(2000))|date('i:s') }}{% elseif ((app.user.getUtility() + 1) * app.user.getTimeConstruct(2000)) < 86400 %}{{  ((app.user.getUtility() + 1) * app.user.getTimeConstruct(2000))|date('H:i:s') }}{% else %}{{  ((app.user.getUtility() + 1) * app.user.getTimeConstruct(2000))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_utility', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getUtility() == 3 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/terra.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.terra'|trans|raw }}">{{ 'title.terraformation'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getTerraformation()|trans }} / 18</button>
                    <div class="mt-4">{{ (app.user.getTerraformation() + 1) * 12000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.terraformation.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'terraformation' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                    {% else %}
                        {% if app.user.getBitcoin() >= (app.user.getTerraformation() + 1) * 12000 and app.user.getTerraformation() < 18  and app.user.getUtility() > 0 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getTerraformation() + 1) * app.user.getTimeConstruct(36000)) < 86400 %}{{  ((app.user.getTerraformation() + 1) * app.user.getTimeConstruct(36000))|date('H:i:s') }}{% else %}{{ ((app.user.getTerraformation() + 1) * app.user.getTimeConstruct(36000))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_terraformation', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/cargo.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.cargo'|trans|raw }}">{{ 'title.cargo'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getCargo()|trans }} / 5</button>
                    <div class="mt-4">{{ (app.user.getCargo() + 1) * 3500 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.cargo.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'cargo' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getCargo() + 1) * 3500) and app.user.getCargo() < 5  and app.user.getUtility() > 1 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getCargo() + 1) * app.user.getTimeConstruct(4000)) < 86400 %}{{  ((app.user.getCargo() + 1) * app.user.getTimeConstruct(4000))|date('H:i:s') }}{% else %}{{  ((app.user.getCargo() + 1) * app.user.getTimeConstruct(4000))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_cargo', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getCargo() == 5 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <th class="tab-cells-name">
                <img class="float-left building-img ml-3" src="{{ asset('img/invader.png') }}">{% if app.user.getBarge() == false %}<button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.barge'|trans|raw }}">{{ 'title.barge'|trans|raw }} - {{ 'research.canBe'|trans }}</button>{% else %}{{ 'title.barge'|trans|raw }} - <span class="text-vert">{{ 'research.Activated'|trans }}</span>{% endif %}
                <div class="mt-4">35000 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
            </th>
            <td class="center-cells cell-middle">
                {{ 'research.barge.desc'|trans }}
            </td>
            <td width="101px" class="center-cells cell-middle">
                {% if app.user.getSearch() == 'barge' %}
                    <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                    
                {% else %}
                    {% if app.user.getBitcoin() >= 35000 and app.user.getBarge() == 0  and app.user.getUtility() == 3 and app.user.getSearchAt() < date %}
                        <div>{% if ((app.user.getBarge() + 1) * app.user.getTimeConstruct(28000)) < 86400 %}{{ ((app.user.getBarge() + 1) * app.user.getTimeConstruct(28000))|date('H:i:s') }}{% else %}{{  ((app.user.getBarge() + 1) * app.user.getTimeConstruct(28000))|date('d H:i:s') }}{% endif %}</div>
                        <a class="btn btn-lg btn-info" href="{{ path('research_barge', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                    {% else %}
                        {% if app.user.getBarge() == 1 %}
                            <div class="text-vert mt-4">{{ 'research.finish'|trans }}</div>
                        {% else %}
                            <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/recyclage.png') }}">{% if app.user.getRecycleur() == false %}<button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.recylceur'|trans|raw }}">{{ 'title.recycleur'|trans|raw }} - {{ 'research.canBe'|trans }}</button>{% else %}{{ 'title.recycleur'|trans|raw }} - <span class="text-vert">{{ 'research.Activated'|trans }}</span>{% endif %}
                    <div class="mt-4">16900 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.recycleur.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'recycleur' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= 16900 and app.user.getRecycleur() == 0  and app.user.getUtility() == 3 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getRecycleur() + 1) * app.user.getTimeConstruct(4000)) < 86400 %}{{ ((app.user.getRecycleur() + 1) * app.user.getTimeConstruct(4000))|date('H:i:s') }}{% else %}{{ ((app.user.getRecycleur() + 1) * app.user.getTimeConstruct(4000))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_recyclage', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getRecycleur() == 1 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/scanner.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.onde'|trans|raw }}">{{ 'title.onde'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getOnde()|trans }} / 5</button>
                    <div class="mt-4">{{ (app.user.getOnde() + 1) * 2300 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.onde.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'onde' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getOnde() + 1) * 2300) and app.user.getOnde() < 5 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getOnde() + 1) * app.user.getTimeConstruct(3000)) < 3600 %}{{ ((app.user.getOnde() + 1) * app.user.getTimeConstruct(3000))|date('i:s') }}{% elseif ((app.user.getOnde() + 1) * app.user.getTimeConstruct(3000)) < 86400 %}{{ ((app.user.getOnde() + 1) * app.user.getTimeConstruct(3000))|date('H:i:s') }}{% else %}{{ ((app.user.getOnde() + 1) * app.user.getTimeConstruct(3000))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_onde', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getOnde() == 5 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/hyper.png') }}">{% if app.user.getHyperespace() == false %}<button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.hyper'|trans|raw }}">{{ 'title.hyperespace'|trans|raw }} - {{ 'research.canBe'|trans }}</button>{% else %}{{ 'title.hyperespace'|trans|raw }} - <span class="text-vert">{{ 'research.Activated'|trans }}</span>{% endif %}
                    <div class="mt-4">25000000 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.hyperespace.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'hyperespace' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= 25000000 and app.user.getHyperespace() == false and app.user.getSearchAt() < date %}
                            <div>{{  ((app.user.getHyperespace() + 1) * app.user.getTimeConstruct(604800))|date('d H:i:s') }}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_hyperespace', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getHyperespace() == true %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'research.titleEco'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/urbain.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.demography'|trans|raw }}">{{ 'title.demography'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getDemography()|trans }} / 5</button>
                    <div class="mt-4">{{ (app.user.getDemography() + 1) * 8000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.demography.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'demography' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getDemography() + 1) * 8000) and app.user.getDemography() < 5 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getDemography() + 1) * app.user.getTimeConstruct(4800)) < 86400 %}{{  ((app.user.getDemography() + 1) * app.user.getTimeConstruct(4800))|date('H:i:s') }}{% else %}{{  ((app.user.getDemography() + 1) * app.user.getTimeConstruct(4800))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_demography', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getDemography() == 5 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/military.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.discipline'|trans|raw }}">{{ 'title.discipline'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getDiscipline()|trans }} / 3</button>
                    <div class="mt-4">{{ (app.user.getDiscipline() + 1) * 11700 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.discipline.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'discipline' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getDiscipline() + 1) * 11700) and app.user.getDemography() > 0 and app.user.getDiscipline() < 3 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getDiscipline() + 1) * app.user.getTimeConstruct(9300)) < 86400 %}{{  ((app.user.getDiscipline() + 1) * app.user.getTimeConstruct(9300))|date('H:i:s') }}{% else %}{{  ((app.user.getDiscipline() + 1) * app.user.getTimeConstruct(9300))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_discipline', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getDiscipline() == 3 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'research.titleArm'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/armement.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.armement'|trans|raw }}">{{ 'title.armement'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getArmement()|trans }} / 5</button>
                    <div class="mt-4">{{ (app.user.getArmement() + 1) * 2000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.armement.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'armement' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getArmement() + 1) * 2000) and app.user.getArmement() < 5 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getArmement() + 1) * app.user.getTimeConstruct(3700)) < 86400 %}{{  ((app.user.getArmement() + 1) * app.user.getTimeConstruct(3700))|date('H:i:s') }}{% else %}{{  ((app.user.getArmement(3700) + 1) * app.user.getTimeConstruct())|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_armement', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getArmement() == 5 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/missile.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.missile'|trans|raw }}">{{ 'title.missile'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getMissile()|trans }} / 3</button>
                    <div class="mt-4">{{ (app.user.getMissile() + 1) * 2600 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.missile.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'missile' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getMissile() + 1) * 2600) and app.user.getArmement() > 0 and app.user.getMissile() < 3 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getMissile() + 1) * app.user.getTimeConstruct(4500)) < 86400 %}{{ ((app.user.getMissile() + 1) * app.user.getTimeConstruct(4500))|date('H:i:s') }}{% else %}{{ ((app.user.getMissile() + 1) * app.user.getTimeConstruct(4500))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_missile', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getMissile() == 3 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/laser.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.laser'|trans|raw }}">{{ 'title.laser'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getLaser()|trans }} / 3</button>
                    <div class="mt-4">{{ (app.user.getLaser() + 1) * 13000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.laser.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'laser' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getLaser() + 1) * 13000) and app.user.getArmement() > 2 and app.user.getLaser() < 3 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getLaser() + 1) * app.user.getTimeConstruct(18000)) < 86400 %}{{ ((app.user.getLaser() + 1) * app.user.getTimeConstruct(18000))|date('H:i:s') }}{% else %}{{ ((app.user.getLaser() + 1) * app.user.getTimeConstruct(18000))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_laser', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getLaser() == 3 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/plasma.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.plasma'|trans|raw }}">{{ 'title.plasma'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getPlasma()|trans }} / 3</button>
                    <div class="mt-4">{{ (app.user.getPlasma() + 1) * 29000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.plasma.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'plasma' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getPlasma() + 1) * 29000) and app.user.getArmement() == 5 and app.user.getPlasma() < 3 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getPlasma() + 1) * app.user.getTimeConstruct(46800)) < 86400 %}{{ ((app.user.getPlasma() + 1) * app.user.getTimeConstruct(46800))|date('H:i:s') }}{% else %}{{ ((app.user.getPlasma() + 1) * app.user.getTimeConstruct(46800))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_plasma', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getPlasma() == 3 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="block-title mt-5 ml-4"><h2>{{ 'research.titleWar'|trans }}</h2></div>
        <table class="table table-striped table-bordered table-dark text-center">
            <tbody>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/industry.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.industry'|trans|raw }}">{{ 'title.industry'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getIndustry()|trans }} / 5</button>
                    <div class="mt-4">{{ (app.user.getIndustry() + 1) * 1500 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.industry.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'industry' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getIndustry() + 1) * 1500) and app.user.getIndustry() < 5 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getIndustry() + 1) * app.user.getTimeConstruct(1500)) < 3600 %}{{ ((app.user.getIndustry() + 1) * app.user.getTimeConstruct(1500))|date('i:s') }}{% elseif ((app.user.getIndustry() + 1) * app.user.getTimeConstruct(1500)) < 86400 %}{{ ((app.user.getIndustry() + 1) * app.user.getTimeConstruct(1500))|date('H:i:s') }}{% else %}{{ ((app.user.getIndustry() + 1) * app.user.getTimeConstruct(1500))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_industry', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getIndustry() == 5 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/lightShip.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.light'|trans|raw }}">{{ 'title.lightShip'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getLightShip()|trans }} / 3</button>
                    <div class="mt-4">{{ (app.user.getLightShip() + 1) * 9000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.lightShip.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'lightShip' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getLightShip() + 1) * 9000) and app.user.getLightShip() < 3 and app.user.getIndustry() > 2 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getLightShip() + 1) * app.user.getTimeConstruct(8600)) < 86400 %}{{ ((app.user.getLightShip() + 1) * app.user.getTimeConstruct(8600))|date('H:i:s') }}{% else %}{{ ((app.user.getLightShip() + 1) * app.user.getTimeConstruct(8600))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_light_ship', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getLightShip() == 3 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="tab-cells-name">
                    <img class="float-left building-img ml-3" src="{{ asset('img/heavyShip.png') }}"><button class="text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.heavy'|trans|raw }}">{{ 'title.heavyShip'|trans|raw }} - {{ 'research.level'|trans|raw }} {{ app.user.getHeavyShip()|trans }} / 3</button>
                    <div class="mt-4">{{ (app.user.getHeavyShip() + 1) * 42000 }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></div>
                </th>
                <td class="center-cells cell-middle">
                    {{ 'research.heavyShip.desc'|trans }}
                </td>
                <td width="101px" class="center-cells cell-middle">
                    {% if app.user.getSearch() == 'heavyShip' %}
                        <div id="timeResearch">{{ app.user.getSearchAt()|date('Y/m/d H:i:s') }}</div>
                        
                    {% else %}
                        {% if app.user.getBitcoin() >= ((app.user.getHeavyShip() + 1) * 42000) and app.user.getHeavyShip() < 3 and app.user.getIndustry() == 5 and app.user.getSearchAt() < date %}
                            <div>{% if ((app.user.getHeavyShip() + 1) * app.user.getTimeConstruct(9300)) < 86400 %}{{ ((app.user.getHeavyShip() + 1) * app.user.getTimeConstruct(9300))|date('H:i:s') }}{% else %}{{ ((app.user.getHeavyShip() + 1) * app.user.getTimeConstruct(9300))|date('d H:i:s') }}{% endif %}</div>
                            <a class="btn btn-lg btn-info" href="{{ path('research_heavy_ship', {'idp': usePlanet.getId()}) }}">{{ 'research.seek'|trans }}</a>
                        {% else %}
                            {% if app.user.getHeavyShip() == 3 %}
                                <div class="text-vert">{{ 'research.finish'|trans }}</div>
                            {% else %}
                                <a class="btn btn-lg btn-secondary" disabled>{{ 'research.seek'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
