{% extends 'base.html.twig' %}

{% trans_default_domain 'front_ship_perso' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}
        <div class="flash-notice mt-5 alerte-flash-error text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="front-block">
        {% if app.user.getTutorial() == 19 or app.user.getTutorial() == 20 %}
            <table class="table table-striped borderOverview tutorial">
                <tbody>
                <tr>
                    <th class="tab-cells-name p-3 tutorial">
                        <div class="row">
                            <div class="col-12 py-1">
                                {% if app.user.getTutorial() == 19 %}{{ 'quest.tutorial'|trans|raw }}{% elseif app.user.getTutorial() == 20  %}{{ 'quest.tutorialBis'|trans|raw }}{% endif %}
                            </div>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
        {% endif %}
        <div class="front-block-second">
            {% set shipPoints = [character.getShip().getArmorPoints() - 5115, character.getShip().getShieldPoints() - 159, character.getShip().getMissilePoints() - 272, character.getShip().getLaserPoints() - 30, character.getShip().getPlasmaPoints() - 25, character.getShip().getPrecisionPoints()] %}
            <div id="shipPoints" data-ship-points="{{ shipPoints|json_encode }}"></div>
            <div class="row">
                <div class="col-12">
                    <div class="block-title mb-3"><h2>{{ 'ship.personalisation'|trans }}</h2></div>
                    <table class="table table-striped table-bordered table-dark persoFleetClick">
                        <tbody>
                        <tr>
                            <th width="74" class="p-0 hunterClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/hunter.webp') }}">
                            </th>
                            <td class="text-center hunterClick{% if app.user.getTutorial() == 19 %} tutorial-show{% endif %}">
                                {{ 'ship.hunter'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointHunter() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointHunter() }}</span>
                            </td>
                            <th width="74" class="p-0 hunterHeavyClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/hunterHeavy.webp') }}">
                            </th>
                            <td class="text-center hunterHeavyClick">
                                {{ 'ship.hunterHeavy'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointHunterHeavy() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointHunterHeavy() }}</span>
                            </td>
                            <th width="74" class="p-0 hunterWarClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/hunterWar.webp') }}">
                            </th>
                            <td class="text-center hunterWarClick">
                                {{ 'ship.hunterWar'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointHunterWar() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointHunterWar() }}</span>
                            </td>
                            <th width="74" class="p-0 corvetClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/corvet.webp') }}">
                            </th>
                            <td class="text-center corvetClick">
                                {{ 'ship.corvet'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointCorvet() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointCorvet() }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th width="74" class="p-0 corvetLaserClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/corvetLaser.webp') }}">
                            </th>
                            <td class="text-center corvetLaserClick">
                                {{ 'ship.corvetLaser'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointCorvetLaser() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointCorvetLaser() }}</span>
                            </td>
                            <th width="74" class="p-0 corvetWarClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/corvetWar.webp') }}">
                            </th>
                            <td class="text-center corvetWarClick">
                                {{ 'ship.corvetWar'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointCorvetWar() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointCorvetWar() }}</span>
                            </td>
                            <th width="74" class="p-0 fregateClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/fregate.webp') }}">
                            </th>
                            <td class="text-center fregateClick">
                                {{ 'ship.fregate'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointFregate() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointFregate() }}</span>
                            </td>
                            <th width="74" class="p-0 fregatePlasmaClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/fregatePlasma.webp') }}">
                            </th>
                            <td class="text-center fregatePlasmaClick">
                                {{ 'ship.fregatePlasma'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointFregatePlasma() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointFregatePlasma() }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th width="74" class="p-0 croiserClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/croiser.webp') }}">
                            </th>
                            <td class="text-center croiserClick">
                                {{ 'ship.croiser'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointCroiser() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointCroiser() }}</span>
                            </td>
                            <th width="74" class="p-0 ironCladClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/ironClad.webp') }}">
                            </th>
                            <td class="text-center ironCladClick">
                                {{ 'ship.ironClad'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointIronClad() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointIronClad() }}</span>
                            </td>
                            <th width="74" class="p-0 destroyerClick">
                                <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/destroyer.webp') }}">
                            </th>
                            <td class="text-center destroyerClick">
                                {{ 'ship.destroyer'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="{% if character.getShip().getPointDestroyer() > 0 %}text-vert{% else %}text-rouge{% endif %}">{{ character.getShip().getPointDestroyer() }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-dark persoFleet">
                        <tbody>
                        {% if character.getShip().getPointHunter() == 0 %}
                            <tr name="hunter" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/hunter.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.hunter'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorHunter() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} 0
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateHunter() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileHunter() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} 0
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="hunter" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/hunter.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'hunter' }}) }}
                                    {{ 'ship.hunter'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointHunter() }}</span><span class="totalExec hidden">{{ character.getShip().getPointHunter() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorHunter() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorHunter() }}</span>
                                </td>
                                <td class="center-cells">
                                    {% if app.user.getTutorial() == 19 %}
                                        {{ form_widget(form_shipPerso.armor,{attr: { class: 'game-input tutorial-show' }}) }}
                                    {% else %}
                                        {{ form_widget(form_shipPerso.armor) }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateHunter() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateHunter() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="hunter" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileHunter() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileHunter() }}</span>
                                </td>
                                <td class="center-cells">
                                    {% if app.user.getTutorial() == 19 %}
                                        {{ form_widget(form_shipPerso.missile,{attr: { class: 'game-input tutorial-show' }}) }}
                                    {% else %}
                                        {{ form_widget(form_shipPerso.missile) }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="hunter" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointHunterHeavy() == 0 %}
                            <tr name="hunterHeavy" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/hunterHeavy.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.hunterHeavy'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorHunterHeavy() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} 0
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateHunterHeavy() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileHunterHeavy() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} 0
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="hunterHeavy" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/hunterHeavy.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'hunterHeavy' }}) }}
                                    {{ 'ship.hunterHeavy'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointHunterHeavy() }}</span><span class="totalExec hidden">{{ character.getShip().getPointHunterHeavy() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorHunterHeavy() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorHunterHeavy() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateHunterHeavy() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateHunterHeavy() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="hunterHeavy" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileHunterHeavy() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileHunterHeavy() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="hunterHeavy" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointHunterWar() == 0 %}
                            <tr name="hunterWar" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/hunterWar.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.hunterWar'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorHunterWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} 0
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateHunterWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileHunterWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserHunterWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }}  {{ character.getShip().getPlasmaHunterWar() }}
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="hunterWar" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/hunterWar.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'hunterWar' }}) }}
                                    {{ 'ship.hunterWar'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointHunterWar() }}</span><span class="totalExec hidden">{{ character.getShip().getPointHunterWar() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorHunterWar() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorHunterWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateHunterWar() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateHunterWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="hunterWar" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileHunterWar() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileHunterWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} <span class="addPoint">{{ character.getShip().getLaserHunterWar() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserHunterWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} <span class="addPoint">{{ character.getShip().getPlasmaHunterWar() }}</span> <span class="basis" hidden>{{ character.getShip().getPlasmaHunterWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma) }}
                                </td>
                            </tr>
                            <tr name="hunterWar" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointCorvet() == 0 %}
                            <tr name="corvet" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/corvet.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.corvet'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorCorvet() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldCorvet() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateCorvet() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileCorvet() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} 0
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="corvet" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/corvet.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'corvet' }}) }}
                                    {{ 'ship.corvet'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointCorvet() }}</span><span class="totalExec hidden">{{ character.getShip().getPointCorvet() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorCorvet() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorCorvet() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldCorvet() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldCorvet() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateCorvet() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateCorvet() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="corvet" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileCorvet() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileCorvet() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="corvet" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointCorvetLaser() == 0 %}
                            <tr name="corvetLaser" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/corvetLaser.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.corvetLaser'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorCorvetLaser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldCorvetLaser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateCorvetLaser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileCorvetLaser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserCorvetLaser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }}  0
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="corvetLaser" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/corvetLaser.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'corvetLaser' }}) }}
                                    {{ 'ship.corvetLaser'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointCorvetLaser() }}</span><span class="totalExec hidden">{{ character.getShip().getPointCorvetLaser() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorCorvetLaser() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorCorvetLaser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldCorvetLaser() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldCorvetLaser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateCorvetLaser() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateCorvetLaser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="corvetLaser" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileCorvetLaser() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileCorvetLaser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} <span class="addPoint">{{ character.getShip().getLaserCorvetLaser() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserCorvetLaser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="corvetLaser" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointCorvetWar() == 0 %}
                            <tr name="corvetWar" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/corvetWar.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.corvetWar'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorCorvetWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldCorvetWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateCorvetWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileCorvetWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserCorvetWar() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }}
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="corvetWar" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/corvetWar.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'corvetWar' }}) }}
                                    {{ 'ship.corvetWar'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointCorvetWar() }}</span><span class="totalExec hidden">{{ character.getShip().getPointCorvetWar() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorCorvetWar() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorCorvetWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldCorvetWar() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldCorvetWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateCorvetWar() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateCorvetWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="corvetWar" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileCorvetWar() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileCorvetWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }}  <span class="addPoint">{{ character.getShip().getLaserCorvetWar() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserCorvetWar() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="corvetWar" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointFregate() == 0 %}
                            <tr name="fregate" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/fregate.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.fregate'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorFregate() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldFregate() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateFregate() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileFregate() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserFregate() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }}
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="fregate" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/fregate.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'fregate' }}) }}
                                    {{ 'ship.fregate'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointFregate() }}</span><span class="totalExec hidden">{{ character.getShip().getPointFregate() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorFregate() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorFregate() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldFregate() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldFregate() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateFregate() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateFregate() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="fregate" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileFregate() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileFregate() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }}  <span class="addPoint">{{ character.getShip().getLaserFregate() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserFregate() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} 0
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="fregate" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointFregatePlasma() == 0 %}
                            <tr name="fregatePlasma" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/fregatePlasma.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.fregatePlasma'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorFregatePlasma() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldFregatePlasma() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateFregatePlasma() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileFregatePlasma() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserFregatePlasma() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }} {{ character.getShip().getPlasmaFregatePlasma() }}
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="fregatePlasma" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/fregatePlasma.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'fregatePlasma' }}) }}
                                    {{ 'ship.fregatePlasma'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointFregatePlasma() }}</span><span class="totalExec hidden">{{ character.getShip().getPointFregatePlasma() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorFregatePlasma() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorFregatePlasma() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldFregatePlasma() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldFregatePlasma() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateFregatePlasma() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateFregatePlasma() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="fregatePlasma" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileFregatePlasma() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileFregatePlasma() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} <span class="addPoint">{{ character.getShip().getLaserFregatePlasma() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserFregatePlasma() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} <span class="addPoint">{{ character.getShip().getPlasmaFregatePlasma() }}</span> <span class="basis" hidden>{{ character.getShip().getPlasmaFregatePlasma() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma) }}
                                </td>
                            </tr>
                            <tr name="fregatePlasma" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointCroiser() == 0 %}
                            <tr name="croiser" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/croiser.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.croiser'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorCroiser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldCroiser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateCroiser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileCroiser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserCroiser() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }} {{ character.getShip().getPlasmaCroiser() }}
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="croiser" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/croiser.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'croiser' }}) }}
                                    {{ 'ship.croiser'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointCroiser() }}</span><span class="totalExec hidden">{{ character.getShip().getPointCroiser() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorCroiser() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorCroiser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldCroiser() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldCroiser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateCroiser() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateCroiser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="croiser" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileCroiser() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileCroiser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} <span class="addPoint">{{ character.getShip().getLaserCroiser() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserCroiser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} <span class="addPoint">{{ character.getShip().getPlasmaCroiser() }}</span> <span class="basis" hidden>{{ character.getShip().getPlasmaCroiser() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma) }}
                                </td>
                            </tr>
                            <tr name="croiser" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointIronClad() == 0 %}
                            <tr name="ironClad" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/ironClad.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.ironClad'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorIronClad() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldIronClad() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateIronClad() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileIronClad() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserIronClad() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }} {{ character.getShip().getPlasmaIronClad() }}
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="ironClad" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/ironClad.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'ironClad' }}) }}
                                    {{ 'ship.ironClad'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointIronClad() }}</span><span class="totalExec hidden">{{ character.getShip().getPointIronClad() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorIronClad() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorIronClad() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldIronClad() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldIronClad() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateIronClad() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateIronClad() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="ironClad" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileIronClad() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileIronClad() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} <span class="addPoint">{{ character.getShip().getLaserIronClad() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserIronClad() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} <span class="addPoint">{{ character.getShip().getPlasmaIronClad() }}</span> <span class="basis" hidden>{{ character.getShip().getPlasmaIronClad() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma) }}
                                </td>
                            </tr>
                            <tr name="ironClad" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        {% if character.getShip().getPointDestroyer() == 0 %}
                            <tr name="destroyer" class="hidden">
                                <th width="32" class="p-0 text-center">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="32" src="{{ asset('img/destroyer.webp') }}">
                                </th>
                                <td class="text-center p-0">
                                    {{ 'ship.destroyer'|trans|raw }} {{ 'ship.point'|trans|raw }} <span class="text-rouge">0</span>
                                </td>
                                <td class="p-0 text-center mt-1">
                                    {{ 'ship.armor'|trans|raw }} {{ character.getShip().getArmorDestroyer() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.shield'|trans|raw }} {{ character.getShip().getShieldDestroyer() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.accurate'|trans|raw }} {{ character.getShip().getAccurateDestroyer() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.missile'|trans|raw }} {{ character.getShip().getMissileDestroyer() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.laser'|trans|raw }} {{ character.getShip().getLaserDestroyer() }}
                                </td>
                                <td class="p-0 text-center">
                                    {{ 'ship.plasma'|trans|raw }} {{ character.getShip().getPlasmaDestroyer() }}
                                </td>
                            </tr>
                        {% else %}
                            {% set form_shipPerso = formObject.createView %}
                            {{ form_start(form_shipPerso) }}
                            <tr name="destroyer" class="hidden">
                                <th width="74" rowspan="2" class="p-0">
                                    <img alt="{{ 'image'|trans({},'front_global') }}" width="74" src="{{ asset('img/destroyer.webp') }}">
                                </th>
                                <td rowspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.ship,{'attr': { 'hidden': 'hidden', 'value': 'destroyer' }}) }}
                                    {{ 'ship.destroyer'|trans|raw }}<br> {{ 'ship.point'|trans|raw }} <span class="totalPoints">{{ character.getShip().getPointDestroyer() }}</span><span class="totalExec hidden">{{ character.getShip().getPointDestroyer() }}</span>
                                </td>
                                <td>
                                    {{ 'ship.armor'|trans|raw }} <span class="addPoint">{{ character.getShip().getArmorDestroyer() }}</span> <span class="basis" hidden>{{ character.getShip().getArmorDestroyer() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.armor) }}
                                </td>
                                <td>
                                    {{ 'ship.shield'|trans|raw }} <span class="addPoint">{{ character.getShip().getShieldDestroyer() }}</span> <span class="basis" hidden>{{ character.getShip().getShieldDestroyer() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.shield) }}
                                </td>
                                <td>
                                    {{ 'ship.accurate'|trans|raw }} <span class="addPoint">{{ character.getShip().getAccurateDestroyer() }}</span> <span class="basis" hidden>{{ character.getShip().getAccurateDestroyer() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.accurate,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-left' }}) }}
                                </td>
                            </tr>
                            <tr name="destroyer" class="hidden">
                                <td>
                                    {{ 'ship.missile'|trans|raw }} <span class="addPoint">{{ character.getShip().getMissileDestroyer() }}</span> <span class="basis" hidden>{{ character.getShip().getMissileDestroyer() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.missile) }}
                                </td>
                                <td>
                                    {{ 'ship.laser'|trans|raw }} <span class="addPoint">{{ character.getShip().getLaserDestroyer() }}</span> <span class="basis" hidden>{{ character.getShip().getLaserDestroyer() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.laser) }}
                                </td>
                                <td>
                                    {{ 'ship.plasma'|trans|raw }} <span class="addPoint">{{ character.getShip().getPlasmaDestroyer() }}</span> <span class="basis" hidden>{{ character.getShip().getPlasmaDestroyer() }}</span>
                                </td>
                                <td class="center-cells">
                                    {{ form_widget(form_shipPerso.plasma) }}
                                </td>
                            </tr>
                            <tr name="destroyer" class="hidden">
                                <td colspan="2" class="text-center">
                                    {{ form_widget(form_shipPerso.sendForm) }}
                                </td>
                            </tr>
                            {{ form_end(form_shipPerso) }}
                        {% endif %}
                        </tbody>
                    </table>
                    {% if character.getShip().getRemainingPoints() > 0 %}{% if character.getShip().getMax() > 0  %}<div class="block-title mt-4"><h2>{{ 'ship.lastPoints'|trans({'%nbr%': character.getShip().getMax()}) }}</h2></div>{% else %}<div class="block-title mt-4"><h2>{{ 'ship.nextUpdate'|trans }} <span class="timerArea" hidden>{{ character.getShip().getLastUpdate()|date('Y/m/d H:i:s') }}</span></h2></div>{% endif %}{% endif %}
                </div>
            </div>
            {% if character.getShip().getRetry() > 0  %}<span><a class="btn btn-lg btn-start float-right mr-2 mb-2{% if app.user.getTutorial() < 20 %} tutorial-hide{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.shipRetry'|trans }}" href="{{ path('ship_retry', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'ship.retry'|trans({'%retry%': character.getShip().getRetry()}) }}</a></span>{% endif %}
            <canvas class="mt-5" id="doughnutChart" height="150"></canvas>
            {{ encore_entry_script_tags('shipsCharts') }}
        </div>
    </div>
{% endblock %}
