{% extends 'base.html.twig' %}

{% trans_default_domain 'front_soldier' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ asset('build/caserne.js') }}"></script>
    {% for message in app.flashes('fail') %}
        <div class="flash-notice mt-5 alerte-flash-error text-center">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form_caserneRecruit) }}
        <div class="front-block soldier">
            <h1 class="float-right" data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}">{{ 'bitcoin'|trans }} <span id="bitcoin">{{ app.user.getBitcoin()|number_format }}</span> <img src="{{ asset('img/coin.png') }}"></h1>
            {% set price = app.user.getPoliticSoldierSale() * 5 %}
            <div class="block-title mt-5"><h2>{{ 'soldier.recruit'|trans }}</h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th width="445" class="tab-cells-name">
                        <img class="mr-3" src="{{ asset('img/soldier.png') }}"> {{ 'caserner.soldier'|trans }} x {{ usePlanet.getSoldier()|number_format }} / {{ usePlanet.getSoldierMax()|number_format }} <span class="float-right"><span class="ml-5"><span class="bitcoinProduct">{{ 75 - price }}</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></span> <span class="ml-3"><span class="workerProduct">2</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.png') }}"></span></span>
                    </th>
                    <td class="center-cells"{% if usePlanet.getWorker() < 10000 %} hidden{% endif %}>
                        {{ form_widget(form_caserneRecruit.soldier,{attr: { max: usePlanet.getSoldierMax() - usePlanet.getSoldier()}}) }}
                    </td>
                </tr>
                <tr class="text-center" {% if usePlanet.getSoldierAtNbr() == null %} hidden{% endif %}>
                    <th class="tab-cells-name">
                        <span>{{ usePlanet.getSoldierAtNbr()|number_format }} {{ 'caserner.soldierProd'|trans }}</span>
                    </th>
                    {% if usePlanet.getSoldierAt() %}
                        <td class="center-cells">
                            <span class="timerArea" hidden>{{ usePlanet.getSoldierAt()|date('Y/m/d H:i:s') }}</span>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            <div class="block-title"><h2>{{ 'tank.recruit'|trans }}</h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th width="445" class="tab-cells-name">
                        <img class="mr-3" src="{{ asset('img/tanks.png') }}"> {{ 'caserner.tank'|trans }} x {{ usePlanet.getTank()|number_format }} / 500 <span class="float-right"><span class="ml-5"><span class="niobiumProduct">40.000</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"></span> <span class="ml-3"><span class="bitcoinProduct">600</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></span> <span class="ml-3"><span class="workerProduct">5</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.png') }}"></span></span>
                    </th>
                    <td class="center-cells"{% if usePlanet.getWorker() < 10000 %} hidden{% endif %}>
                        {% if (usePlanet.getBunker() > 0 or usePlanet.getCaserne() > 0) and usePlanet.getLightUsine() > 0 and app.user.getTank() == 1 %}
                            {{ form_widget(form_caserneRecruit.tank,{attr: { max: 500 - usePlanet.getTank() }}) }}
                        {% else %}
                            {{ form_widget(form_caserneRecruit.tank,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-right' }}) }}
                        {% endif %}
                    </td>
                </tr>
                {% if (usePlanet.getBunker() <= 0 and usePlanet.getCaserne() <= 0) or usePlanet.getLightUsine() <= 0 or app.user.getTank() == 0 %}
                    <tr>
                        <td colspan="2" class="center-cells text-center text-more text-rouge">
                            {{ 'caserner.noTank'|trans }}
                        </td>
                    </tr>
                {% endif %}
                <tr class="text-center" {% if usePlanet.getTankAtNbr() == null %} hidden{% endif %}>
                    <th class="tab-cells-name">
                        <span>{{ usePlanet.getTankAtNbr()|number_format }} {{ 'caserner.tankProd'|trans }}</span>
                    </th>
                    {% if usePlanet.getTankAt() %}
                        <td class="center-cells">
                            <span class="timerArea" hidden>{{ usePlanet.getTankAt()|date('Y/m/d H:i:s') }}</span>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            <div class="block-title"><h2>{{ 'nuclear.recruit'|trans }}</h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th width="445" class="tab-cells-name">
                        <img class="mr-3" src="{{ asset('img/nuclear.png') }}"> {{ 'caserner.nuclear'|trans }} x {{ usePlanet.getNuclearBomb()|number_format }} / {{ usePlanet.getNuclearBase()|number_format }} <span class="float-right"><span class="ml-5"><span class="bitcoinProduct">25.000 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></span> <span class="ml-3"><span class="uraniumProduct">1.000</span> <img width="15" data-toggle="tooltip" data-placement="bottom" title="{{ 'uraniumImg'|trans }}" src="{{ asset('img/uranium.png') }}"></span></span></span>
                    </th>
                    <td class="center-cells"{% if usePlanet.getWorker() < 10000 %} hidden{% endif %}>
                        {% if usePlanet.getNuclearBase() > 0 %}
                            {{ form_widget(form_caserneRecruit.nuclear,{attr: { max: usePlanet.getNuclearBase() - usePlanet.getNuclearBomb() }}) }}
                        {% else %}
                            {{ form_widget(form_caserneRecruit.nuclear,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-right' }}) }}
                        {% endif %}
                    </td>
                </tr>
                {% if usePlanet.getNuclearBase() <= 0 %}
                    <tr>
                        <td colspan="2" class="center-cells text-center text-more text-rouge">
                            {{ 'caserner.noNuclear'|trans }}
                        </td>
                    </tr>
                {% endif %}
                <tr class="text-center" {% if usePlanet.getNuclearAtNbr() == null %} hidden{% endif %}>
                    <th class="tab-cells-name">
                        <span>{{ usePlanet.getNuclearAtNbr()|number_format }} {{ 'caserner.nuclearProd'|trans }}</span>
                    </th>
                    {% if usePlanet.getNuclearAt() %}
                        <td class="center-cells">
                            <span class="timerArea" hidden>{{ usePlanet.getNuclearAt()|date('Y/m/d H:i:s') }}</span>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            <div class="block-title"><h2>{{ 'scientist.recruit'|trans }}</h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th width="445" class="tab-cells-name">
                        <img class="mr-3" src="{{ asset('img/scientist.png') }}"> {{ 'caserner.scientist'|trans }} x {{ usePlanet.getScientist()|number_format }} / {{ usePlanet.getScientistMax()|number_format }} <span class="float-right"><span class="ml-5"><span class="bitcoinProduct">250 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></span> <span class="ml-3"><span class="workerProduct">10</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.png') }}"></span></span></span>
                    </th>
                    <td class="center-cells"{% if usePlanet.getWorker() < 10000 %} hidden{% endif %}>
                        {% if usePlanet.getCenterSearch() > 0 %}
                            {{ form_widget(form_caserneRecruit.scientist,{attr: { max: usePlanet.getScientistMax() - usePlanet.getScientist() }}) }}
                        {% else %}
                            {{ form_widget(form_caserneRecruit.scientist,{'attr': { 'disabled': 'disabled', 'class': 'game-input-off text-right' }}) }}
                        {% endif %}
                    </td>
                </tr>
                {% if usePlanet.getCenterSearch() <= 0 %}
                    <tr>
                        <td colspan="2" class="center-cells text-center text-more text-rouge">
                            {{ 'caserner.noScientist'|trans }}
                        </td>
                    </tr>
                {% endif %}
                <tr class="text-center" {% if usePlanet.getScientistAtNbr() == null %} hidden{% endif %}>
                    <th class="tab-cells-name">
                        <span>{{ usePlanet.getScientistAtNbr()|number_format }} {{ 'caserner.scientistProd'|trans }}</span>
                    </th>
                    {% if usePlanet.getScientistAt() %}
                        <td class="center-cells">
                            <span class="timerArea" hidden>{{ usePlanet.getScientistAt()|date('Y/m/d H:i:s') }}</span>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr class="float-right">
                    <td width="300px" class="tab-cells-name text-right">
                        {{ 'caserner.totalProduct'|trans }}<span class="ml-5"><span id="niobiumProduct">0</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.png') }}"></span> <span class="ml-3"><span id="bitcoinProduct">0</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"> <span class="ml-3"><span id="workerProduct">0</span> <img data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.png') }}"></span> <span class="ml-3" hidden><span id="timeProduct">0</span></span></span>
                    </td>
                </tr>
                </tbody>
            </table>
        {{ form_widget(form_caserneRecruit.sendForm) }}
        {{ form_end(form_caserneRecruit) }}
        </div>
{% endblock %}
