{% extends 'base.html.twig' %}

{% trans_default_domain 'front_soldier' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% if usePlanet.getCaserne() > 0 %}
        <div class="front-block spatial">
            {{ form_start(form_caserneRecruit) }}
            <div class="block-title"><h2>{{ 'soldier.recruit'|trans }}</h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th class="tab-cells-name">
                        <img class="mr-3" src="{{ asset('img/soldier.png') }}"> {{ 'caserner.soldier'|trans }} x {{ usePlanet.getSoldier()|number_format }} <span class="float-right"><span class="ml-5">10 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></span></span>
                    </th>
                    <td class="center-cells">
                        {{ form_widget(form_caserneRecruit.soldier,{attr: { max: app.user.getBitcoin() / 10 }}) }}
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form_widget(form_caserneRecruit.sendForm,{attr: { class: 'btn btn-lg btn-info float-right'}}) }}
            {{ form_end(form_caserneRecruit) }}
        </div>
    {% endif %}
    {% if usePlanet.getCenterSearch() > 0 %}
        <div class="front-block spatial">
            {{ form_start(form_scientistRecruit) }}
            <div class="block-title"><h2>{{ 'scientist.recruit'|trans }}</h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th class="tab-cells-name">
                        <img class="mr-3" src="{{ asset('img/scientist.png') }}"> {{ 'caserner.scientist'|trans }} x {{ usePlanet.getScientist()|number_format }} <span class="float-right"><span class="ml-5">100 <img data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.png') }}"></span></span>
                    </th>
                    <td class="center-cells">
                        {{ form_widget(form_scientistRecruit.scientist,{attr: { max: app.user.getBitcoin() / 100 }}) }}
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form_widget(form_scientistRecruit.sendForm,{attr: { class: 'btn btn-lg btn-info float-right'}}) }}
            {{ form_end(form_scientistRecruit) }}
        </div>
    {% endif %}
{% endblock %}
