{% extends 'base.html.twig' %}

{% trans_default_domain 'front_spatial' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% set bargeBonus = 100 * (1 + (character.getPoliticBarge() / 4)) %}
    {% set recycleurBonus = 50 + (character.getPoliticRecycleur() * 200) %}
    {% set cargoBonus = 1.2 + (character.getPoliticCargo() / 5) %}
    {% for message in app.flashes('fail') %}
        <div class="flash-notice mt-5 alerte-flash-error text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="front-block">
        {% if app.user.getTutorial() == 21 or app.user.getTutorial() == 22 %}
            <table class="table table-striped borderOverview tutorial">
                <tbody>
                <tr>
                    <th class="tab-cells-name p-3 tutorial">
                        <div class="row">
                            <div class="col-12 py-1">
                                {% if app.user.getTutorial() == 21 %}{{ 'quest.tutorial'|trans|raw }}{% elseif app.user.getTutorial() == 22  %}{{ 'quest.tutorialBis'|trans|raw }}{% endif %}
                            </div>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
        {% endif %}
        <div class="front-block-second">
            <div class="row">
                <div class="col-12">
                    {% if character.getZombie() == 0 %}<span id="pdg" hidden>{{ character.getRank().getWarPoint() }}</span>{% endif %}
                    {{ form_start(form_spatialShip) }}
                    <div class="block-title"><h2>{{ 'spatial.constructShip'|trans }}</h2></div>
                    <table class="table table-striped table-bordered table-dark createFleet">
                        <tbody>
                        <tr{% if usePlanet.getSpaceShip == 0 and usePlanet.getSonde() == 0 %} hidden{% endif %}>
                            <td class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.sonde'|trans|raw }}">{{ 'spatial.sonde'|trans }} x {{ usePlanet.getSonde()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('sonde', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span><span class="ml-3">{{ character.getTime('sonde', usePlanet.getShipProduction(), 1) }}</span></span>
                            </td>
                            <td class="center-cells"{% if usePlanet.getSpaceShip == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.sonde,{attr: { class: 'nbrProduct game-input text-right'}}) }}
                            </td>
                        </tr>
                        <tr{% if character.getTerraformation() == 0 and usePlanet.getColonizer() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.colo'|trans|raw }}">{{ 'spatial.colonizer'|trans }} x {{ usePlanet.getColonizer()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('colonizer', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('colonizer', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('colonizer', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3"><span class="soldierProduct">{{ character.getSdShips('colonizer', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" class="soldierSpatial" data-toggle="tooltip" data-placement="bottom" title="{{ 'soldierImg'|trans }}" src="{{ asset('img/soldier.webp') }}"></span><span class="ml-3">{{ character.getTime('colonizer', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getTerraformation() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.colonizer,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (character.getCargo() < 1 or character.getCargo() >= 3) and usePlanet.getCargoI() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.cargoI'|trans({'%cargo%': (3000 * cargoBonus)|number_format})|raw }}">{{ 'spatial.cargoI'|trans }} x {{ usePlanet.getCargoI()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('cargoi', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('cargoi', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('cargoi', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('cargoi', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getCargo() < 1 or character.getCargo() >= 3 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.cargoI,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (character.getCargo() < 3 or character.getCargo() == 5) and usePlanet.getCargoV() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.cargoV'|trans({'%cargo%': (10000 * cargoBonus)|number_format})|raw }}">{{ 'spatial.cargoV'|trans }} x {{ usePlanet.getCargoV()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('cargov', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('cargov', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('cargov', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('cargov', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getCargo() < 3 or character.getCargo() == 5 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.cargoV,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if character.getCargo() < 5 and usePlanet.getCargoX() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.cargoX'|trans({'%cargo%': (25000 * cargoBonus)|number_format})|raw }}">{{ 'spatial.cargoX'|trans }} x {{ usePlanet.getCargoX()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('cargov', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('cargox', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('cargox', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span><span class="ml-3">{{ character.getTime('cargox', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getCargo() < 5 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.cargoX,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if character.getRecycleur() == 0 and usePlanet.getRecycleur() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.rec'|trans({'%recycle%': (recycleurBonus)|number_format})|raw }}">{{ 'spatial.recycleur'|trans }} x {{ usePlanet.getRecycleur()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('recycleur', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('recycleur', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('recycleur', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('recycleur', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getRecycleur() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.recycleur,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if character.getBarge() == 0 and usePlanet.getBarge() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.barge'|trans({'%barge%': (bargeBonus)|number_format})|raw }}">{{ 'spatial.barge'|trans }} x {{ usePlanet.getBarge()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('barge', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('barge', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('barge', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('barge', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getBarge() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.barge,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (character.getTerraformation() < 15 or usePlanet.getHeavyUsine() == 0) and usePlanet.getMoonMaker() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.moonMaker'|trans|raw }}">{{ 'spatial.moonMaker'|trans }} x {{ usePlanet.getMoonMaker()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('moonmaker', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('moonmaker', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span><span class="ml-3"><span class="workerProduct">{{ character.getWkShips('moonmaker', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span><span class="ml-3"><span class="bitcoinProduct">{{ character.getBtShips('moonmaker', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.webp') }}"></span><span class="ml-3">{{ character.getTime('moonmaker', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getTerraformation() < 15 or usePlanet.getHeavyUsine() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.moonMaker,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (character.getOnde() < 3 or usePlanet.getLightUsine() == 0) and usePlanet.getRadarShip() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.radarShip'|trans|raw }}">{{ 'spatial.radarShip'|trans }} x {{ usePlanet.getRadarShip()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('radarship', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('radarship', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span><span class="ml-3"><span class="bitcoinProduct">{{ character.getBtShips('radarship', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.webp') }}"></span><span class="ml-3">{{ character.getTime('radarship', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getOnde() < 3 or usePlanet.getLightUsine() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.radarShip,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (character.getOnde() < 5 or usePlanet.getLightUsine() == 0) and usePlanet.getBrouilleurShip() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.brouilleurShip'|trans|raw }}">{{ 'spatial.brouilleurShip'|trans }} x {{ usePlanet.getBrouilleurShip()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('brouilleurship', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('brouilleurship', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span><span class="ml-3"><span class="bitcoinProduct">{{ character.getBtShips('brouilleurship', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.webp') }}"></span><span class="ml-3">{{ character.getTime('brouilleurship', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getOnde() < 5 or usePlanet.getLightUsine() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.brouilleurShip,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (character.getUtility() < 3 or usePlanet.getHeavyUsine() == 0) and usePlanet.getMotherShip() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.motherShip'|trans|raw }}">{{ 'spatial.motherShip'|trans }} x {{ usePlanet.getMotherShip()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('mothership', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('mothership', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span><span class="ml-3"><span class="workerProduct">{{ character.getWkShips('mothership', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span><span class="ml-3"><span class="pdgProduct">{{ character.getPdgShips('mothership', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'pdgImg'|trans }}" src="{{ asset('img/pdg.webp') }}"></span><span class="ml-3">{{ character.getTime('mothership', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getUtility() < 3 or usePlanet.getHeavyUsine() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.motherShip,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr><th></th></tr>
                        <tr{% if (character.getIndustry() == 0 or character.getMissile() == 0) and usePlanet.getHunter() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.hunter'|trans({'%armor%': character.getShip().getArmorHunter(), '%missile%': character.getShip().getMissileHunter()})|raw }}">{{ 'spatial.hunter'|trans }} x {{ usePlanet.getHunter()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('hunter', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('hunter', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('hunter', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"> </span><span class="ml-3">{{ character.getTime('hunter', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if character.getIndustry() == 0 or character.getMissile() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.hunter,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getLightUsine() == 0 or character.getMissile() < 2) and usePlanet.getHunterHeavy() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.hunterHeavy'|trans({'%armor%': character.getShip().getArmorHunterHeavy(), '%missile%': character.getShip().getMissileHunterHeavy(), '%cargo%': (4 * cargoBonus)|number_format})|raw }}">{{ 'spatial.hunterHeavy'|trans }} x {{ usePlanet.getHunterHeavy()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('hunterheavy', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('hunterheavy', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('hunterheavy', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('hunterheavy', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getLightUsine() == 0 or character.getMissile() < 2 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.hunterHeavy,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if character.getZombie() == 1 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.hunterWar'|trans({'%armor%': character.getShip().getArmorHunterWar(), '%missile%': character.getShip().getMissileHunterWar(), '%laser%': character.getShip().getLaserHunterWar(), '%plasma%': character.getShip().getPlasmaHunterWar()})|raw }}">{{ 'spatial.hunterWar'|trans }} x {{ usePlanet.getHunterWar()|number_format }}</span> <span class="float-right"><span class="ml-3"><span class="pdgProduct">{{ character.getPdgShips('hunterwar', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'pdgImg'|trans }}" src="{{ asset('img/pdg.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('hunterwar', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('hunterwar', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells">
                                {{ form_widget(form_spatialShip.hunterWar,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getLightUsine() == 0 or character.getMissile() < 3 or character.getLightShip() < 2) and usePlanet.getCorvet() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.corvet'|trans({'%armor%': character.getShip().getArmorCorvet(), '%missile%': character.getShip().getMissileCorvet(), '%shield%': character.getShip().getShieldCorvet()})|raw }}">{{ 'spatial.corvet'|trans }} x {{ usePlanet.getCorvet()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('corvet', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('corvet', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('corvet', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('corvet', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getLightUsine() == 0 or character.getMissile() < 3 or character.getLightShip() < 2 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.corvet,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getLightUsine() == 0 or character.getMissile() != 3 or character.getLightShip() != 3 or character.getLaser() == 0) and usePlanet.getCorvetLaser() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.corvetLaser'|trans({'%armor%': character.getShip().getArmorCorvetLaser(), '%missile%': character.getShip().getMissileCorvetLaser(), '%shield%': character.getShip().getShieldCorvetLaser(), '%laser%': character.getShip().getLaserCorvetLaser()})|raw }}">{{ 'spatial.corvetLaser'|trans }} x {{ usePlanet.getCorvetLaser()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('corvetlaser', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('corvetlaser', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('corvetlaser', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('corvetlaser', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getLightUsine() == 0 or character.getMissile() != 3 or character.getLightShip() != 3 or character.getLaser() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.corvetLaser,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if character.getZombie() == 1 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange"  data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.corvetWar'|trans({'%armor%': character.getShip().getArmorCorvetWar(), '%missile%': character.getShip().getMissileCorvetWar(), '%shield%': character.getShip().getShieldCorvetWar(), '%laser%': character.getShip().getLaserCorvetWar()})|raw }}">{{ 'spatial.corvetWar'|trans }} x {{ usePlanet.getCorvetWar()|number_format }}</span> <span class="float-right"><span class="ml-3"><span class="pdgProduct">{{ character.getPdgShips('corvetwar', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'pdgImg'|trans }}" src="{{ asset('img/pdg.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('corvetwar', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('corvetwar', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells">
                                {{ form_widget(form_spatialShip.corvetWar,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() == 0) and usePlanet.getFregate() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.fregate'|trans({'%armor%': character.getShip().getArmorFregate(), '%missile%': character.getShip().getMissileFregate(), '%shield%': character.getShip().getShieldFregate(), '%laser%': character.getShip().getLaserFregate(), '%cargo%': (25 * cargoBonus)|number_format})|raw }}">{{ 'spatial.fregate'|trans }} x {{ usePlanet.getFregate()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('fregate', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('fregate', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('fregate', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('fregate', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.fregate,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() == 0 or character.getPlasma() == 0) and usePlanet.getFregatePlasma() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.fregatePlasma'|trans({'%armor%': character.getShip().getArmorFregatePlasma(), '%missile%': character.getShip().getMissileFregatePlasma(), '%shield%': character.getShip().getShieldFregatePlasma(), '%laser%': character.getShip().getLaserFregatePlasma(), '%plasma%': character.getShip().getPlasmaFregatePlasma()})|raw }}">{{ 'spatial.fregatePlasma'|trans }} x {{ usePlanet.getFregatePlasma()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('fregateplasma', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('fregateplasma', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('fregateplasma', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('fregateplasma', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() == 0 or character.getPlasma() == 0 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.fregatePlasma,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() < 2 or character.getPlasma() < 2) and usePlanet.getCroiser() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.croiser'|trans({'%armor%': character.getShip().getArmorCroiser(), '%missile%': character.getShip().getMissileCroiser(), '%shield%': character.getShip().getShieldCroiser(), '%laser%': character.getShip().getLaserCroiser(), '%plasma%': character.getShip().getPlasmaCroiser()})|raw }}">{{ 'spatial.croiser'|trans }} x {{ usePlanet.getCroiser()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('croiser', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('croiser', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('croiser', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('croiser', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() < 2 or character.getPlasma() < 2 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.croiser,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() != 3 or character.getPlasma() != 3 or character.getHeavyShip() < 2) and usePlanet.getIronClad() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.ironClad'|trans({'%armor%': character.getShip().getArmorIronClad(), '%missile%': character.getShip().getMissileIronClad(), '%shield%': character.getShip().getShieldIronClad(), '%laser%': character.getShip().getLaserIronClad(), '%plasma%': character.getShip().getPlasmaIronClad()})|raw }}">{{ 'spatial.ironClad'|trans }} x {{ usePlanet.getIronClad()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('ironclad', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('ironclad', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span> <span class="ml-3"><span class="workerProduct">{{ character.getWkShips('ironclad', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span> <span class="ml-3">{{ character.getTime('ironclad', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() != 3 or character.getPlasma() != 3 or character.getHeavyShip() < 2 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.ironClad,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr{% if (usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() != 3 or character.getPlasma() != 3 or character.getHeavyShip() != 3) and usePlanet.getDestroyer() == 0 %} hidden{% endif %}>
                            <th class="tab-cells-name">
                                <span tabindex="0" role="button" class="btn btn-secondary text-orange" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-html="true" data-content="{{ 'popover.destroyer'|trans({'%armor%': character.getShip().getArmorDestroyer(), '%missile%': character.getShip().getMissileDestroyer(), '%shield%': character.getShip().getShieldDestroyer(), '%laser%': character.getShip().getLaserDestroyer(), '%plasma%': character.getShip().getPlasmaDestroyer()})|raw }}">{{ 'spatial.destroyer'|trans }} x {{ usePlanet.getDestroyer()|number_format }}</span> <span class="float-right"><span class="ml-5"><span class="niobiumProduct">{{ character.getNbShips('destroyer', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span class="waterProduct">{{ character.getWtShips('destroyer', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span><span class="ml-3"><span class="workerProduct">{{ character.getWkShips('destroyer', -1)|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span><span class="ml-3">{{ character.getTime('destroyer', usePlanet.getShipProduction(), 1) }}</span></span>
                            </th>
                            <td class="center-cells"{% if usePlanet.getHeavyUsine() == 0 or character.getMissile() != 3 or character.getLaser() != 3 or character.getPlasma() != 3 or character.getHeavyShip() != 3 %} hidden{% endif %}>
                                {{ form_widget(form_spatialShip.destroyer,{attr: { class: 'nbrProduct game-input text-right' }}) }}
                            </td>
                        </tr>
                        <tr>
                            <th class="tab-cells-name">
                                {{ 'spatial.totalProduct'|trans }}<span class="float-right"><span class="ml-5"><span id="niobiumProduct">0</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'niobiumImg'|trans }}" src="{{ asset('img/niobium.webp') }}"></span> <span class="ml-3"><span id="waterProduct">0</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'waterImg'|trans }}" src="{{ asset('img/water.webp') }}"></span><span class="ml-3"><span id="workerProduct">0</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'workerImg'|trans }}" src="{{ asset('img/worker.webp') }}"></span><span class="ml-3"><span id="soldierProduct">0</span> <img alt="{{ 'image'|trans({},'front_global') }}" class="soldierSpatial" data-toggle="tooltip" data-placement="bottom" title="{{ 'soldierImg'|trans }}" src="{{ asset('img/soldier.webp') }}"></span><span class="ml-3"><span id="bitcoinProduct">0</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'bitcoinImg'|trans }}" src="{{ asset('img/coin.webp') }}"></span><span class="ml-3"><span id="pdgProduct">0</span> <img alt="{{ 'image'|trans({},'front_global') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'pdgImg'|trans }}" src="{{ asset('img/pdg.webp') }}"></span><span class="ml-3" hidden><span id="timeProduct">0</span></span></span>
                            </th>
                            <td class="center-cells text-center">
                                <span id="nbrProduct">0</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <span{% if usePlanet.getSpaceShip == 0 %} hidden{% endif %}>
                        {% if app.user.getTutorial() == 21 %}
                            {{ form_widget(form_spatialShip.sendForm,{attr: { class: 'tutorial-show confirm-button float-right text-blanc' }}) }}
                        {% else %}
                            {{ form_widget(form_spatialShip.sendForm) }}
                        {% endif %}
                        {{ form_end(form_spatialShip) }}
                    </span>
                    {% if usePlanet.getSpaceShip == 0 %}<span class="confirm-button float-right text-rouge">{{ 'spatial.noSpaceShip'|trans }}</span>{% endif %}
                {% if usePlanet.getProduct() %}
                    <div class="col-4">
                        <div class="block-title"><h2>{{ 'spatial.timeProductBlock'|trans }}</h2></div>
                        <table class="table table-striped table-bordered table-dark createFleet">
                            <tbody>
                            <tr{% if usePlanet.getProduct().getSonde() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.sonde'|trans }} x {{ usePlanet.getProduct().getSonde() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getColonizer() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.colonizer'|trans }} x {{ usePlanet.getProduct().getColonizer() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getCargoI() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.cargoI'|trans }} x {{ usePlanet.getProduct().getCargoI() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getCargoV() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.cargoV'|trans }} x {{ usePlanet.getProduct().getCargoV() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getCargoX() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.cargoX'|trans }} x {{ usePlanet.getProduct().getCargoX() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getRecycleur() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.recycleur'|trans }} x {{ usePlanet.getProduct().getRecycleur() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getBarge() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.barge'|trans }} x {{ usePlanet.getProduct().getBarge() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getMoonMaker() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.moonMaker'|trans }} x {{ usePlanet.getProduct().getMoonMaker() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getRadarShip() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.radarShip'|trans }} x {{ usePlanet.getProduct().getRadarShip() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getBrouilleurShip() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.brouilleurShip'|trans }} x {{ usePlanet.getProduct().getBrouilleurShip() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getMotherShip() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.motherShip'|trans }} x {{ usePlanet.getProduct().getMotherShip() }}
                                </td>
                            </tr>
                            <tr><th></th></tr>
                            <tr{% if usePlanet.getProduct().getHunter() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.hunter'|trans }} x {{ usePlanet.getProduct().getHunter() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getHunterHeavy() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.hunterHeavy'|trans }} x {{ usePlanet.getProduct().getHunterHeavy() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getHunterWar() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.hunterWar'|trans }} x {{ usePlanet.getProduct().getHunterWar() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getCorvet() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.corvet'|trans }} x {{ usePlanet.getProduct().getCorvet() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getCorvetLaser() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.corvetLaser'|trans }} x {{ usePlanet.getProduct().getCorvetLaser() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getCorvetWar() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.corvetWar'|trans }} x {{ usePlanet.getProduct().getCorvetWar() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getFregate() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.fregate'|trans }} x {{ usePlanet.getProduct().getFregate() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getFregatePlasma() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.fregatePlasma'|trans }} x {{ usePlanet.getProduct().getFregatePlasma() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getCroiser() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.croiser'|trans }} x {{ usePlanet.getProduct().getCroiser() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getIronClad() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.ironClad'|trans }} x {{ usePlanet.getProduct().getIronClad() }}
                                </td>
                            </tr>
                            <tr{% if usePlanet.getProduct().getDestroyer() == 0 %} hidden{% endif %}>
                                <td class="center-cells">
                                    {{ 'spatial.destroyer'|trans }} x {{ usePlanet.getProduct().getDestroyer() }}
                                </td>
                            </tr>
                            <tr>
                                <th class="tab-cells-name">
                                    {{ 'spatial.timeProduct'|trans }} <span class="timerArea" hidden>{{ usePlanet.getProduct().getProductAt()|date('Y/m/d H:i:s') }}</span>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                    <div class="text-center text-less">
                        {{ 'spatial.costShips'|trans }}
                    </div>
            </div>
        </div>
    </div>
        <div class="front-block-second mt-5">
            <div class="block-title"><h2>{{ 'spatial.orbiteFlotte'|trans }}</h2></div>
            <table class="table table-striped table-bordered table-dark">
                <tbody>
                <tr>
                    <th class="tab-cells-name text-center">
                        {{ 'spatial.fleetName'|trans }}
                    </th>
                    <td class="center-cells text-center">
                        {{ 'spatial.fleetShips'|trans }}
                    </td>
                    <th class="tab-cells-name text-center">
                        {{ 'spatial.cargo'|trans }}
                    </th>

                </tr>
                {% for fleet in usePlanet.getFleets() %}
                    {% if fleet.getCharacter().getId() == character.id and fleet.flightTime() is null %}
                        <tr>
                            <th class="text-center">
                                {% if fleet.getAttack() == 1 %}<img alt="{{ 'image'|trans({},'front_global') }}" src="{{ asset('img/stance_attack.webp') }}">{% else %}<img alt="{{ 'image'|trans({},'front_global') }}" src="{{ asset('img/stance_defend.webp') }}">{% endif %}<span><a class="ml-2" href="{{ path('manage_fleet', {'usePlanet': usePlanet.getId(), 'fleetGive': fleet.getId()}) }}">{{  fleet.getName() }}</a></span>{% if fleet.getFightAt() == null %} {% if fleet.getRecycleur() and fleet.getRecycleAt() %}<span data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.recycle'|trans }}" class="timerArea ml-3 float-right" hidden>{{ fleet.getRecycleAt()|date('Y/m/d H:i:s') }}</span> {% endif %}<span><a class="ml-3 float-right" href="{{ path('destroy_fleet', {'fleetGive': fleet.getId(), 'usePlanet': usePlanet.getId()}) }}" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.drop'|trans }}"><span>{{ 'spatial.destroyFleet'|trans }}</span></a></span> {% else %}<span class="float-right text-rouge">{{ 'fleet.combat'|trans }}</span>{% endif %}
                            </th>
                            <td class="center-cells text-center">
                                <span class="tipProduct" data-placement="right" data-trigger="" title="{% for ships in fleet.getShipsFleet() %}<div class='my-3 text-left'>{% set x = 0 %}{% for info in ships %} {% if x == 0 %}{{ info }}{% else %}{{ info|trans }}{% endif %}{% set x = x + 1 %} {% endfor %}</div>{% endfor %}" data-html="true">{{ fleet.getNbrShips()|number_format }} => ({{ fleet.getNbrSignatures()|number_format }})</span>
                            </td>
                            <td class="center-cells text-center">
                                <span class="tipProduct" data-placement="right" data-trigger="" title="{% for cargos in fleet.getCargosFleet() %}<div class='my-3 text-left'>{% set x = 0 %}{% for info in cargos %} {% if x == 0 %}{{ info }}{% else %}{{ info|trans }}{% endif %}{% set x = x + 1 %} {% endfor %}</div>{% endfor %}" data-html="true">{{ fleet.getCargoFull()|number_format }} / {{ fleet.getCargoPlace()|number_format }}</span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="offset-7 col-5">
                    {% if usePlanet.getShipOn() > 0 %}<a class="btn btn-lg btn-info mb-2{% if app.user.getTutorial() == 22 %} tutorial-show{% endif %}" href="{{ path('create_fleet', {'usePlanet': usePlanet.getId()}) }}" data-toggle="modal" data-target="#createModal"><span>{{ 'spatial.createFlotte'|trans }}</span></a>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
