{% extends 'base.html.twig' %}

{% trans_default_domain 'front_universe' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-11">
            <div class="front-block table-responsive">
                {% for galaxy in galaxys %}
                    <a href="{{ path('galaxy', {id: galaxy.getPosition()}) }}"><span><img class="galaxy-block mr-4 mb-4" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.galaxy'|trans({'%position%': galaxy.getPosition()}) }}" src="{{ asset('img/galaxy.png') }}"><span class="galaxy-position">{{ 'galaxy.nbr'|trans({'%position%': galaxy.getPosition()}) }}</span></span></a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
