<div class="left side-menu">
    <div class="topbar-left">
        <div class="text-center">
            <div class="mt-4"><strong>{{ 'menu'|trans({},'front_menu')|raw }}</strong></div>
            <a class="navbar-brand" href="/" title="">
                <span class="logo">
                    <img height="64" src="{{ asset('img/logo.jpg') }}">
                </span>
            </a>
        </div>
    </div>
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu" class="mt-5">
            <ul>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
                <li>
                    <a href="/"><span>{{ 'menu'|trans({},'front_menu')|raw }}</span></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>