{% trans_default_domain 'front_menu' %}

<div class="card">
    <div class="card-body">
        <div class="left side-menu">
            <div class="topbar-left">
                <div class="text-center">
                    <div class="mt-4"><strong>{{ 'menu'|trans }}</strong></div>
                    <a class="navbar-brand" href="/" title="">
                        <span class="logo">
                            <img height="64" src="{{ asset('img/logo.png') }}">
                        </span>
                    </a>
                </div>
            </div>
            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu" class="mt-5">
                    <ul>
                        <li>
                            <a href="/" class="btn btn-lg btn-primary my-4"><span>{{ 'menu'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="/" class="btn btn-lg btn-primary my-4"><span>{{ 'menu'|trans }}</span></a>
                        </li>
                        <li>
                            <a href="/" class="btn btn-lg btn-primary my-4"><span>{{ 'menu'|trans }}</span></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>