<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" type="image/x-image" href="/img/favicon.ico"/>
            {{ encore_entry_link_tags('global') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body class="area">
        {% set allPlanets = app.user.getPlanets() %}
        {% set allTuto = app.user.getTutorial() %}

        {%- block left_menu -%}
            {% include 'menu/_left_menu.html.twig' %}
        {%- endblock -%}

        {%- block top_ressource -%}
            {% include 'menu/_top_ressource.html.twig' %}
        {%- endblock -%}

        {%- block right_planet -%}
            {% if app.user.getId() != 1 %}
                {{ render(controller('App\\Controller\\Connected\\AllPlanetsController::allPlanetsAction', {'usePlanet': usePlanet.getId(), 'id': 1})) }}
            {% endif %}
        {%- endblock -%}

        {{ render(controller('App\\Controller\\Track\\TrackController::trackAction', {'currentPage': app.request.attributes.get('_route')})) }}
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
        <div class="modal fade" id="createFleetModal" tabindex="-1" role="dialog" aria-labelledby="createFleetModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content special">
                </div>
            </div>
        </div>
    </body>
</html>
