{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_index' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="col-6">
            <div class="unlogin-block">
                <span class="text-center"><img width="80" src="{{ asset('img/logo.png') }}"></span>
                <div class="mt-5">{{ 'blockOne'|trans({'%nbrUsers%': allUsers})|raw }}</div>
                <div class="mt-5">{{ 'blockTwo'|trans }}</div>
            </div>
        </div>
        <div class="col-6">
            <div class="unlogin-block text-center">
                <div id="carouselMedias" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselMedias" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselMedias" data-slide-to="1"></li>
                        <li data-target="#carouselMedias" data-slide-to="2"></li>
                        <li data-target="#carouselMedias" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="d-block w-100" src="{{ asset('img/slide.png') }}" alt="First slide">
                        </div>
                        <div class="item">
                            <img class="d-block w-100" src="{{ asset('img/slide01.png') }}" alt="Second slide">
                        </div>
                        <div class="item">
                            <img class="d-block w-100" src="{{ asset('img/slide02.png') }}" alt="Third slide">
                        </div>
                        <div class="item">
                            <img class="d-block w-100" src="{{ asset('img/slide03.png') }}" alt="Four slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselMedias" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselMedias" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
