{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_index' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}
        <div class="flash-notice mt-5 alerte-flash-error text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_USER') %}
        <div class="row mt-5">
            <div class="offset-3 col-6 text-center">
                <div id="connect-register">
                    <a href="{{ path('login_redirect') }}"><img style="border-radius:20px;" src="{{ asset('img/play.png') }}"></a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="offset-3 col-6 text-center">
                {% if app.user is null %}
                     <div id="connect-register">
                         <div>
                             <input disabled="disabled" class="login-input text-center{% if server.getOpen() == 1 %} server-on{% else %} server-off{% endif %}" value="{% if server.getOpen() == 1 %}{{ 'server.on'|trans }}{% else %}{{ 'server.off'|trans }}{% endif %}"/>
                         </div>
                         <form action="{{ path('login') }}" method="post">
                             <div>
                                 <input class="login-input" required="required" type="text" id="username" minlength="4" maxlength="20" placeholder="{{ 'username'|trans }}" name="_username"/>
                             </div>
                             <div>
                                 <input class="login-input" required="required" type="password" minlength="4" placeholder="{{ 'password'|trans }}" id="password" name="_password"/>
                             </div>
                             <div>
                                 <input class="login-input" type="email" minlength="5" placeholder="{{ 'email'|trans }}" maxlength="30" id="email" name="_email" hidden/>
                             </div>
                             <div>
                                 {#<a class="recovery-button" href="{{ path('recoveryPw') }}" data-toggle="modal" data-target="#openModal">{{ 'recoveryPw'|trans }}</a>#}
                                 <span id="registration-check" class="confirm-button">{{ 'register'|trans }}</span>
                                 <button class="confirm-button" type="submit">{{ 'login'|trans }}</button>
                             </div>
                         </form>
                         <div class="mt-2">
                             <button data-toggle="confirmation" data-placement="right" data-title="{{ 'register.question'|trans }}" class="confirm-button" href="{{ path('register_ghost') }}">{{ 'ghost.register'|trans }}</button>
                         </div>
                     </div>
                 {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
