{% extends 'anonymous/base.html.twig' %}

{% trans_default_domain 'front_index' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}
        <div class="flash-notice mt-5 text-orange text-more text-center">
            {{ message }}
        </div>
    {% endfor %}
   {# {% if is_granted('ROLE_USER') %}
        <div class="row mt-5">
            <div class="offset-3 col-6 text-center">
                <div id="connect-register">
                    <a href="{{ path('login_redirect') }}"><img style="border-radius:20px;" src="{{ asset('img/play.png') }}"></a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="offset-3 col-6 text-center">
                <div id="connect-register">
                    {% if app.user is null %}
                         <div class="">
                             <form action="{{ path('login') }}" method="post">
                                 <div>
                                     <input type="text" id="username" minlength="2" maxlength="30" placeholder="{{ 'username'|trans }}" name="_username"/>
                                 </div>
                                 <div>
                                     <input type="password" minlength="2" maxlength="30" placeholder="{{ 'password'|trans }}" id="password" name="_password"/>
                                 </div>
                                 <div>
                                     <input type="email" minlength="5" placeholder="{{ 'email'|trans }}" maxlength="30" id="email" name="_email">
                                 </div>
                                 <div>
                                     <a href="{{ path('recoveryPw') }}" data-toggle="modal" data-target="#openModal">{{ 'recoveryPw'|trans }}</a>
                                     <button class="btn btn-secondary" type="submit">{{ 'login'|trans }}</button>
                                     <a href="{{ path('contact') }}" data-toggle="modal" data-target="#contactModal" data-whatever="@">{{ 'contact'|trans }}</a>
                                 </div>
                             </form>
                         </div>
                     {% endif %}
                </div>
            </div>
        </div>
    {% endif %}#}
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
    <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
