{% extends 'base.html.twig' %}

{% trans_default_domain 'front_index' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
        {% include '_left_menu.html.twig' %}
    {%- endblock -%}

    <div class="wrapper-page">
        <div class="card">
            <div class="card-body p-sm-5 bg-bleu-ocean text-white">
                {{ form_start(form_register) }}
                {{ form_widget(form_register.pseudo) }}
                {{ form_widget(form_register.password) }}
                {{ form_widget(form_register.email) }}
                <div class="col-12 text-center">
                    {{ form_widget(form_register.sendForm,{attr: { class: 'btn-secondary'}}) }}
                </div>
                {{ form_end(form_register) }}
            </div>
        </div>
    </div>
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body p-sm-5 bg-bleu-ocean text-white">
                {{ form_start(form_connect) }}
                {{ form_widget(form_connect.pseudoEmail) }}
                {{ form_widget(form_connect.password) }}
                <div class="col-12 text-center">
                    {{ form_widget(form_connect.sendForm,{attr: { class: 'btn-secondary'}}) }}
                </div>
                {{ form_end(form_connect) }}
            </div>
        </div>
    </div>
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body p-sm-5 bg-bleu-ocean text-white">
                {{ form_start(form_recoverPw) }}
                {{ form_widget(form_recoverPw.pseudoEmail) }}
                <div class="col-12 text-center">
                    {{ form_widget(form_recoverPw.sendForm,{attr: { class: 'btn-secondary'}}) }}
                </div>
                {{ form_end(form_recoverPw) }}
            </div>
        </div>
    </div>
{% endblock %}
