{% extends 'base.html.twig' %}

{% trans_default_domain 'front_index' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% if app.user is null %}
        <div class="wrapper-page">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form_register) }}
                    {{ form_widget(form_register.username) }}
                    {{ form_widget(form_register.password) }}
                    {{ form_widget(form_register.email) }}
                    {{ form_widget(form_register.sendForm,{attr: { class: 'btn-secondary'}}) }}
                    {{ form_end(form_register) }}
                </div>
            </div>
        </div>
        <div class="wrapper-page">
            <div class="card">
                <div class="card-body">
                    <form action="{{ path('login') }}" method="post">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" />
                        <button type="submit">login</button>
                    </form>
                    {% if error %}
                        <div>{{ 'error'|trans }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="wrapper-page">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form_recoverPw) }}
                    {{ form_widget(form_recoverPw.pseudoEmail) }}
                    {{ form_widget(form_recoverPw.sendForm,{attr: { class: 'btn-secondary'}}) }}
                    {{ form_end(form_recoverPw) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
