{% extends 'base.html.twig' %}

{% trans_default_domain 'front_page_ally' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    <div class="front-block allyPage text-center text-middle pt-3">
        <div class="my-4 text-more">[{{ ally.getSigle() }}] - {{ ally.getName() }}</div>
        <div class="my-3"><span class="glyphicon glyphicon-bullhorn text-jaune mr-3"></span> {{ ally.getPolitic()|trans }} : '{{ ally.getSlogan() }}'</div>
        {% if ally.imageName %}
            <div class="text-center"><img height="300" width="450" src="{{ vich_uploader_asset(ally, 'imageFile') }}"></div>
        {% else %}
            <div class="text-center"><img height="300" width="450" src="{{ asset('img/ally.jpg') }}"></div>
        {% endif %}
        <div class="ml-5 my-4 text-left">« {{ ally.getDescription() }} »</div>
        <div class="my-3">
            <span class="glyphicon glyphicon-king text-or mx-3" data-toggle="tooltip" data-placement="bottom" title="{{ 'ally.leader'|trans }}"></span> {% set x = 1 %}{% for user in ally.getUsers() %}{% if user.getGrade().getPlacement() == 1 %}<span class="text-or text-more">{% if x > 1 %} - </span>{% else %}{{ user.getGrade().getName() }}</span> :{% endif %} <span class="text-more"><a data-toggle="modal" data-target="#userModal" href="{{ path('pre_user_profil_modal', {'id': user.getId()}) }}"> {{ user.getUsername() }} </a></span>{% endif %}{% set x = x + 1 %}{% endfor %}
            <br>
            <span class="glyphicon glyphicon-briefcase text-argent mx-3" data-toggle="tooltip" data-placement="bottom" title="{{ 'ally.diplomate'|trans }}"></span> {% set x = 1 %}{% for user in ally.getUsers() %}{% if user.getGrade().getPlacement() == 2 %}<span class="text-argent text-more">{% if x > 1 %} - </span>{% else %}{{ user.getGrade().getName() }}</span> :{% endif %} <span class="text-more"><a data-toggle="modal" data-target="#userModal" href="{{ path('pre_user_profil_modal', {'id': user.getId()}) }}"> {{ user.getUsername() }} </a></span>{% endif %}{% set x = x + 1 %}{% endfor %}
            <br>
            <span class="glyphicon glyphicon-inbox text-bronze mx-3" data-toggle="tooltip" data-placement="bottom" title="{{ 'ally.recruiter'|trans }}"></span> {% set x = 1 %}{% for user in ally.getUsers() %}{% if user.getGrade().getPlacement() == 3 %}<span class="text-bronze text-more">{% if x > 1 %} - </span>{% else %}{{ user.getGrade().getName() }}</span> :{% endif %} <span class="text-more"><a data-toggle="modal" data-target="#userModal" href="{{ path('pre_user_profil_modal', {'id': user.getId()}) }}"> {{ user.getUsername() }} </a></span>{% endif %}{% set x = x + 1 %}{% endfor %}
        </div>
        <div class="row">
            <div class="col-6">
                <div class="my-4 ml-5"><span class="glyphicon glyphicon-link text-orange"></span> {{ 'ally.nbr'|trans }} {{ ally.getUsers()|length }}</div>
                <div class="my-4 ml-5">
                    <span class="glyphicon glyphicon-link text-orange"></span> {{ 'ally.galaxy'|trans }}
                    {% set x = 1 %}
                    {% for galaxy in ally.getGalaxyPlanets() %}
                        {% if x > 1 %} - {% endif %}{{ galaxy }}
                        {% set x = x + 1 %}
                    {% endfor %}
                </div>
                <div class="my-4 ml-5"><span class="glyphicon glyphicon-link text-orange"></span> {{ 'ally.planet'|trans }} {{ ally.getPlanets() }}</div>
            </div>
            <div class="col-6">
                <div class="my-4">
                    <span class="glyphicon glyphicon-ok-circle text-vert"></span> {{ 'ally.allied'|trans }}
                    <br>
                    {% set x = 1 %}
                    {% for allied in ally.getAllieds() if allied.getAccepted() == 1 %}
                        {% if x > 1 %} - {% endif %}<span class="text-vert"><a href="{{ path('ally_profil', {'idp': usePlanet.getId(), 'id': ally.getId()}) }}">{{ allied.getAllytag() }}</a></span>
                        {% set x = x + 1 %}
                    {% endfor %}
                </div>
                <div class="my-4">
                    <span class="glyphicon glyphicon-comment text-bleu"></span> {{ 'ally.pna'|trans }}
                    <br>
                    {% set x = 1 %}
                    {% for pna in ally.getPnas() if pna.getAccepted() == 1 %}
                        {% if x > 1 %} - {% endif %}<span class="text-bleu"><a href="{{ path('ally_profil', {'idp': usePlanet.getId(), 'id': ally.getId()}) }}">{{ pna.getAllytag() }}</a></span>
                        {% set x = x + 1 %}
                    {% endfor %}
                </div>
                <div class="my-4">
                    <span class="glyphicon glyphicon-fire text-rouge"></span> {{ 'ally.war'|trans }}
                    <br>
                    {% set x = 1 %}
                    {% for war in ally.getWars() %}
                        {% if x > 1 %} - {% endif %}<span class="text-rouge"><a href="{{ path('ally_profil', {'idp': usePlanet.getId(), 'id': ally.getId()}) }}">{{ war.getAllytag() }}</a></span>
                        {% set x = x + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content special">
            </div>
        </div>
    </div>
{% endblock %}
