{% extends 'base.html.twig' %}

{% trans_default_domain 'front_page_user' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {%- block left_menu -%}
    {%- endblock -%}
    {%- block top_ressource -%}
    {%- endblock -%}
    {%- block right_planet -%}
    {%- endblock -%}
    <div class="front-block userPage pt-4">
        <div class="row">
            <div class="col-4">
                {% if user.imageName %}
                    <div class="text-center mt-2"><img height="64" width="64" src="{{ vich_uploader_asset(user, 'imageFile') }}"></div>
                {% else %}
                    <div class="text-center mt-2"><img height="64" width="64" src="{{ asset('img/avatar.png') }}"></div>
                {% endif %}
                {% if user.getAlly %}
                    {% if user.getAlly.imageName %}
                        <div class="text-center mt-4"><img height="42" width="64" src="{{ vich_uploader_asset(user.getAlly, 'imageFile') }}"></div>
                    {% else %}
                        <div class="text-center mt-4"><img height="42" width="64" src="{{ asset('img/ally.jpg') }}"></div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-8">
                <div class="my-2 text-middle"><span class="glyphicon glyphicon-link text-orange"></span> {{ 'user.name'|trans }} {{ user.getUserName() }}</div>
                <div class="my-2 text-middle"><span class="glyphicon glyphicon-link text-orange"></span> {{ 'user.planet'|trans }} {{ user.getAllPlanets() }}</div>
                <div class="my-2 text-middle">
                    <span class="glyphicon glyphicon-link text-orange"></span> {{ 'user.galaxy'|trans }}
                    {% for galaxy in user.getGalaxyPlanets() %}
                        {{ galaxy }} -
                    {% endfor %}
                </div>
                <div class="my-2 text-middle"><span class="glyphicon glyphicon-link text-orange"></span> {{ 'user.ally'|trans }} {% if user.getAlly() %}<span><a href="{{ path('pre_ally_profil', {'idp': usePlanet.getId(), 'id': user.getAlly().getId()}) }}">{{ user.getAlly().getName() }}</a></span>{% else %}{{ 'user.allyNone'|trans }}{% endif %}</div>
                {% if user.getAlly() %}<div class="my-2 text-middle"><span class="glyphicon glyphicon-link text-orange"></span> {{ 'user.politic'|trans }} {{ user.getAlly().getPolitic()|trans }}</div>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}
