{% trans_default_domain 'front_menu' %}

<nav class="navbar-left navbar-dark bg-left text-center p-3">
    <div class="logo">
        <img data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.modify'|trans }}" height="64" width="64" src="{{ asset('img/defaut.png') }}">
        <br>
        <button class="text-orange my-4" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-content="{{ 'popover.text'|trans }}"><strong>{{ 'version'|trans }}</strong></button>
    </div>
    <div class="btn-left">
        <a href="{{ path('overview') }}"><span>{{ 'globalView'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('dailyCost') }}"><span>{{ 'dailyCost'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('fleet') }}"><span>{{ 'fleet'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('planet') }}"><span>{{ 'planet'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('search') }}"><span>{{ 'search'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('ally') }}"><span>{{ 'ally'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('galaxy') }}"><span>{{ 'galaxy'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('map') }}"><span>{{ 'map'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('product') }}"><span>{{ 'product'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('building') }}"><span>{{ 'building'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('spatial') }}"><span>{{ 'spatial'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('soldier') }}"><span>{{ 'soldier'|trans }}</span></a>
    </div>
    <div class="btn-left-bottom">
        <a href="{{ path('ground') }}"><span>{{ 'ground'|trans }}</span></a>
    </div>
    <div>
        <a href="{{ path('logout') }}" class="badge badge-danger my-4"><span>{{ 'disconnect'|trans }}</span></a>
    </div>
</nav>