{% trans_default_domain 'front_menu' %}

<nav class="navbar-left navbar-dark text-center p-3">
    <div class="logo mb-4">
        <img alt="{{ 'image'|trans({},'front_global') }}" src="{{ asset('img/logo.png') }}">
        <br>
        <a target="_blank" href="http://area-control.forumactif.com/f8-mise-a-jour"><button class="text-orange my-2 text-less"><strong>{{ 'version'|trans }}</strong></button></a>
            <div class="border-empire" data-toggle="tooltip" data-placement="top" title="{{ 'coin'|trans }}"><span id="bitcoin">{{ app.user.getBitcoin()|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" src="{{ asset('img/coin.png') }}"></div>
        <div class="border-empire" data-toggle="tooltip" data-placement="bottom" title="{{ 'market'|trans }}"><span id="pdg">{{ app.user.getRank().getWarPoint()|number_format }}</span> <img alt="{{ 'image'|trans({},'front_global') }}" src="{{ asset('img/pdg.png') }}"></div>
    </div>
    {% if app.user.getConfirmed() == 0 %}
        <a href="{{ path('confirm_account', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'confirm_account' %} currentRoute{% endif %}">
                <span class="text-orange">{{ 'confirm.account'|trans }}</span>
            </div>
        </a>
    {% endif %}
    <a href="{{ path('overview', {'usePlanet': usePlanet.getId()}) }}">
        <div class="btn-left{% if app.request.attributes.get('_route') == 'overview' %} currentRoute{% endif %}">
            <span>{{ 'globalView'|trans }}</span>
        </div>
    </a>
    {% if app.user.getUsername() == 'Dev' %}
        <a href="{{ path('admin_dashboard', {'usePlanet': usePlanet.getId(), 'date': "now"|date('Y/m/d')}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'admin_dashboard' %} currentRoute{% endif %}">
                <span class="text-orange">{{ 'admin'|trans }}</span>
            </div>
        </a>
    {% endif %}
    {% if app.user.getQuests()|length > 0 %}
        <div{% if allTuto < 16 %} class="tutorial-hide"{% endif %}>
            <a href="{{ path('market', {'usePlanet': usePlanet.getId()}) }}">
                <div class="btn-left{% if app.request.attributes.get('_route') == 'market' %} currentRoute{% endif %}{% if allTuto == 16 %} tutorial-show{% endif %}">
                    <span>{{ 'quest'|trans }} {{ app.user.getQuests()|length }}/3</span>
                </div>
            </a>
        </div>
    {% endif %}
    {% if allPlanets|length > 2 and allTuto > 22 %}
        <a href="{{ path('zombie', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'zombie' %} currentRoute{% endif %} hideForBig">
                <span>{{ 'zombie'|trans }} <img alt="{{ 'image'|trans({},'front_global') }}" height="15" width="15" src="{{ asset('img/zombie_indic.gif') }}"></span>
            </div>
        </a>
    {% endif %}
    <div class="btn-left{% if app.request.attributes.get('_route') == 'fleet' or app.request.attributes.get('_route') == 'fleet_list' %} currentRoute{% endif %}{% if allTuto < 9 %} tutorial-hide{% elseif allTuto == 9 or allTuto == 11 %} tutorial-show{% endif %}">
        <a href="{{ path('fleet', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'fleet'|trans }}</span></a> - <a{% if allTuto < 10 %} class="tutorial-hide"{% endif %} href="{{ path('fleet_list', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'fleetList'|trans }}</span></a>
    </div>
    <div{% if allTuto < 2 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('planet', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{{ app.user.getRessourceFull() }}{% if app.request.attributes.get('_route') == 'planet' %} currentRoute{% endif %}{% if allTuto == 2 %} tutorial-show{% endif %}">
                <span>{{ 'planet'|trans }}</span>
            </div>
        </a>
    </div>
    {% if app.user.checkResearch() %}
        <div{% if allTuto < 7 %} class="tutorial-hide"{% endif %}>
            <a href="{{ path('search', {'usePlanet': usePlanet.getId()}) }}">
                <div class="btn-left{% if app.user.getSearch() is null %} freeSearchBuild{% endif %}{% if app.request.attributes.get('_route') == 'search' %} currentRoute{% endif %}{% if allTuto == 7 %} tutorial-show{% endif %}">
                    <span>{{ 'search'|trans }}</span>{% if app.user.getSearch() is null %} <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.search'|trans }}"></span>{% endif %}
                </div>
            </a>
        </div>
    {% endif %}
    <div{% if allTuto < 17 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('ally', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'ally_blank' or app.request.attributes.get('_route') == 'ally' %} currentRoute{% endif %}{% if allTuto == 17 %} tutorial-show{% endif %}">
                <span>{{ 'ally'|trans }}{% if app.user.getProposals() and app.user.getAlly() is null %} (<small>{{ app.user.getProposals()|length }}</small>){% endif %}</span>
            </div>
        </a>
    </div>
    {% if app.user.getQuests()|length == 0 %}
        <div{% if allTuto < 16 %} class="tutorial-hide"{% endif %}>
            <a href="{{ path('market', {'usePlanet': usePlanet.getId()}) }}">
                <div class="btn-left{% if app.request.attributes.get('_route') == 'market' %} currentRoute{% endif %}{% if allTuto == 16 %} tutorial-show{% endif %}">
                    <span>{{ 'market'|trans }}</span>
                </div>
            </a>
        </div>
    {% endif %}
    <div class="btn-left separate"></div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'galaxy' or app.request.attributes.get('_route') == 'universe' %} currentRoute{% endif %}{% if allTuto < 50 %} tutorial-hide{% endif %}">
        <a href="{{ path('universe', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'universe'|trans }}</span></a> - <a href="{{ path('galaxy', {'id': usePlanet.getSector().getGalaxy().getPosition(), 'usePlanet': usePlanet.getId()}) }}"><span>{{ 'galaxy'|trans }}</span></a>
    </div>
    <div{% if allTuto < 14 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('map', {'sector':usePlanet.getSector().getId(), 'gal': usePlanet.getSector().getGalaxy().getId(), 'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'map' %} currentRoute{% endif %}{% if allTuto == 14 %} tutorial-show{% endif %}">
                <span>{{ 'map'|trans }}</span>
            </div>
        </a>
    </div>
    <div class="btn-left separate"></div>
    <div{% if allTuto < 4 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('building', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if usePlanet.getConstruct() is null and (usePlanet.getGround() != usePlanet.getGroundPlace()) %} freeSearchBuild{% endif %}{% if app.request.attributes.get('_route') == 'building' %} currentRoute{% endif %}{% if allTuto == 4 %} tutorial-show{% endif %}">
                <span>{{ 'building'|trans }}</span>{% if usePlanet.getConstruct() is null and (usePlanet.getGround() != usePlanet.getGroundPlace()) %} <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.building'|trans }}"></span>{% endif %}
            </div>
        </a>
    </div>
    <div{% if allTuto < 50 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('soldier', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'soldier' %} currentRoute{% endif %}">
                <span>{{ 'soldier'|trans }}</span>
            </div>
        </a>
    </div>
    <div{% if allTuto < 20 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('spatial', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'spatial' %} currentRoute{% endif %}{% if allTuto == 20 %} tutorial-show{% endif %}">
                <span>{{ 'spatial'|trans }}</span>
            </div>
        </a>
    </div>
    {% if usePlanet.getShipOn() > 0 %}
        <div{% if allTuto < 10 %} class="tutorial-hide"{% endif %}>
            <a href="{{ path('create_fleet', {'usePlanet': usePlanet.getId()}) }}" data-toggle="modal" data-target="#createFleetModal">
                <div class="btn-left{% if app.user.getTutorial() == 10 or app.user.getTutorial() == 22 %} tutorial-show{% endif %}">
                    <span>{{ 'createFlotte'|trans }}</span>
                </div>
            </a>
        </div>
    {% endif %}
    <div{% if allTuto < 18 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('ship_perso', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'ship_perso' %} currentRoute{% endif %}{% if app.user.getShip().getLastUpdate()|date('Y/m/d H:i:s') < "now"|date('Y/m/d H:i:s') and app.user.getShip().getRemainingPoints() > 0 %} freeSearchBuild{% endif %}{% if allTuto == 18 %} tutorial-show{% endif %}">
                <span>{{ 'ship.perso'|trans }}</span>{% if app.user.getShip().getMax() > 0 and app.user.getShip().getRemainingPoints() > 0 %} <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.shipsFree'|trans }}"></span>{% endif %}
            </div>
        </a>
    </div>
    <div class="btn-left separate"></div>
    <div{% if allTuto < 50 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('message', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'message' %} currentRoute{% endif %}">
                {% if app.user.getViewMessage() == false %}<div class="text-orange glyphicon glyphicon-envelope"></div> {% endif %}<span>{{ 'message'|trans }}</span>
            </div>
        </a>
    </div>
    <div{% if allTuto < 24 %} class="tutorial-hide"{% endif %}>
        <a href="{{ path('salon', {'usePlanet': usePlanet.getId()}) }}">
            <div class="btn-left{% if app.request.attributes.get('_route') == 'salon' %} currentRoute{% endif %}{% if allTuto == 24 %} tutorial-show{% endif %}">
                <span>{% if app.user.getViewSalon() %}<span class="text-vert">{{ app.user.getViewSalon() }}</span> {% elseif app.user.getSalonAt() == null %}<div class="text-vert glyphicon glyphicon-comment"></div> {% endif %}{{ 'salon'|trans }}</span>
            </div>
        </a>
    </div>
    <a href="{{ path('report', {'usePlanet': usePlanet.getId()}) }}">
        <div class="btn-left{% if app.request.attributes.get('_route') == 'report' %} currentRoute{% endif %}{% if allTuto == 1 or allTuto == 23 %} tutorial-show{% endif %}">
            {% if app.user.getWhichViewsReport('all') %}<span class="text-vert">{{ app.user.getWhichViewsReport('all') }}</span> {% endif %}<span>{{ 'report'|trans }}</span>
        </div>
    </a>
    <div class="btn-left separate"></div>
    <a target="_blank" href="http://area-control.forumactif.com/">
        <div class="btn-left">
            <span>{{ 'forum'|trans }}</span>
        </div>
    </a>
    <a href="{{ path('help_new', {'usePlanet': usePlanet.getId()}) }}">
        <div class="btn-left{% if app.request.attributes.get('_route') == 'help_new' %} currentRoute{% endif %}">
            <span>{{ 'helpNew'|trans }}</span>
        </div>
    </a>
    <a href="{{ path('my_options', {'usePlanet': usePlanet.getId()}) }}">
        <div class="btn-left-bottom{% if app.request.attributes.get('_route') == 'my_options' %} currentRoute{% endif %}">
            <span>{{ 'modifyOptions'|trans }}</span>
        </div>
    </a>
    <div>
        <a href="{{ path('erase_cookie') }}" class="badge badge-danger my-4"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'disconnect'|trans }}</span></a>
    </div>
</nav>