{% trans_default_domain 'front_menu' %}

<nav class="navbar-left navbar-dark bg-left text-center p-3">
    <div class="logo">
        <img src="{{ asset('img/logo.png') }}">
        <br>
        <button class="text-orange my-4" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-content="{{ 'popover.text'|trans }}"><strong>{{ 'version'|trans }}</strong></button>
    </div>
    <div class="btn-left">
        <a href="{{ path('overview', {'idp': usePlanet.getId()}) }}"><span>{{ 'globalView'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('planet', {'idp': usePlanet.getId()}) }}"><span>{{ 'planet'|trans }}</span></a>
    </div>
    <div class="btn-left{% if app.user.getSearch() is null %} freeSearchBuild{% endif %}">
        <a href="{{ path('search', {'idp': usePlanet.getId()}) }}"><span>{{ 'search'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('fleet', {'idp': usePlanet.getId()}) }}"><span>{{ 'fleet'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('market', {'idp': usePlanet.getId()}) }}"><span>{{ 'market'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('universe', {'idp': usePlanet.getId()}) }}"><span>{{ 'universe'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('galaxy', {'id': usePlanet.getSector().getGalaxy().getPosition(), 'idp': usePlanet.getId()}) }}"><span>{{ 'galaxy'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('map', {'id':usePlanet.getSector().getPosition(), 'idp': usePlanet.getId()}) }}"><span>{{ 'map'|trans }}</span></a>
    </div>
    <div class="btn-left{% if usePlanet.getConstruct() is null and (usePlanet.getGround() != usePlanet.getGroundPlace()) %} freeSearchBuild{% endif %}">
        <a href="{{ path('building', {'idp': usePlanet.getId()}) }}"><span>{{ 'building'|trans }}</span></a>
    </div>
    {% if usePlanet.getCaserne() > 0 or usePlanet.getCenterSearch() > 0 %}
        <div class="btn-left">
            <a href="{{ path('soldier', {'idp': usePlanet.getId()}) }}">{{ 'soldier'|trans }}</span></a>
        </div>
    {% endif %}
    <div class="btn-left">
        <a href="{{ path('spatial', {'idp': usePlanet.getId()}) }}"><span>{{ 'spatial'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('ally', {'idp': usePlanet.getId()}) }}"><span>{{ 'ally'|trans }}{% if app.user.getProposals() and app.user.getAlly() is null %} (<small>{{ app.user.getProposals()|length }}</small>){% endif %}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('rank_ally', {'idp': usePlanet.getId()}) }}"><span>{{ 'rank'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('message', {'idp': usePlanet.getId()}) }}">{% if app.user.getViewMessage() == false %}<div class="text-orange glyphicon glyphicon-envelope"></div> {% endif %}{{ 'message'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('salon', {'idp': usePlanet.getId()}) }}"><span>{% if app.user.getSalonAt() == null %}<div class="text-orange glyphicon glyphicon-comment"></div> {% endif %}{{ 'salon'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('report', {'idp': usePlanet.getId()}) }}">{% if app.user.getViewReport() == false %}<div class="text-orange glyphicon glyphicon-exclamation-sign"></div> {% endif %}{{ 'report'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a target="_blank" href="http://area-control.forumactif.com/">{{ 'forum'|trans }}</a>
    </div>
    <div class="btn-left-bottom">
        <a href="{{ path('dailyCost', {'idp': usePlanet.getId()}) }}"><span>{{ 'dailyCost'|trans }}</span></a>
    </div>
    <div>
        <a href="{{ path('disconnect_me') }}" class="badge badge-danger my-4"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'disconnect'|trans }}</span></a>
    </div>
</nav>