{% trans_default_domain 'front_menu' %}

<nav class="navbar-left navbar-dark bg-left text-center p-3">
    <div class="logo">
        <img src="{{ asset('img/logo.png') }}">
        <br>
        <button class="text-orange my-4" data-toggle="popover" data-trigger="focus" title="{{ 'popover.title'|trans }}" data-content="{{ 'popover.text'|trans }}"><strong>{{ 'version'|trans }}</strong></button>
    </div>
    <div class="btn-left">
        <a href="{{ path('overview', {'idp': usePlanet.getId()}) }}"><span>{{ 'globalView'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('dailyCost', {'idp': usePlanet.getId()}) }}"><span>{{ 'dailyCost'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('fleet', {'idp': usePlanet.getId()}) }}"><span>{{ 'fleet'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('planet', {'idp': usePlanet.getId()}) }}"><span>{{ 'planet'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('search', {'idp': usePlanet.getId()}) }}"><span>{{ 'search'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('ally', {'idp': usePlanet.getId()}) }}"><span>{{ 'ally'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('universe', {'idp': usePlanet.getId()}) }}"><span>{{ 'universe'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('galaxy', {'id': usePlanet.getSector().getGalaxy().getPosition(), 'idp': usePlanet.getId()}) }}"><span>{{ 'galaxy'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('map', {'id':usePlanet.getSector().getPosition(), 'idp': usePlanet.getId()}) }}"><span>{{ 'map'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('product', {'idp': usePlanet.getId()}) }}"><span>{{ 'product'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('building', {'idp': usePlanet.getId()}) }}"><span>{{ 'building'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('spatial', {'idp': usePlanet.getId()}) }}"><span>{{ 'spatial'|trans }}</span></a>
    </div>
    <div class="btn-left">
        <a href="{{ path('soldier', {'idp': usePlanet.getId()}) }}"><span>{{ 'soldier'|trans }}</span></a>
    </div>
    <div class="btn-left-bottom">
        <a href="{{ path('ground', {'idp': usePlanet.getId()}) }}"><span>{{ 'ground'|trans }}</span></a>
    </div>
    <div>
        <a href="{{ path('logout') }}" class="badge badge-danger my-4"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'disconnect'|trans }}</span></a>
    </div>
</nav>