{% trans_default_domain 'front_menu' %}

<nav class="navbar-left navbar-dark bg-left text-center p-3">
    <div class="logo mb-4">
        <img src="{{ asset('img/logo.png') }}">
        <br>
        <a target="_blank" href="http://area-control.forumactif.com/f8-mise-a-jour"><button class="text-orange my-2 text-less"><strong>{{ 'version'|trans }}</strong></button></a>
            <div class="border-empire" data-toggle="tooltip" data-placement="bottom" title="{{ 'coin'|trans }}"><span id="bitcoin">{{ app.user.getBitcoin()|number_format }}</span> <img src="{{ asset('img/coin.png') }}"></div>
        {% if app.user.getRank().getWarPoint() > 0 %}<div class="border-empire" data-toggle="tooltip" data-placement="bottom" title="{{ 'market'|trans }}"><span id="pdg">{{ app.user.getRank().getWarPoint()|number_format }}</span> <img src="{{ asset('img/pdg.png') }}"></div>{% endif %}
    </div>
    {% if app.user.getConfirmed() == 0 %}
        <div class="btn-left{% if app.request.attributes.get('_route') == 'confirm_account' %} currentRoute{% endif %}">
            <a href="{{ path('confirm_account', {'usePlanet': usePlanet.getId()}) }}"><span class="text-orange">{{ 'confirm.account'|trans }}</span></a>
        </div>
    {% endif %}
    <div class="btn-left{% if app.request.attributes.get('_route') == 'overview' %} currentRoute{% endif %}">
        <a href="{{ path('overview', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'globalView'|trans }}</span></a>
    </div>
    {% if app.user.getQuests()|length > 0 %}
        <div class="btn-left{% if app.request.attributes.get('_route') == 'market' %} currentRoute{% endif %}{% if allTuto < 16 %} tutorial-hide{% elseif allTuto == 16 %} tutorial-show{% endif %}">
            <a href="{{ path('market', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'quest'|trans }} {{ app.user.getQuests()|length }}/3</span></a>
        </div>
    {% endif %}
    <div class="btn-left{% if app.request.attributes.get('_route') == 'zombie' %} currentRoute{% endif %} hideForBig">
        <a href="{{ path('zombie', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'zombie'|trans }} <img height="15" width="15" src="{{ asset('img/zombie_indic.gif') }}"></span></a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'fleet' or app.request.attributes.get('_route') == 'fleet_list' %} currentRoute{% endif %}{% if allTuto < 9 %} tutorial-hide{% elseif allTuto == 9 or allTuto == 11 %} tutorial-show{% endif %}">
        <a href="{{ path('fleet', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'fleet'|trans }}</span></a> - <a class="{% if allTuto < 10 %} tutorial-hide{% endif %}" href="{{ path('fleet_list', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'fleetList'|trans }}</span></a>
    </div>
    <div class="btn-left{{ app.user.getRessourceFull() }}{% if app.request.attributes.get('_route') == 'planet' %} currentRoute{% endif %}{% if allTuto < 2 %} tutorial-hide{% elseif allTuto == 2 %} tutorial-show{% endif %}">
        <a href="{{ path('planet', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'planet'|trans }}</span></a>
    </div>
    {% if app.user.checkResearch() %}
        <div class="btn-left{% if app.user.getSearch() is null %} freeSearchBuild{% endif %}{% if app.request.attributes.get('_route') == 'search' %} currentRoute{% endif %}{% if allTuto < 7 %} tutorial-hide{% elseif allTuto == 7 %} tutorial-show{% endif %}">
            <a href="{{ path('search', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'search'|trans }}</span>{% if app.user.getSearch() is null %} <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.search'|trans }}"></span>{% endif %}</a>
        </div>
    {% endif %}
    <div class="btn-left{% if app.request.attributes.get('_route') == 'ally_blank' or app.request.attributes.get('_route') == 'ally' %} currentRoute{% endif %}{% if allTuto < 17 %} tutorial-hide{% elseif allTuto == 17 %} tutorial-show{% endif %}">
        <a href="{{ path('ally', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'ally'|trans }}{% if app.user.getProposals() and app.user.getAlly() is null %} (<small>{{ app.user.getProposals()|length }}</small>){% endif %}</span></a>
    </div>
    {% if app.user.getQuests()|length == 0 %}
        <div class="btn-left{% if app.request.attributes.get('_route') == 'market' %} currentRoute{% endif %}{% if allTuto < 50 %} tutorial-hide{% endif %}">
            <a href="{{ path('market', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'market'|trans }}</span></a>
        </div>
    {% endif %}
    <div class="btn-left separate"></div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'galaxy' or app.request.attributes.get('_route') == 'universe' %} currentRoute{% endif %}{% if allTuto < 50 %} tutorial-hide{% endif %}">
        <a href="{{ path('universe', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'universe'|trans }}</span></a> - <a href="{{ path('galaxy', {'id': usePlanet.getSector().getGalaxy().getPosition(), 'usePlanet': usePlanet.getId()}) }}"><span>{{ 'galaxy'|trans }}</span></a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'map' %} currentRoute{% endif %}{% if allTuto < 14 %} tutorial-hide{% elseif allTuto == 14 %} tutorial-show{% endif %}">
        <a href="{{ path('map', {'sector':usePlanet.getSector().getId(), 'gal': usePlanet.getSector().getGalaxy().getId(), 'usePlanet': usePlanet.getId()}) }}"><span>{{ 'map'|trans }}</span></a>
    </div>
    <div class="btn-left separate"></div>
    <div class="btn-left{% if usePlanet.getConstruct() is null and (usePlanet.getGround() != usePlanet.getGroundPlace()) %} freeSearchBuild{% endif %}{% if app.request.attributes.get('_route') == 'building' %} currentRoute{% endif %}{% if allTuto < 4 %} tutorial-hide{% elseif allTuto == 4 %} tutorial-show{% endif %}">
        <a href="{{ path('building', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'building'|trans }}</span>{% if usePlanet.getConstruct() is null and (usePlanet.getGround() != usePlanet.getGroundPlace()) %} <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.building'|trans }}"></span>{% endif %}</a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'soldier' %} currentRoute{% endif %}{% if allTuto < 50 %} tutorial-hide{% endif %}">
        <a href="{{ path('soldier', {'usePlanet': usePlanet.getId()}) }}">{{ 'soldier'|trans }}</span></a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'spatial' %} currentRoute{% endif %}{% if allTuto < 20 %} tutorial-hide{% elseif allTuto == 20 %} tutorial-show{% endif %}">
        <a href="{{ path('spatial', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'spatial'|trans }}</span></a>
    </div>
    {% if usePlanet.getShipOn() > 0 %}
        <div class="btn-left{% if allTuto < 10 %} tutorial-hide{% elseif app.user.getTutorial() == 10 or app.user.getTutorial() == 22 %} tutorial-show{% endif %}">
            <a href="{{ path('create_fleet', {'usePlanet': usePlanet.getId()}) }}" data-toggle="modal" data-target="#createFleetModal"><span>{{ 'createFlotte'|trans }}</span></a>
        </div>
    {% endif %}
    <div class="btn-left{% if app.request.attributes.get('_route') == 'ship_perso' %} currentRoute{% endif %}{% if app.user.getShip().getMax() > 0 %} freeSearchBuild{% endif %}{% if allTuto < 18 %} tutorial-hide{% elseif allTuto == 18 %} tutorial-show{% endif %}">
        <a href="{{ path('ship_perso', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'ship.perso'|trans }}</span></a>{% if app.user.getShip().getMax() > 0 %} <span class="glyphicon glyphicon-question-sign text-orange" data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.shipsFree'|trans }}"></span>{% endif %}
    </div>
    <div class="btn-left separate"></div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'message' %} currentRoute{% endif %}{% if allTuto < 50 %} tutorial-hide{% endif %}">
        <a href="{{ path('message', {'usePlanet': usePlanet.getId()}) }}">{% if app.user.getViewMessage() == false %}<div class="text-orange glyphicon glyphicon-envelope"></div> {% endif %}{{ 'message'|trans }}</span></a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'salon' %} currentRoute{% endif %}{% if allTuto < 24 %} tutorial-hide{% elseif allTuto == 24 %} tutorial-show{% endif %}">
        <a href="{{ path('salon', {'usePlanet': usePlanet.getId()}) }}"><span>{% if app.user.getViewSalon() %}<span class="text-vert">{{ app.user.getViewSalon() }}</span> {% elseif app.user.getSalonAt() == null %}<div class="text-vert glyphicon glyphicon-comment"></div> {% endif %}{{ 'salon'|trans }}</span></a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'report' %} currentRoute{% endif %}{% if allTuto == 1 or allTuto == 23 %} tutorial-show{% endif %}">
        <a href="{{ path('report', {'usePlanet': usePlanet.getId()}) }}">{% if app.user.getWhichViewsReport('all') %}<span class="text-vert">{{ app.user.getWhichViewsReport('all') }}</span> {% endif %}{{ 'report'|trans }}</span></a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'rank_ally' %} currentRoute{% endif %}{% if allTuto < 50 %} tutorial-hide{% endif %}">
        <a href="{{ path('rank_ally', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'rank'|trans }}</span></a>
    </div>
    <div class="btn-left separate"></div>
    <div class="btn-left">
        <a target="_blank" href="http://area-control.forumactif.com/">{{ 'forum'|trans }}</a>
    </div>
    <div class="btn-left{% if app.request.attributes.get('_route') == 'help_new' %} currentRoute{% endif %}">
        <a href="{{ path('help_new', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'helpNew'|trans }}</span></a>
    </div>
    <div class="btn-left-bottom{% if app.request.attributes.get('_route') == 'my_options' %} currentRoute{% endif %}">
        <a href="{{ path('my_options', {'usePlanet': usePlanet.getId()}) }}"><span>{{ 'modifyOptions'|trans }}</span></a>
    </div>
    <div>
        <a href="{{ path('disconnect_me') }}" class="badge badge-danger my-4"><div class="glyphicon glyphicon-remove"></div> <span>{{ 'disconnect'|trans }}</span></a>
    </div>
</nav>