{% trans_default_domain 'front_menu' %}

<nav class="navbar-right text-center pr-4 hideForLittle">
    <a href="{{ path('zombie', {'usePlanet': usePlanet.getId()}) }}">
        <div data-toggle="tooltip" data-placement="left" title="{{ 'tooltip.zombie'|trans }}" class="mb-4 bg-right px-4 py-2 zombie-right">
            <div class="pt-2 float-left"><img height="32" width="32" src="{{ asset('img/zombie_indic.gif') }}"></div>
            <div class="float-right">
                <div class="mt-2">
                    {{ 'zombie.indic'|trans }} {{ app.user.getZombieAtt() }}
                </div>
                <div class="mt-2">
                    <span class="mt-5 timerArea" hidden>{% if app.user.getZombieAt() %}{{ app.user.getZombieAt()|date('Y/m/d H:i:s') }}{% endif %}</span>
                </div>
            </div>
        </div>
    </a>
    <div {% if usePlanet.getOffensiveFleet(app.user) == 'ennemy' %} data-toggle="tooltip" data-placement="bottom" title="{{ 'embargo'|trans }}"{% endif %} class="currentPlanet mb-4 bg-right px-4 py-2{% if usePlanet.getOffensiveFleet(app.user) == 'ennemy' %} planetFull{% elseif usePlanet.getConstruct() is null and (usePlanet.getGround() != usePlanet.getGroundPlace()) %} constructFree{% endif %}">
        <div class="pt-2 float-left"><a href="{{ usePlanet.getId() }}"><img height="32" width="32" src="{{ vich_uploader_asset(usePlanet, 'imageFile') }}"></a></div>
        <div class="float-right">
            <div class="mt-2{% if app.user.getTutorial() < 14 %} tutorial-hide{% endif %}">
                {% if usePlanet.getOffensiveFleet(app.user) == 'neutre' %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'fleetNoAlly'|trans }}" class="text-rouge">{{ usePlanet.getName() }}</span>{% else %}{{ usePlanet.getName() }}{% endif %} - <span><a href="{{ path('map', {id: usePlanet.getSector().getPosition(), 'usePlanet': usePlanet.getId(), 'gal': usePlanet.getSector().getGalaxy().getPosition()}) }}">{{ usePlanet.getSector().getGalaxy.getPosition() }}:{{ usePlanet.getSector().getPosition() }}:{{ usePlanet.getPosition() }}</a></span>
            </div>
            <div class="ml-2">
                <span data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}">{{ usePlanet.getGroundPlace() }}/{{ usePlanet.getGround() }} <img src="{{ asset('img/ground.png') }}"></span> <span data-toggle="tooltip" data-placement="bottom" title="{{ 'SkyImg'|trans }}">{{ usePlanet.getSkyPlace() }}/{{ usePlanet.getSky() }} <img src="{{ asset('img/sky.png') }}"></span>
            </div>
            <div class="ml-2">
                {% if usePlanet.getShipOn() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.ships'|trans }}">{{ usePlanet.getShipOn() }} <span class="glyphicon glyphicon-plane"></span></span>{% endif %}
                {% if (usePlanet.getCaserne() > 0 or usePlanet.getBunker() > 0) and usePlanet.getLightUsine() > 0 and app.user.getTank() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.tanks'|trans }}"><img height="10" src="{{ asset('img/tanks.png') }}"></span>{% endif %}
                {% if usePlanet.getCaserne() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.caserne'|trans }}"><img height="12" src="{{ asset('img/soldier.png') }}"></span>{% endif %}
                {% if usePlanet.getCenterSearch() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.scientists'|trans }}"><img height="10" src="{{ asset('img/scientist.png') }}"></span>{% endif %}
                {% if usePlanet.getUranium() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.uranium'|trans }}"><img height="10" src="{{ asset('img/uranium.png') }}"></span>{% endif %}
            </div>
        </div>
    </div>
    {% for planet in app.user.getPlanets() %}
        {% if planet != usePlanet %}
            {% if planet.getEmpty() == true %}
                <div class="mb-4 bg-right-empty px-4 py-2">
                    <div class="pt-1 float-left"><a class="ml-2" href="{{ path('map', {id: planet.getSector().getPosition(), 'usePlanet': usePlanet.getId(), 'gal': planet.getSector().getGalaxy().getPosition()}) }}"><img height="15" src="{{ asset('img/vradar.png') }}"></a></div>
                    <div class="float-right">
                        <div class="mt-2">
                            {{ planet.getName() }} - <span><a href="{{ path('map', {id: planet.getSector().getPosition(), 'usePlanet': usePlanet.getId(), 'gal': planet.getSector().getGalaxy().getPosition()}) }}">{{ planet.getSector().getGalaxy.getPosition() }}:{{ planet.getSector().getPosition() }}:{{ planet.getPosition() }}</a></span>
                            <br>
                            <span class="mt-5 timerArea" hidden>{% if planet.getRadarAt() %}{{ planet.getRadarAt()|date('Y/m/d H:i:s') }}{% elseif planet.getBrouilleurAt() %}{{ planet.getBrouilleurAt()|date('Y/m/d H:i:s') }}{% endif %}</span>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div{% if planet.getOffensiveFleet(app.user) == 'ennemy' %} data-toggle="tooltip" data-placement="bottom" title="{{ 'embargo'|trans }}"{% endif %} class="mb-4 bg-right px-4 py-2{% if planet.getOffensiveFleet(app.user) == 'ennemy' %} planetFull{% elseif planet.getConstruct() is null and (planet.getGround() != planet.getGroundPlace()) %} constructFree{% endif %}">  {#or planet.getSkyPlace() != planet.getSky()#}
                        <div class="pt-2 float-left"><a href="{{ planet.getId() }}"><img height="32" width="32" src="{{ vich_uploader_asset(planet, 'imageFile') }}"></a></div>
                        <div class="float-right">
                            <div class="mt-2{% if app.user.getTutorial() < 14 %} tutorial-hide{% endif %}">
                                {% if planet.getOffensiveFleet(app.user) == 'neutre' %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'fleetNoAlly'|trans }}" class="text-rouge">{{ planet.getName() }}</span>{% else %}{{ planet.getName() }}{% endif %} - <span><a href="{{ path('map', {id: planet.getSector().getPosition(), 'usePlanet': planet.getId(), 'gal': planet.getSector().getGalaxy().getPosition()}) }}">{{ planet.getSector().getGalaxy.getPosition() }}:{{ planet.getSector().getPosition() }}:{{ planet.getPosition() }}</a></span>
                            </div>
                            <div class="ml-2">
                                <span data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}">{{ planet.getGroundPlace() }}/{{ planet.getGround() }} <img src="{{ asset('img/ground.png') }}"></span> <span data-toggle="tooltip" data-placement="bottom" title="{{ 'SkyImg'|trans }}">{{ planet.getSkyPlace() }}/{{ planet.getSky() }} <img src="{{ asset('img/sky.png') }}"></span>
                            </div>
                            <div class="ml-2">
                                {% if planet.getShipOn() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.ships'|trans }}">{{ planet.getShipOn() }} <span class="glyphicon glyphicon-plane"></span></span>{% endif %}
                                {% if (planet.getCaserne() > 0 or planet.getBunker() > 0) and planet.getLightUsine() > 0 and app.user.getTank() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.tanks'|trans }}"><img height="10" src="{{ asset('img/tanks.png') }}"></span>{% endif %}
                                {% if planet.getCaserne() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.caserne'|trans }}"><img height="12" src="{{ asset('img/soldier.png') }}"></span>{% endif %}
                                {% if planet.getCenterSearch() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.scientists'|trans }}"><img height="10" src="{{ asset('img/scientist.png') }}"></span>{% endif %}
                                {% if planet.getUranium() > 0 %}<span data-toggle="tooltip" data-placement="bottom" title="{{ 'tooltip.uranium'|trans }}"><img height="10" src="{{ asset('img/uranium.png') }}"></span>{% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endif %}
    {% endfor %}
</nav>