{% trans_default_domain 'front_menu' %}

<nav class="navbar-right text-center pr-4">
    {% for planet in app.user.getPlanets() %}
        <div class="logo mb-4 bg-right">
            <div class="pt-2"><a href="{{ path('galaxy') }}"><img height="64" width="64" src="{{ vich_uploader_asset(planet, 'imageFile') }}"></a></div>
            <div class="mt-2 pb-2">
                {{ planet.getName() }} : <a href="{{ path('galaxy') }}">{{ planet.getSector().getGalaxy.getPosition() }}:{{ planet.getSector().getPosition() }}:{{ planet.getPosition() }}</a>
            </div>
        </div>
    {% endfor %}
</nav>