{% trans_default_domain 'front_menu' %}

<nav class="navbar-right text-center pr-4">
    {% for planet in app.user.getPlanets() %}
        {% if planet == usePlanet and app.user.getPlanets()|length > 9 %}
        {% else %}
            <div class="mb-4 bg-right p-4{% if planet.getConstruct() is null and (planet.getGround() != planet.getGroundPlace()) %} constructFree{% endif %}">  {#or planet.getSkyPlace() != planet.getSky()#}
                <div class="pt-2 float-left"><a href="{{ planet.getId() }}"><img height="32" width="32" src="{{ vich_uploader_asset(planet, 'imageFile') }}"></a></div>
                <div class="float-right">
                    <div class="mt-2">
                        {{ planet.getName() }} - <span><a href="{{ path('map', {id: planet.getSector().getPosition(), 'idp': planet.getId()}) }}">{{ planet.getSector().getGalaxy.getPosition() }}:{{ planet.getSector().getPosition() }}:{{ planet.getPosition() }}</a></span>
                    </div>
                    <div class="ml-2">
                        {{ planet.getGroundPlace() }}/{{ planet.getGround() }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"> {{ planet.getSkyPlace() }}/{{ planet.getSky() }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'SkyImg'|trans }}" src="{{ asset('img/sky.png') }}">
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</nav>