{% trans_default_domain 'front_menu' %}

<div id="top-menu" class="navbar">
    <div class="btn-group">
        <span class="btn-top dropdown-toggle" data-toggle="dropdown">{{ 'game'|trans }}</span>
        <ul class="dropdown-menu menu-home" role="menu">
            <li>
                <a class="btn-menu" href="{{ path('point_game') }}">{{ 'objective'|trans }}</a>
            </li>
            <li>
                <a class="btn-menu" href="{{ path('rules') }}">{{ 'rules'|trans }}</a>
            </li>
            <li>
                <a class="btn-menu" href="{{ path('statistics') }}">{{ 'statistic'|trans }}</a>
            </li>
        </ul>
    </div>
    <a class="btn-top" href="{{ path('medias') }}">{{ 'media'|trans }}</a>
    <a class="btn-top" target="_blank" href="http://area-control.forumactif.com/">{{ 'forum'|trans }}</a>
    <div>
        <a href="{{ path('home') }}"><img width="80" src="{{ asset('img/logo.png') }}">
            <span class="uni-title">UNIVERSE</span>
        </a>
        <span class="language-chose">
            <a class="pl-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img width="20" src="{{ asset('img/french.png') }}"></a>
            <a class="pl-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img width="20" src="{{ asset('img/english.png') }}"></a>
            <a class="pl-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}"><img width="20" src="{{ asset('img/deutsch.png') }}"></a>
        </span>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group">
            <span class="btn-top dropdown-toggle" data-toggle="dropdown">{{ 'easyadmin'|trans }}</span>
            <ul class="dropdown-menu menu-home" role="menu">
                <li>
                    <a class="btn-menu" href="{{ path('active_server') }}" target="_blank">{{ 'serveur.activate'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('deactive_server') }}" target="_blank">{{ 'serveur.deactivate'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('create') }}" target="_blank">{{ 'serveur.createBig'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('create_little') }}" target="_blank">{{ 'serveur.createLittle'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('destroy_sectors') }}" target="_blank">{{ 'serveur.kill.sector'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('destroy') }}" target="_blank">{{ 'serveur.kill.serveur'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('easyadmin') }}" target="_blank">{{ 'easyadmin'|trans }}</a>
                </li>
                <li>
                    <a class="btn-menu" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
                </li>
            </ul>
        </div>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn-top" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
    {% endif %}
</div>
<div class="footer">
    <a href="http://www.facebook.com/areauniverse/" target="_blank">{{ 'footer'|trans }}</a>
</div>
