{% trans_default_domain 'front_menu' %}

<div class="navbar navbar-dark bg-top">
    <span class="ressource">{{ app.user.getUsername() }} {{ 'metal'|trans }}</span>
    <span class="ressource">{{ app.user.getUsername() }} {{ 'petrol'|trans }}</span>
    <span class="ressource">{{ app.user.getUsername() }} {{ 'water'|trans }}</span>
    <span class="ressource">{{ app.user.getUsername() }} {{ 'coin'|trans }}</span>
    <a class="top" href="{{ path('message') }}">{{ 'message'|trans }}</a>
    <a class="top" href="{{ path('salon') }}">{{ 'salon'|trans }}</a>
    <a class="top" href="{{ path('report') }}">{{ 'report'|trans }}</a>
    <a class="top" href="{{ path('rank') }}">{{ 'top'|trans }}</a>
</div>