{% trans_default_domain 'front_menu' %}

<div class="navbar navbar-dark bg-top">
    <span class="ressource niobium" data-toggle="tooltip" data-placement="top" title="{{ 'niobium'|trans }}"><span class="reload">{{ usePlanet.getNiobium() }}</span>  <img src="{{ asset('img/niobium.png') }}"></span>
    <span class="ressource water" data-toggle="tooltip" data-placement="top" title="{{ 'water'|trans }}"><span class="reload">{{ usePlanet.getWater() }}</span>  <img src="{{ asset('img/water.png') }}"></span>
    <span class="ressource bitcoin" data-toggle="tooltip" data-placement="top" title="{{ 'coin'|trans }}"><span class="reload">{{ app.user.getBitcoin() }}</span> <img src="{{ asset('img/coin.png') }}"></span>
    <a class="top" href="{{ path('message', {'idp': usePlanet.getId()}) }}) }}"><div class="glyphicon glyphicon-envelope"></div> {{ 'message'|trans }}</a>
    <a class="top" href="{{ path('salon', {'idp': usePlanet.getId()}) }}) }}"><div class="glyphicon glyphicon-comment"></div> {{ 'salon'|trans }}</a>
    <a class="top" href="{{ path('report', {'idp': usePlanet.getId()}) }}) }}"><div class="glyphicon glyphicon-exclamation-sign"></div> {{ 'report'|trans }}</a>
    <a class="top" target="_blank" href="http://area-control.forumactif.com/">{{ 'forum'|trans }}</a>
    <a class="top" href="{{ path('rank', {'idp': usePlanet.getId()}) }}) }}">{{ 'top'|trans }}</a>
</div>