{% trans_default_domain 'front_menu' %}

<div class="navbar navbar-ressource navbar-dark bg-top">
    <span>{{ usePlanet.getName() }} : <a href="{{ path('map', {id: usePlanet.getSector().getPosition(), 'idp': usePlanet.getId()}) }}">{{ usePlanet.getSector().getGalaxy.getPosition() }}:{{ usePlanet.getSector().getPosition() }}:{{ usePlanet.getPosition() }}</a></span>
    <span data-toggle="tooltip" data-placement="bottom" title="{{ 'niobium'|trans }}"><span id="niobium">{{ usePlanet.getNiobium()|number_format }}</span> / {{ usePlanet.getNiobiumMax()|number_format }} <span class="text-vert">+<span class="takeProd">{{ (usePlanet.getNbProduction() * 60)|number_format }}</span>/h</span> <img src="{{ asset('img/niobium.png') }}"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="{{ 'water'|trans }}"><span id="water">{{ usePlanet.getWater()|number_format }}</span> / {{ usePlanet.getWaterMax()|number_format }} <span class="text-vert">+<span class="takeProd">{{ (usePlanet.getWtProduction() * 60)|number_format }}</span>/h</span> <img src="{{ asset('img/water.png') }}"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="{{ 'coin'|trans }}"><span id="bitcoin">{{ app.user.getBitcoin()|number_format }}</span> <img src="{{ asset('img/coin.png') }}"></span>
    <span>{{ usePlanet.getGroundPlace() }}/{{ usePlanet.getGround() }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'groundImg'|trans }}" src="{{ asset('img/ground.png') }}"> {{ usePlanet.getSkyPlace() }}/{{ usePlanet.getSky() }} <img data-toggle="tooltip" data-placement="bottom" title="{{ 'SkyImg'|trans }}" src="{{ asset('img/sky.png') }}"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="{{ 'workers'|trans }}"><span id="worker">{{ usePlanet.getWorker()|number_format }}</span> / {{ usePlanet.getWorkerMax()|number_format }} <img src="{{ asset('img/worker.png') }}"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="{{ 'soldiers'|trans }}"><span id="soldier">{{ usePlanet.getSoldier()|number_format }}</span> / {{ usePlanet.getSoldierMax()|number_format }} <img src="{{ asset('img/soldier.png') }}"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="{{ 'scientists'|trans }}">{{ usePlanet.getScientist()|number_format }} / {{ usePlanet.getScientistMax()|number_format }} <img src="{{ asset('img/scientist.png') }}"></span>
</div>

<div class="footer">
    <a href="http://www.facebook.com/areauniverse/" target="_blank">{{ 'footer'|trans }}</a>
</div>