{% trans_default_domain 'front_menu' %}

<div id="top-menu" class="navbar">
    <div class="btn-group">
        <span class="btn-top dropdown-toggle" data-toggle="dropdown">{{ 'game'|trans }}</span>
        <ul class="dropdown-menu menu-home" role="menu">
            <li>
                <a class="btn-menu" href="{{ path('medias') }}">{{ 'media'|trans }}</a>
            </li>
            <li>
                <a class="btn-menu" href="{{ path('point_game') }}">{{ 'objective'|trans }}</a>
            </li>
            <li>
                <a class="btn-menu" href="{{ path('rules') }}">{{ 'rules'|trans }}</a>
            </li>
        </ul>
    </div>
    <a class="btn-top" href="{{ path('universe_unconnected') }}">{{ 'univers'|trans }}</a>
    <div>
        <a href="{{ path('home') }}"><img alt="{{ 'image'|trans({},'front_global') }}" width="80" src="{{ asset('img/logo.png') }}">
            <span class="uni-title">UNIVERSE</span>
        </a>
        <span class="language-chose">
            <a class="pl-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img alt="{{ 'image'|trans({},'front_global') }}" width="20" src="{{ asset('img/french.png') }}"></a>
            <a class="pl-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img alt="{{ 'image'|trans({},'front_global') }}" width="20" src="{{ asset('img/english.png') }}"></a>
            <a class="pl-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}"><img alt="{{ 'image'|trans({},'front_global') }}" width="20" src="{{ asset('img/deutsch.png') }}"></a>
        </span>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn-top" href="{{ path('administration') }}">{{ 'easyadmin'|trans }}</a>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn-top" href="{{ path('erase_cookie') }}">{{ 'logout'|trans }}</a>
    {% endif %}
</div>
<div class="footer">
    <a class="footer-left" href="https://www.mriviere.eu/" target="_blank">{{ 'mriviere'|trans }}{% if 'maj.mriviere.eu' in app.request.uri %} - <span class="text-orange">{{ 'under.maj'|trans }}</span>{% endif %}</a>
    <a class="footer-right" href="https://www.facebook.com/areauniverse/" target="_blank">{{ 'footer'|trans }}</a>
</div>
