{% extends 'private/base.html.twig' %}

{% trans_default_domain 'front_index' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}
        <div class="flash-notice mt-5 alerte-flash-error text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_PRIVATE') %}
        <div class="row mt-5">
            <div class="offset-3 col-6 text-center">
                <div id="connect-register">
                    <form action="{{ path('private_salon') }}" method="post">
                        <div>
                            <input class="login-input" required="required" type="text" id="username" placeholder="{{ 'username'|trans }}" name="_username"/>
                        </div>
                        <div>
                            <input class="login-input" required="required" type="password" placeholder="{{ 'password'|trans }}" id="password" name="_password"/>
                        </div>
                        <div>
                            <button class="confirm-button" type="submit">{{ 'login'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="text-center mt-5"><a class="logout-private" href="{{ path('logout') }}">{{ 'logout'|trans }}</a></div>
{% endblock %}
